@-webkit-keyframes anim {
  from { opacity: 0; max-height: 0px; }
  to { opacity:1; max-height: 50px;  }
}

@-webkit-keyframes rotate {
  from { -webkit-tranform:rotate(0deg); }
  to { -webkit-transform: rotate(360deg);  }
}


@-webkit-keyframes spin {
  from { -webkit-tranform:rotateY(0deg); }
  to { -webkit-transform: rotateY(360deg);  }
}

.spin {
  -webkit-animation: spin 2s infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-backface-visibility: visible;
}


.fastspin {
  -webkit-animation: spin 0.5s infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-backface-visibility: visible;
}

@-webkit-keyframes zoom {
  from { 
  	height:0px;
  	overflow:hidden;
  	-webkit-transform: translateY(-100%);
  	opacity: 0;
  }
  to { 
  	height: 40px;
  	overflow:visible;
  	-webkit-transform: translateY(0);
  	opacity: 1;
  }
}

[ui-view].ng-enter, [ui-view].ng-leave {
 
  -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
 
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}