/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

body {
  background-color: #eee;
  background-image:url('/img/background.png');
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Actor', sans-serif;
  color: #444;
}
@font-face {
  font-family: 'Actor';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidSansMono.ttf');
}

body > .container {
  padding:20px;
}

h2 {
  color: #222;
}
#actionbar {
  position: absolute;
  bottom: 0.5em;
  right: 1.0em;
}

#actionbar a {
  font-size: 2.2rem;
  color: #000;
}

.typeahead ul {
  max-height: 150px;
  border: 1px solid #333;
  padding: 3px;
  overflow: auto;
}

serieheader > div {
  background-color: black;
  position: relative;
   overflow: hidden;
}
serieheader.full > div {
  background-color: rgba(0,0,0,0.5);
}

serieheader .banner {
  height: 150px;
  background-repeat:no-repeat; 
  background-size: cover; 
  width:100%;
}
serieheader h3 {
  color:white; 
  margin-top:-35px;
  background-color: rgba(0,0,0,0.5);
  padding: 5px; 
  margin-bottom:0;
  white-space:nowrap; 
  text-overflow:ellipsis;
}
serieheader .overview {
  color: white; 
  background-color: rgba(0,0,0,0.5); 
  padding: 5px; 
  font-size:10px; 
  color: white; 
  font-family:arial;
}

serieheader.full .overview {
  font-size: 14px;
  padding: 10px;
}

serieheader aside {
  position: absolute;
  top:0;
  right:-150px;
  bottom:0;
  width: 150px;
  padding: 10px;
  transition: right 0.5s ease-in-out;
}

serieheader:hover aside {
  right: 0;
}

.series serieheader > div{
  border: 1px solid #111;
}

.series serieheader:hover > div {
  opacity: 1;
}

.series serieheader+serieheader > div {
  border-bottom:0;
}

.series serieheader:first-child > div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.series serieheader:last-child > div {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.series serieheader {
  bor
}

.dropdown-menu {
  margin: 0;
  padding:0;
  border: 1px solid black;
  max-height: 400px;
  overflow-y: scroll;
}

.table.light {
  color: white;
  background-color: rgba(0,0,0,0.8);
}

.nobreaks {
  white-space: nowrap;
}

.serie h1 {
  color:black;
}

.dropdown-menu {
  color: black;
  max-width: 500px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}

chrome-top-sites ul {
  margin: 0;
  padding: 0;
  height: 1%;
}

chrome-top-sites li {
  background-color: rgba(255,255,255,0.5);
  color: black;
  padding: 15px;
  float: left;
  width: calc(50% - 5px);
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #666;
  height: 260px;
  overflow: hidden;
}

chrome-top-sites li:nth-child(odd) {
  margin-left:0;
}


chrome-top-sites li:nth-child(even) {
  margin-right:0;
}

chrome-top-sites a {
  color: #333;
  font-family: verdana;
}

chrome-top-sites a:hover {
  color: #444;
}

chrome-top-sites img {
  border-radius: 5px;
  border: 1px solid #333;
  width:200px;
  height: 200px;
  background-color: black;
}

chrome-top-sites li:hover {
  background-color: rgba(255,255,255,0.7);
}

fieldset {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  margin-bottom: 10px;
}

fieldset:hover {
  background-color: rgba(255,255,255,0.7);
  transition: background-color 0.5s ease-in-out;
}

fieldset h2 {
  margin-top: 0;
}

input[type=text] {
  border: 1px solid #333;
}

.form-control:focus {
  border-color: #222;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(2,2,2,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(2,2,2,.6);
}