<div class="series adding" ng-class="{'miniposter': serieslist.isSmall}">

	<h1 style='margin-bottom:15px;margin-top:15px;color:rgb(225,225,225);'>{{'SERIESLIST/TRAKT-TRENDING/addtrending-help/hdr'|translate}} - {{'SERIESLIST/TRAKT-TRENDING/addtrending-help-click-to-show/hdr'|translate}}</h1>

	<!-- no series, show intro text and trakt connect/ backup import -->
	<div class="alert alert-info" style='margin:20px;text-align:left;white-space:normal;font-size: 14px'>
	    <strong>{{'SERIESLIST/EMPTY-IMPORT/series-no/hdr'|translate}}</strong>
	    {{'SERIESLIST/EMPTY-IMPORT/series-no/desc'|translate}}<br>
	    <strong style='display:inline'><button ng-click="showBackup = true; showTrakt = false" style='color:black; position:relative;'>{{'SERIESLIST/EMPTY-IMPORT/import/btn'|translate}} </button></strong> or <strong  style='display:inline'><button ng-click="showTrakt = true;showBackup = false" style='color:black'>{{'SERIESLIST/EMPTY-IMPORT/connect-to-traktTV/btn'|translate}}</button></strong>
	    <div ng-if="showTrakt == true" ng-controller='TraktTVCtrl' ng-include="'templates/settings/trakt-import.html'"></div>
	    <div ng-if="showBackup == true" ng-include="'templates/settings/backup-import.html'"></div>
	</div>

	<!-- Trending series loading -->
	<h1 style='text-align:center' ng-if="trending.results.length == 0"><img src="img/spinner.gif"><br>{{'SERIESLIST/TRAKT-TRENDING/addtrending-help-please-wait/hdr'|translate}}</h1>

	<div class="filters" ng-if="trending.categories && !trending.results.length == 0">
		<button ng-repeat="(category, on) in trending.categories" class="btn btn-xs btn-default" style="padding: 1px 7px" ng-click="trending.toggleCategory(category)" ng-class="{'active': trending.activeCategory == category}">{{trending.translateCategory(category)}}</button>
	</div>

	<!-- Repeated trending serie results -->
	<serieHeader ng-repeat="serie in trending.getFilteredResults()  | limitTo: trending.limit track by serie.tvdb_id" ng-mouseenter="serieslist.setHoverSerie(serie)" data="serie" no-overview="1" no-title="1" mode="poster" ng-click="serieslist.selectSerie(serie)">
	    <em class="earmark" ng-show="serieslist.isAdded(serie.tvdb_id)">&check;</em>
	    <em class="earmark adding" ng-show="serieslist.isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="33px" height="33px"></em>
	    <em class="earmark error" ng-show="serieslist.isError(serie.tvdb_id)" tooltip="{{serieslist.error[serie.tvdb_id]}}" tooltip-append-to-body="true" > :( </em>
	</serieHeader>
	<button class="btn btn-info" ng-click="trending.limit = trending.limit + 100" ng-if="trending.filtered && trending.limit < trending.filtered.length" style="display:block; margin:0 auto; width: 50%;"><i class="glyphicon glyphicon-plus"></i>{{'SERIESLIST/EMPTY-IMPORT/show-more/btn'|translate}}</button>
	</div>
</div>