<div class="filters" style='text-align:center;padding:10px 20px 20px 20px; position: absolute; left: 65px; top: 50px;'>
	<button ng-repeat="(category, on) in trending.categories" class="btn btn-xs btn-default" ng-click="trending.toggleCategory(category)" ng-class="{'active': trending.activeCategory == category}">{{trending.translateCategory(category)}}</button>
</div>

<div class="series adding"  ng-class="{'miniposter': serieslist.isSmall}">

	<!-- no series, show intro text and trakt connect/ backup import -->
	<p class="alert alert-info" style='margin:20px;text-align:left;white-space:normal'>
	    <strong>{{'SERIESLIST/EMPTY-IMPORT/series-no/hdr'|translate}}</strong><br>
	    {{'SERIESLIST/EMPTY-IMPORT/series-no/desc'|translate}}<br>
	    <strong style='display:inline'><button ng-click="showBackup = true" style='color:black; position:relative;'>{{'SERIESLIST/EMPTY-IMPORT/import/btn'|translate}} </button></strong> or <strong  style='display:inline'><button ng-click="showTrakt = true" style='color:black'>{{'SERIESLIST/EMPTY-IMPORT/connect-to-traktTV/btn'|translate}}</button></strong>
	    <div ng-if="showTrakt == true" ng-controller='TraktTVCtrl' ng-include="'templates/settings/trakt-import.html'"></div>
	    <div ng-if="showBackup == true" ng-include="'templates/settings/backup-import.html'"></div>
	</p>

	<h1 style='color:white; text-align:center'>{{'SERIESLIST/EMPTY-IMPORT/addtrending-help/hdr'|translate}} - {{'SERIESLIST/EMPTY-IMPORT/addtrending-help-click-to-show/hdr'|translate}}</h1>

	<!-- Trending series loading -->
	<h1 style='text-align:center' ng-if="trending.results.length == 0"><img src="img/spinner.gif"><br>{{'SERIESLIST/EMPTY-IMPORT/addtrending-help-please-wait/hdr'|translate}}</h1>

	<!-- Repeated trending serie results -->
	<serieHeader ng-repeat="serie in trending.getFilteredResults()  | limitTo: trending.limit track by serie.tvdb_id" ng-mouseenter="serieslist.setHoverSerie(serie)" data="serie" no-overview="1" mode="poster" ng-click="serieslist.selectSerie(serie)">
	    <em class="earmark" ng-show="serieslist.isAdded(serie.tvdb_id)">&check;</em>
	    <em class="earmark adding" ng-show="serieslist.isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="37px" height="37px"></em>
	    <em class="earmark error" ng-show="serieslist.isError(serie.tvdb_id)" tooltip="{{serieslist.error[serie.tvdb_id]}}" tooltip-append-to-body="true" > :( </em>
	</serieHeader>
	<button class="btn btn-info" ng-click="trending.limit = trending.limit + 100" ng-if="trending.filtered && trending.limit < trending.filtered.length" style="display:block; margin:0 auto; width: 50%;"><i class="glyphicon glyphicon-plus"></i>{{'SERIESLIST/EMPTY-IMPORT/show-more/btn'|translate}}</button>
	</div>
</div>