<div class="table table-condensed light" style='margin-bottom:0; margin-top:20px; position:relative;'>
   <table class="table table-condensed light">
    <tbody>
      <tr>
        <td colspan="2">
          <h3 style="text-align:center">{{serieslist.serie.title}}</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <center><serieheader mode="poster" data="serieslist.serie"></serieheader></center>
        </td>
      </tr>
      <tr ng-if="serieslist.serie.airs.day" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/airs-on/hdr'|translate}}</th>
        <td>{{translateDayOfWeek(serieslist.serie.airs.day)}} {{serieslist.serie.airs.time}} {{serieslist.serie.airs.timezone}}</td>
      </tr>
      <tr ng-if="serieslist.serie.first_aired" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/first-aired/hdr'|translate}}</th>
        <td>{{ serieslist.serie.first_aired | date:'mediumDate' }}</td>
      </tr>
      <tr ng-if="serieslist.serie.status" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/status/hdr'|translate}}</th>
        <td>{{translateStatus(serieslist.serie.status)}}</td>
      </tr>
      <tr ng-if="serieslist.serie.genres" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/genre/hdr'|translate}}</th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="genre in serieslist.serie.genres track by $index">{{translateGenre(genre)}}</li>
          </ul>
        </td>
      </tr>
      <tr ng-if="serieslist.serie.certification" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/content-rating/hdr'|translate}}</th>
        <td>{{serieslist.serie.certification}}</td>
      </tr>
      <tr ng-if="serieslist.serie.country" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/country/hdr'|translate}}</th>
        <td>{{serieslist.serie.country}}</td>
      </tr>
      <tr ng-if="serieslist.serie.network" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/network/hdr'|translate}}</th>
        <td>{{serieslist.serie.network}}</td>
      </tr>
      <tr ng-if="serieslist.serie.rating" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/rating/hdr'|translate}}</th>
        <td>{{ratingPercentage(serieslist.serie.rating)}}% ({{serieslist.serie.votes}} {{'SERIESLIST/SEARCHING-SIDEPANEL/votes/lbl'|translate}})</td>
      </tr>
      <tr ng-if="serieslist.serie.runtime" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/run-time/hdr'|translate}}</th>
        <td>{{serieslist.serie.runtime}} {{'SERIESLIST/SEARCHING-SIDEPANEL/minutes/lbl'|translate}}</td>
      </tr>
      <tr ng-if="serieslist.serie.actors" >
        <th>{{'SERIESLIST/SEARCHING-SIDEPANEL/actors/hdr'|translate}}</th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="actors in serieslist.serie.actors track by $index">{{actors}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
