<div class="table table-condensed light" style='margin-bottom:0; margin-top:20px; position:relative;'>
   <table class="table table-condensed light">
    <tbody>
      <tr>
        <td colspan="2">
          <h3 style="text-align:center">{{serie.title}}</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <center><serieheader mode="poster" data="serie"></serieheader></center>
        </td>
      </tr>
      <tr ng-if="serie.airs.day" >
        <th>{{'TRAKTSERIEDETAILS/airs-on/hdr'|translate}}</th>
        <td>{{translateDayOfWeek(serie.airs.day)}} {{serie.airs.time}} {{serie.airs.timezone}}</td>
      </tr>
      <tr ng-if="serie.first_aired" >
        <th>{{'TRAKTSERIEDETAILS/first-aired/hdr'|translate}}</th>
        <td>{{ serie.first_aired | date:'mediumDate' }}</td>
      </tr>
      <tr ng-if="serie.status" >
        <th>{{'TRAKTSERIEDETAILS/status/hdr'|translate}}</th>
        <td>{{translateStatus(serie.status)}}</td>
      </tr>
      <tr ng-if="serie.genres" >
        <th>{{'TRAKTSERIEDETAILS/genre/hdr'|translate}}</th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="genre in serie.genres track by $index">{{translateGenre(genre)}}</li>
          </ul>
        </td>
      </tr>
      <tr ng-if="serie.certification" >
        <th>{{'TRAKTSERIEDETAILS/content-rating/hdr'|translate}}</th>
        <td>{{serie.certification}}</td>
      </tr>
      <tr ng-if="serie.country" >
        <th>{{'TRAKTSERIEDETAILS/country/hdr'|translate}}</th>
        <td>{{serie.country}}</td>
      </tr>
      <tr ng-if="serie.network" >
        <th>{{'TRAKTSERIEDETAILS/network/hdr'|translate}}</th>
        <td>{{serie.network}}</td>
      </tr>
      <tr ng-if="serie.rating" >
        <th>{{'TRAKTSERIEDETAILS/rating/hdr'|translate}}</th>
        <td>{{serie.rating}} ({{serie.votes}} {{'TRAKTSERIEDETAILS/votes/lbl'|translate}})</td>
      </tr>
      <tr ng-if="serie.runtime" >
        <th>{{'TRAKTSERIEDETAILS/run-time/hdr'|translate}}</th>
        <td>{{serie.runtime}} {{'TRAKTSERIEDETAILS/minutes/lbl'|translate}}</td>
      </tr>
      <tr ng-if="serie.actors" >
        <th>{{'TRAKTSERIEDETAILS/actors/hdr'|translate}}</th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="actors in serie.actors track by $index">{{actors}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
