<!-- serieslist/serieHeader.html -->
<div class="serieheader" ui-sref-active="active" uib-tooltip-template="'serieslist.serieHeaderTitleTooltip.html'" tooltip-popup-delay="130" tooltip-append-to-body="true">
  <div ng-show="!noBadge">
    <em ng-show="data.notWatchedCount != 0 " class="badge">
      <i class="glyphicon glyphicon-eye-close" ></i> {{data.notWatchedCount}}
    </em>
  </div>
  <a class="{{mode}}" ng-if="!noListButton" ui-sref="serie({id: data.ID_Serie})" ui-sref-opts="{reload: true}" lazy-background="{{mode == 'poster' ? data.poster : data.banner}}" alt-lazy="1">
    <figure>
      <div class="img"></div>
      <figcaption>
        <h3 class="title" ng-show="!noTitle || mode == 'banner'">{{data.name}}</h3></figcaption>
    </figure>
  </a>
  <a class="{{mode}}" ng-if="noListButton" lazy-background="{{mode == 'poster' ? data.poster : data.banner}}" alt-lazy="1">
    <figure>
      <div class="img"></div>
      <figcaption>
        <h3 class="title" ng-show="!noTitle || mode == 'banner'">{{data.name}}</h3></figcaption>
    </figure>
  </a>
  <div ng-show="!noOverview" class='overview'>
    <p>{{data.overview}}</p>
  </div>
  <div ng-transclude></div>
</div>
<script type="text/ng-template" id="serieslist.serieHeaderTitleTooltip.html">
  <strong ng-if="mode == 'poster'">{{data.name}}</strong>
  <div ng-show="!noBadge">
    <div ng-show="data.notWatchedCount == 0 ">
      ({{'COMMON/all-watched/tooltip'|translate}})
    </div>
    <div ng-show="data.notWatchedCount != 0">
      ({{data.notWatchedCount}} {{'COMMON/to-watch/tooltip'|translate}})
    </div>
  </div>
</script>
