<!-- serieslist\trakt-searching.html -->
<!-- search results -->
<div class="series adding" ng-class="{'miniposter': serieslist.isSmall}">   

    <h1 ng-if="traktSearch.error"><img src="img/icon64-inverted.png" style='-webkit-transform:rotate(-220deg); display:block; margin:0 auto;' />{{'SERIESLIST/TRAKT-SEARCHING/error-with-trakttv/lbl'|translate}}<br>{{ traktSearch.error.statusText }} </h1>

    <div ng-show="traktSearch.searching">
    <img src="img/trakt.png" class="spin">
    <h3> {{ "SERIESLIST/TRAKT-SEARCHING/please-wait/lbl"|translate }}</h3>
    </div>

    <!-- If no results -->
    <h1 ng-if="!traktSearch.searching && traktSearch.results.length == 0">{{'SERIESLIST/TRAKT-SEARCHING/no-results/lbl'|translate}}{{traktSearch.search.query}}</h1>

    <!-- Repeated serie search results -->
    <serieHeader ng-if="traktSearch.results.length > 0" ng-repeat="serie in traktSearch.results" data="serie" ng-mouseenter="traktSearch.setHoverSerie(serie)" no-overview="1" mode="{{serieslist.mode}}" ng-click="serieslist.selectSerie(serie)">
    <em class="earmark trailer" >
            <a ng-if="serie.trailer" href="{{serie.trailer}}" target="_blank" tooltip="Watch Trailer" tooltip-append-to-body="true" tooltip-placement="bottom"  ng-mousedown="serieslist.selectTrailer(serie,true)" ng-mouseup="serieslist.selectTrailer(serie,false)"><i class="glyphicon glyphicon-facetime-video"></i></a>
            <a ng-if="!serie.trailer" href="https://www.youtube.com/results?search_query={{serie.name}}+official+trailer" target="_blank" tooltip="Watch Trailer" tooltip-append-to-body="true"  tooltip-placement="bottom"  mousedown="serieslist.selectTrailer(serie,false)" ng-mouseup="serieslist.selectTrailer(serie,true)"><i class="glyphicon glyphicon-facetime-video"></i></a>
        </em>
        <em class="earmark" ng-show="serieslist.isAdded(serie.tvdb_id)">&check;</em>
        <em class="earmark adding" ng-show="serieslist.isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="37px" height="37px"></em>
        <em class="earmark error" ng-show="serieslist.isError(serie.tvdb_id)" tooltip="{{error[serie.tvdb_id]}}" tooltip-append-to-body="true" > :( </em>        
    </serieHeader>

    <!-- no series, show intro text and trakt connect/ backup import -->
    <p class="alert alert-info" ng-show="serieslist.favorites.length == 0 && !serieslist.showTrakt" style='margin:20px;text-align:left;white-space:normal'>
        <strong>{{'SERIESLIST/TRAKT-SEARCHING/series-no/hdr'|translate}}</strong><br>
        {{'SERIESLIST/TRAKT-SEARCHING/series-no/desc'|translate}}<br>
        <strong style='display:inline'><button ng-click="showBackup = true" style='color:black; position:relative;'>{{'SERIESLIST/TRAKT-SEARCHING/import/btn'|translate}} </button></strong> or <strong  style='display:inline'><button ng-click="serieslist.showTrakt = true" style='color:black'>{{'SERIESLIST/TRAKT-SEARCHING/connect-to-traktTV/btn'|translate}}</button></strong>
        <div ng-if="serieslist.showTrakt == true" ng-controller='TraktTVCtrl' ng-include="'templates/settings/trakt-import.html'"></div>
        <div ng-if="serieslist.showBackup == true" ng-include="'templates/settings/backup-import.html'"></div>
    </p>
</div>