node_modules/
locales/
dist/
npm-debug.log
DuckieTV.exe
ffmpegsumo.dll
icudt.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
nw.pak
.srclib-cache/
.srclib-store/
DuckieDocs.exe
credits.html
d3dcompiler_47.dll
libffmpegsumo.so
nw
nwjc
nwjc.exe
pdf.dll
build/nwjs_download_cache
.idea
**/Thumbs.db