/*
 Stylesheet for seriesguide-chrome
 https://github.com/SchizoDuckie/seriesguide-chrome
 */

html {
    min-height: 80px;
    max-height: 450px;
    width: 400px;
}


/* For small-screen devices */
@media screen and (max-device-height: 700px) {
	body > div {
		height: 300px;
	}	
}


body, html {
    min-height: 80px;
    max-height: 450px;
    background-color: black;
    border-radius: 10px;
    overflow-y:visible;
}

* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(25, 25, 25, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    height: 100%;
    max-width: 400px;
    background-image: url(tpblogo.png);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

h5 {
    margin: 10px;
    font-size: 15px;
}

form {
    background: url(tpblogo.png) top right no-repeat, -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
    -webkit-background-size: contain;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    color: white;
}

body>div:target {
    display: block;
    border: 1px solid #efefef;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* one-page scrolling for safari mobile, see step4 */
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    bottom: 0;
    min-height: 80px;
    /*max-height: 760px;*/
}

body>div:not(:target) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all .5s ease-in;
    -webkit-transform: translateX(-1000px); /* Put all inactive sections off-page */
    z-index: 9000;
    background-color: white;
    z-index: 50;
}

body >div:not(:target)  li {
    position: absolute !important;
    top: 0;
    left: 0;
}

.overflower {
    width: 100%;
    min-height: 300px;
    overflow-y: visible;
}

#searchresult {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

td {
    vertical-align: top;
}

.shows {
    width: 95%;
}

.shows td {
    font-size: 10px;
}

div> img {
    max-width: 100%
}

.removefromfaves {
    float: right;
}

div > p {
    padding: 5px;
    font-size: 11px;
}

.shows td:nth-last-child(2) {
    white-space: nowrap;
}

.shows td:last-child {
    width: 12px;
}

#searchresults {
    display: none;
}

#searchresult li {
    border: 1px solid black;
    max-width: 400px;
    list-style-type: none;
}

#searching {
    display: none;
}

#searchresult li p {
    padding: 5px;
}

#searchresult li img {
    display: block;
    position: relative;
    width: 100%;
}

#favorites {

}

#favorites li {
    height: 100px;
    -webkit-background-size: cover;
    position: relative;
    overflow: hidden;
}

#favorites li strong {
    display: block;
    cursor: pointer;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 40px;
    -webkit-transform: translateY(40px);
    -webkit-transition: all 0.2s ease-in;
}

#favorites li:hover strong {
    -webkit-transform: translateY(0px);
}

#favorites li strong:hover {
    text-decoration: underline;
}

#favorites ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#favorites li {
    margin: 0;
    width: 100%;
}

#nextairdate, #nextepisode {
    font-size: 10px;
    line-height: 20px;
    float: right;
    position: absolute;
    right: 0;
    top: 20px;
    width: 120px;
    -webkit-transform: translateY(-50px);
    text-shadow: 0 0 4px black;
    color: white;
}

#nextepisode {
    top: 0;
}
