<!doctype html>
<html ng-app="DuckieTV" ng-csp ng-strict-di>
<head>
  <meta charset="UTF-8">
  <title>DuckieTV</title>

  <!-- deploy:replace='<link rel="stylesheet" href="dist/style.css">' -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/anim.css">
  <link rel="stylesheet" href="css/dialogs.css">
  <link rel="stylesheet" href="css/flags.css">
  <!-- /deploy:replace -->
  <!-- deploy:replace='<link rel="stylesheet" media="print" href="dist/print.css">' -->
  <link rel="stylesheet" media="print" href="css/print.css">
  <!-- /deploy:replace -->
  <link rel="shortcut icon" type="image/png" href="img/logo/icon16.png" />
</head>
<body kc>
  <div class="windowChrome">
    <button class="glyphicon glyphicon-win-minimize" id='minimize' uib-tooltip="{{ 'COMMON/minimize/btn'|translate }}" tooltip-placement="bottom"></button>
    <button class="glyphicon glyphicon-win-restore" id='unmaximize' uib-tooltip="{{ 'TAB/unmaximize/glyph'|translate }}" tooltip-placement="bottom" style='display:none'></button>
    <button class="glyphicon glyphicon-win-maximize" id='maximize' uib-tooltip="{{ 'TAB/maximize/glyph'|translate }}" tooltip-placement="bottom"></button>
    <button class="glyphicon glyphicon-win-close" id='close' uib-tooltip="{{ 'COMMON/close/btn'|translate }}" tooltip-placement="bottom"></button>
  </div>

  <background-rotator channel="'background:load'" style="opacity:{{getSetting('background-rotator.opacity')}}"></background-rotator>
  <chrome-top-sites ng-if="getSetting('topSites.enabled')" class="{{getSetting('topSites.mode')}}"></chrome-top-sites>

  <div class="container" ng-class="{'topsites': getSetting('topSites.enabled')}">
    <clicktrap></clicktrap>
    <calendar ng-if="getSetting('main.viewmode') == 'calendar'" ng-show="!isPanelOpen()" event-service="CalendarEvents" view="{{getSetting('calendar.mode')}}"></calendar>
    <calendar ng-if="getSetting('main.viewmode') == 'todo'" template="templates/todopicker.html" event-service="CalendarEvents" view="date"></calendar>
  </div>

  <series-list ui-view="favorites"></series-list>
  <action-bar></action-bar>

  <sidepanel>
    <div ui-view="sidePanel"></div>
  </sidepanel>
  <query-monitor ng-class="{show: queryStats.writesQueued - queryStats.writesExecuted > 1}"></query-monitor>
  <fast-search></fast-search>
  <img class='printlogo' src='img/logo/icon64.png'>

  <!-- deploy:replace='<script src="dist/deps.js"></script>' -->
  <script src='js/vendor/promise.min.js'></script>
  <script src="js/utility.js"></script>
  <script src='js/vendor/CRUD.js'></script>
  <script src='js/vendor/CRUD.SqliteAdapter.js'></script>
  <script src='js/vendor/CRUD.BackgroundPageAdapter.js'></script>
  <script src='js/CRUD.entities.js'></script>
  <script src='js/CRUD.bootstrap.js'></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-animate.min.js"></script>
  <script src="js/vendor/angular-messages.min.js"></script>
  <script src="js/vendor/angular-sanitize.min.js"></script>
  <script src="js/vendor/ui-router.min.js"></script>
  <script src="js/vendor/ct-ui-router-extras.core.min.js"></script>
  <script src="js/vendor/ct-ui-router-extras.sticky.min.js"></script>
  <script src="js/vendor/angular-xml.min.js"></script>
  <script src='js/vendor/ui-bootstrap-custom-tpls-2.5.0.min.js'></script>
  <script src='js/vendor/tmhDynamicLocale.js'></script>
  <script src="js/vendor/dialogs.quacked.js"></script>
  <script src="js/vendor/angular-translate.js"></script>
  <script src="js/vendor/angular-translate-once.js"></script>
  <script src="js/vendor/angular-translate-loader-static-files.min.js"></script>
  <script src="js/vendor/angular-translate-handler-log.min.js"></script>
  <script src="js/vendor/angular-dialgauge.quacked.js"></script>
  <script src="js/vendor/api-check.min.js"></script>
  <script src="js/vendor/formly.min.js"></script>
  <script src="js/vendor/angular-formly-templates-bootstrap.min.js"></script>
  <script src="js/vendor/angular-xmlrpc.js"></script>
  <script src="js/vendor/moment.quacked.js"></script>
  <script src="js/vendor/moment-timezone-with-data.quacked.js"></script>
  <script src="js/vendor/stringify.js"></script>
  <script src="js/vendor/sha1.js"></script>
  <script src="js/vendor/xml2json.min.js"></script>
  <script src="js/vendor/base-x.js"></script>
  <script src="js/vendor/download.js"></script>
  <script src="js/vendor/parse-torrent.js"></script>
  <!-- /deploy:replace -->

  <!-- deploy:replace='<script src="dist/app.js"></script>' -->
  <script src="js/app.js"></script>
  <script src="js/app.authHttpBackend.js"></script>
  <script src="js/app.requestinterceptors.js"></script>
  <script src="js/app.routes.js"></script>
  <script src="js/app.standalone.update.js"></script>
  <script src="js/app.translate.js"></script>
  <script src="js/app.standalone.windowdressing.js"></script>
  <script src="js/app.standalone.systray.js"></script>
  <script src="js/app.standalone.zoom.js"></script>
  <script src="js/controllers/BackupDialogCtrl.js"></script>
  <script src="js/controllers/serieslist/LocalSeriesCtrl.js"></script>
  <script src="js/controllers/serieslist/SeriesListCtrl.js"></script>
  <script src="js/controllers/serieslist/TraktTVSearchCtrl.js"></script>
  <script src="js/controllers/serieslist/TraktTVTrendingCtrl.js"></script>
  <script src="js/controllers/settings/BackupCtrl.js"></script>
  <script src="js/controllers/settings/CalendarCtrl.js"></script>
  <script src="js/controllers/settings/jackettSearchEngineCtrl.js"></script>
  <script src="js/controllers/settings/DisplayCtrl.js"></script>
  <script src="js/controllers/settings/WindowCtrl.js"></script>
  <script src="js/controllers/settings/LanguageCtrl.js"></script>
  <script src="js/controllers/settings/SettingsTorrentCtrl.js"></script>
  <script src="js/controllers/settings/SubtitlesCtrl.js"></script>
  <script src="js/controllers/settings/SyncCtrl.js"></script>
  <script src="js/controllers/settings/SynologyCtrl.js"></script>
  <script src="js/controllers/settings/TraktTVCtrl.js"></script>
  <script src="js/controllers/settings/SerieSettingsCtrl.js"></script>
  <script src="js/controllers/settings/MiscellaneousCtrl.js"></script>

  <script src="js/controllers/settings/TorrentClients/Aria2.js"></script>
  <script src="js/controllers/settings/TorrentClients/BiglyBT.js"></script>
  <script src="js/controllers/settings/TorrentClients/Deluge.js"></script>
  <script src="js/controllers/settings/TorrentClients/qBittorrentPre32.js"></script>
  <script src="js/controllers/settings/TorrentClients/qBittorrent32plus.js"></script>
  <script src="js/controllers/settings/TorrentClients/Ktorrent.js"></script>
  <script src="js/controllers/settings/TorrentClients/rTorrent.js"></script>
  <script src="js/controllers/settings/TorrentClients/Tixati.js"></script>
  <script src="js/controllers/settings/TorrentClients/Transmission.js"></script>
  <script src="js/controllers/settings/TorrentClients/tTorrent.js"></script>
  <script src="js/controllers/settings/TorrentClients/uTorrentWebUI.js"></script>
  <script src="js/controllers/settings/TorrentClients/Vuze.js"></script>

  <script src="js/controllers/sidepanel/AboutCtrl.js"></script>
  <script src="js/controllers/sidepanel/AutodlstatusCtrl.js"></script>
  <script src="js/controllers/sidepanel/SettingsCtrl.js"></script>
  <script src="js/controllers/sidepanel/SidepanelEpisodeCtrl.js"></script>
  <script src="js/controllers/sidepanel/SidepanelSeasonCtrl.js"></script>
  <script src="js/controllers/sidepanel/SidepanelSeasonsCtrl.js"></script>
  <script src="js/controllers/sidepanel/SidepanelTraktSerieCtrl.js"></script>
  <script src="js/controllers/sidepanel/SidepanelSerieCtrl.js"></script>
  <script src="js/controllers/sidepanel/SynologyDSVideoCtrl.js"></script>
  <script src="js/controllers/sidepanel/TorrentCtrl.js"></script>
  <script src="js/controllers/sidepanel/TorrentDetailsCtrl.js"></script>

  <script src="js/directives/actionBar.js"></script>
  <script src="js/directives/backgroundRotator.js"></script>
  <script src="js/directives/calendar.js"></script>
  <script src="js/directives/calendarEvent.js"></script>
  <script src="js/directives/clicktrap.js"></script>
  <script src="js/directives/chromeTopSites.js"></script>
  <script src="js/directives/datePicker.js"></script>
  <script src="js/directives/episodeWatched.js"></script>
  <script src="js/directives/episodeDownloaded.js"></script>
  <script src="js/directives/fastSearch.js"></script>
  <script src="js/directives/focusWatch.js"></script>
  <script src="js/directives/lazyBackground.js"></script>
  <script src="js/directives/mouseWheelDown.js"></script>
  <script src="js/directives/mouseWheelUp.js"></script>
  <script src="js/directives/targetBlank.js"></script>
  <script src="js/directives/loadingSpinner.js"></script>
  <script src="js/directives/serieDetails.js"></script>
  <script src="js/directives/serieheader.js"></script>
  <script src="js/directives/seriesList.js"></script>
  <script src="js/directives/seriesGrid.js"></script>
  <script src="js/directives/stopEvent.js"></script>
  <script src="js/directives/sidePanel.js"></script>
  <script src="js/directives/subtitleDialog.js"></script>
  <script src="js/directives/queryMonitor.js"></script>
  <script src="js/directives/torrentDialog.js"></script>
  <script src="js/directives/torrentDialog2.js"></script>
  <script src="js/directives/torrentRemoteControl.js"></script>
  <script src="js/directives/contextMenu.js"></script>

  <script src="js/services/BackupService.js"></script>
  <script src="js/services/BaseHTTPApi.js"></script>
  <script src="js/services/DuckieTorrent.js"></script>
  <script src="js/services/CalendarEvents.js"></script>
  <script src="js/services/AutoDownloadService.js"></script>
  <script src="js/services/EpisodeWatchedMonitor.js"></script>
  <script src="js/services/FavoritesService.js"></script>
  <script src="js/services/FavoritesManager.js"></script>
  <script src="js/services/FileReader.js"></script>
  <script src="js/services/FormlyLoaderService.js"></script>
  <script src="js/services/FanartService.js"></script>
  <script src="js/services/NotificationService.js"></script>
  <script src="js/services/OpenSubtitles.js"></script>
  <script src="js/services/SceneNameResolver.js"></script>
  <script src="js/services/SceneXemResolver.js"></script>
  <script src="js/services/MigrationService.js"></script>
  <script src="js/services/SeriesListState.js"></script>
  <script src="js/services/SeriesAddingState.js"></script>
  <script src="js/services/SettingsService.js"></script>
  <script src="js/services/SidePanelState.js"></script>
  <script src="js/services/StorageSyncService.js"></script>
  <script src="js/services/TorrentHashListService.js"></script>
  <script src="js/services/TorrentMonitor.js"></script>
  <script src="js/services/TorrentClients/BaseTorrentClient.js"></script>
  <script src="js/services/TorrentClients/TorrentData.js"></script>
  <script src="js/services/TorrentClients/Aria2.js"></script>
  <script src="js/services/TorrentClients/BiglyBT.js"></script>
  <script src="js/services/TorrentClients/Deluge.js"></script>
  <script src="js/services/TorrentClients/qBittorrentPre32.js"></script>
  <script src="js/services/TorrentClients/qBittorrent32plus.js"></script>
  <script src="js/services/TorrentClients/Ktorrent.js"></script>
  <script src="js/services/TorrentClients/rTorrent.js"></script>
  <script src="js/services/TorrentClients/Tixati.js"></script>
  <script src="js/services/TorrentClients/Transmission.js"></script>
  <script src="js/services/TorrentClients/tTorrent.js"></script>
  <script src="js/services/TorrentClients/uTorrent.js"></script>
  <script src="js/services/TorrentClients/uTorrentWebUI.js"></script>
  <script src="js/services/TorrentClients/Vuze.js"></script>
  <script src="js/services/TorrentSearchEngines/TorrentSearchEngines.js"></script>
  <script src="js/services/TorrentSearchEngines/GenericTorrentSearchEngine.js"></script>
  <script src="js/services/TorrentSearchEngines/ThePirateBayMirrorResolver.js"></script>
  <script src="js/services/TorrentSearchEngines/ThePirateBay.js"></script>
  <script src="js/services/TorrentSearchEngines/1337x.js"></script>
  <script src="js/services/TorrentSearchEngines/ETag.js"></script>
  <script src="js/services/TorrentSearchEngines/ETTV.js"></script>
  <script src="js/services/TorrentSearchEngines/EzTVag.js"></script>
  <script src="js/services/TorrentSearchEngines/Idope.js"></script>
  <script src="js/services/TorrentSearchEngines/IsoHunt2.js"></script>
  <script src="js/services/TorrentSearchEngines/KATcr.js"></script>
  <script src="js/services/TorrentSearchEngines/LimeTorrents.js"></script>
  <script src="js/services/TorrentSearchEngines/Nyaa.js"></script>
  <script src="js/services/TorrentSearchEngines/RarBG.js"></script>
  <script src="js/services/TorrentSearchEngines/ShowRSS.js"></script>
  <script src="js/services/TorrentSearchEngines/TorrentDownloads.js"></script>
  <script src="js/services/TorrentSearchEngines/TorrentZ2.js"></script>
  <script src="js/services/TorrentSearchEngines/Zooqle.js"></script>
  <script src="js/services/VideoPlayers/SynologyAPI.js"></script>
  
  <script src="js/services/UpgradeNotificationService.js"></script>
  <script src="js/services/TorrentFreak.js"></script>
  <script src="js/services/TraktTVv2.js"></script>
  <script src="js/services/TraktTVTrending.js"></script>
  <script src="js/services/TraktTVUpdateService.js"></script>
  <script src="js/services/TraktTVStorageSyncTarget.js"></script>
  <script src="js/services/ChromeStorageSyncTarget.js"></script>
  <!-- /deploy:replace -->
</body>
</html>
