
html { height: 100%;}
body {
	background: url(./../../tpblogo.png) no-repeat right bottom #fff;
	-webkit-background-size:contain;
	font-family: 'Segoe UI', Tahoma, sans-serif;	
}
h1 { font-size: 25px;}
h3 { font-size: 15px;}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
small {
 display: block;
 margin-left: 2em;
}

input[type=url] {
	width: 200px;
}

input[type=url].OK {
	border: 1px solid green;
	background-color: rgba(0,200,0, 0.1);
}

input[type=url].NOK {
	border: 2px solid red;
	background-color: rgba(200,0,0, 0.1);
}


section {
	background-color: rgba(255,255,255,0.8);
	margin: 50px auto;	
	width: 80%;
	border: 1px solid #EFEFEF;
	padding: 2em;
	border-radius: 25px;
}

input[type=number] {
	width: 50px;
}