html
{
  width:400px;
  background-color:#000;
  border-radius:10px;
  max-height:450px;
  min-height:80px;
  overflow-y:visible;
}

body
{
  background-color:#000;
  border-radius:10px;
  max-height:450px;
  min-height:80px;
  overflow-y:visible;
  -webkit-background-size:cover;
  background-image:url(./../../tpblogo.png);
  background-repeat:no-repeat;
  height:100%;
  max-width:400px;
  margin:0;
}

*
{
  font-family:'Segoe UI', Tahoma, sans-serif;
}

::-webkit-scrollbar
{
  width:5px;
}

::-webkit-scrollbar-track
{
  -webkit-border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(255,255,255,0.3);
  border-radius:10px;
}

::-webkit-scrollbar-thumb
{
  -webkit-border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
  background:rgba(25,25,25,0.8);
  border-radius:10px;
}

h5
{
  font-size:15px;
  margin:10px;
}

form
{
  background: url(./../../tpblogo.png) bottom right no-repeat, -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  -webkit-background-size:contain;
  border:1px solid #000;
  color:#FFF;
  margin:0;
  padding:10px;
}

body>div:target
{
  -webkit-overflow-scrolling:touch;
  -webkit-transition:all .5s ease-in;
  background-color:rgba(255,255,255,0.9);
  border:1px solid #efefef;
  border-radius:5px;
  bottom:0;
  display:block;
  min-height:80px;
  overflow-y:auto;
  top:0;
}

body>div:not(:target)
{
  -webkit-transform:translateX(-1000px);
  -webkit-transition:all .5s ease-in;
  background-color:#FFF;
  bottom:0;
  left:0;
  position:absolute;
  top:0;
  z-index:50;
}

body >div:not(:target) li
{
  left:0;
  position:absolute!important;
  top:0;
}

.overflower
{
  min-height:300px;
  overflow-y:visible;
  width:100%;
}

#searchresult
{
  list-style-type:none;
  max-width:400px;
  margin:0;
  padding:0;
}

td
{
  vertical-align:top;
}

.shows
{
  width:95%;
}

.shows td
{
  font-size:10px;
}

div> img
{
  max-width:100%;
}

.removefromfaves
{
  float:right;
}

div > p
{
  font-size:11px;
  padding:5px;
}

.shows td:nth-last-child(2)
{
  white-space:nowrap;
}

.shows td:last-child
{
  width:12px;
}

#searchresult li
{
  border:1px solid #000;
  list-style-type:none;
  max-width:400px;
}

#searchresult li p
{
  padding:5px;
}

#searchresult li img
{
  display:block;
  position:relative;
  width:100%;
}

#favorites li
{
  -webkit-background-size:cover;
  height:100px;
  overflow:hidden;
  position:relative;
  width:100%;
  margin:0;
}

#favorites li strong
{
  -webkit-transform:translateY(40px);
  -webkit-transition:all .2s ease-in;
  background-color:rgba(255,255,255,0.8);
  bottom:0;
  box-sizing:border-box;
  color:#000;
  cursor:pointer;
  display:block;
  font-size:20px;
  height:40px;
  line-height:40px;
  padding-left:20px;
  position:absolute;
  text-transform:capitalize;
  width:100%;
}

#favorites li:hover strong
{
  -webkit-transform:translateY(0px);
}

#favorites li strong:hover
{
  text-decoration:underline;
}

#favorites ul
{
  list-style:none;
  margin:0;
  padding:0;
}

#nextairdate
{
  -webkit-text-stroke:.4px rgba(26,26,26,0.8);
  -webkit-transform:translateY(-50px);
  color:#FFF;
  float:right;
  font-size:11px;
  line-height:20px;
  position:absolute;
  right:0;
  text-shadow:0 0 4px #000;
  top:20px;
  width:135px;
}

#nextepisode
{
  -webkit-text-stroke:.4px rgba(26,26,26,0.8);
  -webkit-transform:translateY(-50px);
  color:#FFF;
  float:right;
  font-size:11px;
  line-height:20px;
  position:absolute;
  right:0;
  text-shadow:0 0 4px #000;
  width:135px;
  top:0;
}

#searchresults
{
  display:none;
}

#searching
{
  display:none;
}

@media screen and max-device-height 700px {
  body > div
  {
    height:300px;
  }
}