<div ng-controller="CalendarCtrl">
  <h2 style='white-space:pre; display:block;'>{{'CALENDAR/hdr'|translate}}</h2>
  <p class="label label-info" ng-show="getSetting('calendar.startSunday')">{{'SETTINGS/DISPLAY/calendar-start-sun/lbl'|translate}}</p>
  <p class="label label-success" ng-show="!getSetting('calendar.startSunday')">{{'SETTINGS/DISPLAY/calendar-start-mon/lbl'|translate}}</p>
  </br>
  <p class="label label-info" ng-show="getSetting('calendar.mode') == 'week'">{{'SETTINGS/DISPLAY/calendar-mode-week/lbl'|translate}}</p>
  <p class="label label-success" ng-show="getSetting('calendar.mode') == 'date'">{{'SETTINGS/DISPLAY/calendar-mode-month/lbl'|translate}}</p>

  <p class="alert alert-info">{{'SETTINGS/DISPLAY/calendar-start/alert'|translate}}</p>
  <button ng-show="!getSetting('calendar.startSunday')" ng-click="enableSetting('calendar.startSunday')" class="btn btn-info">{{'SETTINGS/DISPLAY/calendar-start-sun/btn'|translate}}</button>
  <button ng-show="getSetting('calendar.startSunday')" ng-click="disableSetting('calendar.startSunday')" class="btn btn-success">{{'SETTINGS/DISPLAY/calendar-start-mon/btn'|translate}}</button>
  </br></br>
  <p class="alert alert-info">{{'SETTINGS/DISPLAY/calendar-mode/alert'|translate}}</p>
  <button ng-show="getSetting('calendar.mode') == 'date'" ng-click="setSetting('calendar.mode', 'week')" class="btn btn-info">{{'SETTINGS/DISPLAY/calendar-mode-week/btn'|translate}}</button>
  <button ng-show="getSetting('calendar.mode') == 'week'" ng-click="setSetting('calendar.mode', 'date')" class="btn btn-success">{{'SETTINGS/DISPLAY/calendar-mode-month/btn'|translate}}</button>

  <h2 style='white-space:nowrap; display:block;'>{{'SETTINGS/DISPLAY/calendar-specials/hdr'|translate}}</h2>
  <p class="label label-danger" ng-hide="showSpecials">{{'SETTINGS/DISPLAY/calendar-specials-hide/lbl'|translate}}</p>
  <p class="label label-success" ng-show="showSpecials">{{'SETTINGS/DISPLAY/calendar-specials-show/lbl'|translate}}</p>

  <p class="alert alert-info">{{'SETTINGS/DISPLAY/calendar-specials/alert'|translate}}</p>
  <button ng-hide="showSpecials" ng-click="toggleSpecials()" class="btn btn-success">{{'SETTINGS/DISPLAY/calendar-specials-show/btn'|translate}}</button>
  <button ng-show="showSpecials" ng-click="toggleSpecials()" class="btn btn-danger">{{'SETTINGS/DISPLAY/calendar-specials-hide/btn'|translate}}</button>
</div>