<div class="buttons" ng-controller="customSearchEngineCtrl as searchEngine">
	<h2>Custom Search Engines</h2>

	<p>DuckieTV allows you to define your favorite private trackers as custom search engines. You an define some selectors and urls to tell DuckieTV how to scrape the content. All you need is some basic CSS selector knowledge. TorrentLeech is listed as an example.</p>

	<div class="buttons">
	<a ng-repeat="(name, properties) in searchEngine.customEngines">{{name}}
	<button class="btn btn-xs" styĺe="display:inline-block !important;">Test</button>
	<button class="btn btn-xs" styĺe="display:inline-block !important;">Disable</button>
	<button class="btn btn-xs" styĺe="display:inline-block !important;">Enable</button>
	<button class="btn btn-xs" styĺe="display:inline-block !important;">Edit</button>
	
	</a>
	</div>

	<form ng-submit="searchEngine.test()" novalidate ng-if="searchEngine.editMode">
        <formly-form model="searchEngine.model" fields="searchEngine.fields">
          <button type="submit" class="btn btn-primary submit-button">Test</button>
        </formly-form>
      </form>

      <p class="alert alert-info">{{searchEngine.status}}</p>

      <button ng-click="searchEngine.add()" class="btn btn-primary">Add client</button>
</div>