<div class="buttons" ng-controller="customSearchEngineCtrl as searchEngine">
	<h2>Custom Search Engines</h2>

	<p>DuckieTV allows you to define your favorite private trackers as custom search engines. You can define some selectors and urls to tell DuckieTV how to scrape the content. All you need is some basic CSS selector knowledge. TorrentLeech is listed as an example.</p>

	<button class="btn btn-xs btn-info" style="display:inline-block !important" ng-click="searchEngine.openDialog()" disabled>Add New</button>

	<div class="buttons">
		<a ng-repeat="(name, properties) in searchEngine.customEngines track by $index" style="text-decoration:none;margin-bottom:10px">
			<strong>{{name}}</strong><br>
			<button class="btn btn-xs btn-info" style="display:inline-block !important" ng-click="searchEngine.test($index)">Test</button>
			<button class="btn btn-xs btn-info" style="display:inline-block !important" disabled>Disable</button>
			<button class="btn btn-xs btn-info" style="display:inline-block !important" disabled>Enable</button>
			<button class="btn btn-xs btn-info" style="display:inline-block !important" ng-click="searchEngine.openDialog($index)">Edit</button>
		</a>
	</div>
</div>