<table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.0); color:white;'>
  <tr>
    <td colspan="2" style="border:0">
      <p class="alert alert-info"><strong>{{'DEFAULT/manual/hdr'|translate}}</strong>{{'DEFAULT/manual/desc'|translate}}</p>
    </td>
  </tr>
  <tr>
    <th width="150px">
      <strong>{{'DEFAULT/backup/hdr'|translate}}</strong>
    </th>
    <td ng-controller="BackupCtrl">
      <h3>{{'DEFAULT/backup/desc'|translate}}</h3>
      <a class="btn btn-success" ng-if="!backupString" ng-click="createBackup()">{{'DEFAULT/backup-create/btn'|translate}}</a>
      <a class="btn btn-info" download="DuckieTV {{ backupTime | date: shortDate }}.backup" ng-if="backupString" ng-href="{{ backupString }}">{{'DEFAULT/backup-download/btn'|translate}}</a>

      <h3>{{'DEFAULT/import/hdr'|translate}}</h3>
      <div file-input="file" on-change="restore()" style="width:340px"></div>
      <div style="padding:5px" class="miniposter">
        <serieHeader ng-repeat="serie in series" data="serie" no-overview="1" mode="poster">
          <em class="earmark" ng-show="isAdded(serie.tvdb_id)">&check;</em>
          <em class="earmark adding" ng-show="isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="33px" height="33px"></em>
        </serieHeader>
      </div>
      <p ng-show="log.length > 0">
        {{'DEFAULT/import/desc'|translate}}
        <ul style='max-height:150px; overflow-y:auto;'>
          <li ng-repeat="status in log track by $index">{{status}}</li>
        </ul>
      </p>
    </td>
  </tr>
  <tr>
    <th width="150px">
      <strong style='white-space:nowrap; display:block;'>{{'DEFAULT/sync/hdr'|translate}}</strong>
      <p class="label label-success" ng-show="getSetting('storage.sync')">{{'DEFAULT/sync-enabled/lbl'|translate}}</p>
      <p class="label label-danger" ng-show="!getSetting('storage.sync')">{{'DEFAULT/sync-disabled/lbl'|translate}}</p>
    </th>
    <td>
      <ul class="list-unstyled">
        <li>
          <p class="alert alert-info"><strong>{{'DEFAULT/sync-push/hdr'|translate}}</strong> {{'DEFAULT/sync-push/desc'|translate}}</p>
          <button ng-click="sync()" class="btn btn-success">{{'DEFAULT/sync-push/btn'|translate}}</button>
        </li><br>
        <li style="padding-top:4px">
          <p ng-show="!getSetting('storage.sync')" class="alert alert-info">{{'DEFAULT/sync-doit/alert'|translate}}</p>
          <p ng-show="getSetting('storage.sync')" class="alert alert-warning">{{'DEFAULT/sync-dont/alert'|translate}}</p>
          <button ng-show="!getSetting('storage.sync')" ng-click="enableSetting('storage.sync')" class="btn btn-success">{{'DEFAULT/sync-doit/btn'|translate}}</button>
          <button ng-show="getSetting('storage.sync')" ng-click="disableSetting('storage.sync')" class="btn btn-danger">{{'DEFAULT/sync-dont/btn'|translate}}</button>
        </li>
      </ul>
    </td>
  </tr>
</table>
