<div ng-controller="DisplayCtrl" class="buttons">
  <div ng-show="hasTopSites">
    <h2>{{'SETTINGS/DISPLAY/topsites/hdr'|translate}}
      <span tooltip="{{topSites ? 'SETTINGS/DISPLAY/topsites-enabled/tooltip' : 'SETTINGS/DISPLAY/topsites-disabled/tooltip'|translate}}">
        <i class="glyphicon glyphicon-{{topSites ? 'ok alert-success' : 'remove alert-danger'}}"></i>
      </span>
    </h2>

    <p>{{topSites ? 'SETTINGS/DISPLAY/topsites-hide/desc' : 'SETTINGS/DISPLAY/topsites-show/desc'|translate}}</p>
    <a ng-click="toggleTopSites()" class="btn btn-{{topSites ? 'danger' : 'success'}}"><i class="glyphicon glyphicon-{{topSites ? 'ban-circle' : 'th'}}"></i>{{topSites ? 'SETTINGS/DISPLAY/topsites-hide/btn' : 'SETTINGS/DISPLAY/topsites-show/btn'|translate}}</a>

    <div ng-show="topSites">
      <hr class="setting-divider">

      <h2>{{'SETTINGS/DISPLAY/topsites-activation/hdr'|translate}}
        <span tooltip="{{topSitesMode == 'onhover' ? 'SETTINGS/DISPLAY/topsites-mode-hover/tooltip' : 'SETTINGS/DISPLAY/topsites-mode-click/tooltip'|translate}}">
          <i class="glyphicon glyphicon-{{topSitesMode == 'onhover' ? 'download-alt alert-info' : 'screenshot alert-success'}}" ></i>
        </span>
      </h2>

      <p>{{topSitesMode == 'onhover' ? 'SETTINGS/DISPLAY/topsites-mode-click/desc' : 'SETTINGS/DISPLAY/topsites-mode-hover/desc'|translate}}</p>
      <a ng-click="toggleTopSitesMode()" class="btn btn-{{topSitesMode == 'onhover' ? 'info' : 'success'}}">
        <i class="glyphicon glyphicon-{{topSitesMode == 'onhover' ? 'download-alt' : 'screenshot'}}"></i>
        &nbsp;{{topSitesMode == 'onhover' ? 'SETTINGS/DISPLAY/topsites-mode-click/btn' : 'SETTINGS/DISPLAY/topsites-mode-hover/btn'|translate}}
      </a>
    </div>
  </div>

  <hr class="setting-divider">

  <h2>{{'SETTINGS/DISPLAY/background-opacity/hdr'|translate}}</h2>

  <ul class="list-unstyled btns">
    <li>
      <p>{{'SETTINGS/DISPLAY/background-opacity/desc'|translate}}</p> <span>{{bgOpacity * 100|number:0}}%</span>
      <input type="range" ng-model="bgOpacity" min="0" max="1" step="0.05" ng-change="setBGOpacity(bgOpacity)" />
      <strong style="float:left">0%</strong> <strong style='float:right'>100%</strong>
    </li>
  </ul>

  <hr class="setting-divider">

  <h2>{{'SETTINGS/DISPLAY/downloaded/hdr'|translate}}
    <span tooltip="{{showDownloaded ? 'SETTINGS/DISPLAY/downloaded-show/tooltip' : 'SETTINGS/DISPLAY/downloaded-hide/tooltip'|translate}}">
      <i class="glyphicon glyphicon-{{showDownloaded ? 'ok alert-success' : 'remove alert-danger'}}"></i>
    </span>
  </h2>
  
  <p>{{'SETTINGS/DISPLAY/downloaded/desc'|translate}}</p>
  <a ng-click="toggleDownloaded()" class="btn btn-{{showDownloaded ? 'danger' : 'success'}}">
    <i class="glyphicon glyphicon-{{showDownloaded ? 'remove' : 'ok'}}" ></i> {{showDownloaded ? 'SETTINGS/DISPLAY/downloaded-hide/btn' : 'SETTINGS/DISPLAY/downloaded-show/btn'|translate}}
  </a>
</div>  
