<div ng-controller="LanguageCtrl" class="buttons languages">
  <h2><h2cont translate-once>COMMON/language/hdr</h2cont>
    <span uib-tooltip="{{getSetting('application.locale')}}" tooltip-placement="left">
      <i class="flag flag-{{getSetting('application.locale')}}"></i>
    </span>
  </h2>

  <p>
  <span translate-once>SETTINGS/LANGUAGE/desc</span>
    <span translate-once>SETTINGS/LANGUAGE/desc2</span>
    <a href="https://github.com/SchizoDuckie/DuckieTV/wiki/Can-I-help-DuckieTV-with-Language-Translations%3F" style='border:0; display:inline; padding:0; margin:0; text-decoration:underline' target='_blank' translate-once>SETTINGS/LANGUAGE/desc3</a>
  </p>

  <a ng-if="isSupported(clientLocale)" ng-click="setLocale(clientLocale)" class="btn {{ activeLocale == clientLocale ? 'btn-success' : '' }}">
    <i class="flag flag-{{ clientLocale }}"></i>
    <span style="position: relative; display:inline-block;top:-3px;" translate-once>SETTINGS/DISPLAY/locale-default/lbl</span>
    <span style='display:inline-block; position: relative; top: -3px;'> ({{clientLocale}})</span>
  </a>

  <a ng-click="setLocale(locale)" ng-repeat="(locale, name) in languageList" class="btn {{ activeLocale == locale ? 'btn-success' : '' }}">
    <i class="flag flag-{{ locale }}"></i>
    <span style='display-inline-block; top: -5px; position: relative;'>{{'SETTINGS/DISPLAY/locale/'+name|translate}}</span>
  </a>
</div>
