<div class="buttons" ng-controller="qbtCtrl as qbt">
	<h2>qBittorrent (pre3.2) <h2cont translate-once>COMMON/integration/hdr</h2cont></h2>

	<img src="img/torrentclients/qbittorrent-colored.png" style='width:200px; margin: 0 auto'>

  <p><a href='https://github.com/SchizoDuckie/DuckieTV/wiki/Setting-up-qBitTorrent-(pre-3.2)-with-DuckieTV' target='_blank' translate-once>COMMON/set-up-instructions/lbl</a></p>

	<p ng-show="qbt.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/connected/lbl</span> qBittorrent (pre3.2) API &#64; {{qbt.model.server}}:{{qbt.model.port}}
	</p>

	<p ng-show="!qbt.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/not-connected/lbl</span>
	</p>

	<p ng-show="qbt.error"><span translate-once>COMMON/error/hdr</span>:
    <span >{{qbt.error}}</span>
	</p>

  <form ng-submit="qbt.test()" novalidate>
    <formly-form model="qbt.model" fields="qbt.fields">
      <button type="submit" class="btn btn-primary submit-button" translate-once>COMMON/test-save/btn</button>
    </formly-form>
  </form>
</div>