<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1>{{ model.name }} <h1cont translate-once="SETTINGS/SERIETORRENTSETTINGS/hdr"></h1cont></h1>

<form ng-submit="save()" novalidate id="serieTorrentSettingsForm">
	<formly-form model="model" fields="fields"></formly-form>
</form>

<hr>
<div style='text-align:right'>
	<button class="btn btn-default" ng-click="cancel()" translate-once="COMMON/cancel/btn"></button>
	<button class="btn btn-success" ng-click="save()" translate-once="COMMON/save/btn"></button>
</div>