 <div ng-controller="SubtitlesCtrl as vm">

	<h2 translate-once="SETTINGS/SUBTITLES/hdr"></h2>

	<p translate-once="SETTINGS/SUBTITLES/desc"></p>

	<hr>
	<p><strong ng-if="vm.enabledLanguages != ''" translate-once="SETTINGS/SUBTITLES/selected/lbl"></strong><br> {{vm.enabledLanguages}}<br>
	
	<strong ng-if="vm.enabledLanguages == ''" translate-once="SETTINGS/SUBTITLES/selected-none/lbl"></strong>
	</p>
	<a ng-if="vm.enabledLanguages != ''" ng-click="vm.selectNone()" style="text-align:right;display:block;" translate-once="SETTINGS/SUBTITLES/clear-selection/lbl"></a>
	<hr>
	<ul>
		<ul class="list-unstyled" style='font-size:16px'>
		  <li ng-repeat="(locale, name) in vm.languages " ng-click="vm.toggleSubtitle(locale)" class="list-unstyled" style="cursor:pointer; padding:2px;">
	      <i class="glyphicon" ng-class="{'glyphicon-unchecked': !vm.isEnabled(locale), 'glyphicon-check': vm.isEnabled(locale) }" style="font-size:25px" ></i>&nbsp;
	      <i class="flag flag-{{ vm.getShortCode(locale) }}"></i> 
	      <span style='line-height:25px; position:relative; top:-5px;'>{{name}}</span>
	    </li>


	</ul>


</div>