<div ng-controller="SyncCtrl">
	<h1>Storage sync</h1>


	<h2 style="float: right; margin-top: -40px;"> Current status: {{sync.isSyncing ? 'Syncing' : 'Not Syncing'}}</h2>

	<h3>Registered Sync targets:</h3>
	<hr>
	<div ng-repeat="target in targets">
		<h1>{{ target.name }} </h1>
		<strong>Last sync: </strong> {{ target.lastSync }}<br>
		<strong>Status:</strong> {{ target.status }}<br>
		<strong>Enabled: </strong> {{ target.isEnabled() ? 'Yes' : 'No' }}<br>
		<button class="btn btn-xs btn-info" ng-click="target.sync()">Sync now</button>
		<button class="btn btn-xs btn-info" ng-click="read(target)">Read</button>
		<button class="btn btn-xs btn-info" ng-click="target.write()">Write</button><br>

		<button class="btn btn-xs btn-info" ng-click="target.disable()">Disable</button>

		<button class="btn btn-xs btn-info" ng-click="target.enable()">Enable</button>

		<h2>Series in storage:</h2>
		<serieheader ng-repeat="serie in targetSeries[target.name]" style='display:inline-block;margin:5px;cursor:pointer' data="serie" no-overview="1" mode="poster" ng-click="selectSerie(serie)">
		    <em class="earmark" ng-show="isAdded(serie.tvdb_id)">&check;</em>
		    <em class="earmark adding" ng-show="isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="33px" height="33px"></em>
		 </serieheader>
	</div>

</div>