<div ng-controller="TimerCtrl">
<div>
  <h2>
    <button ng-click="debug=!debug" class="btn btn-danger btn-xs" style='float:right;margin-left:3px;margin-bottom:3px'>{{'TIMERS/toggle-debug/btn'|translate}}</button>
    <div ng-if="debug" style='float:right; font-size:12px;'>
      <button class="btn btn-xs btn-warning" ng-click="injectTimer()">Inject Episode Aired Check Timer</button>
      <button class="btn btn-xs btn-info" ng-click="fireAll()">{{'TIMERS/fire-all-timers/btn'|translate}}</button>
      <button ng-click="fixMissingTimers();" class='btn btn-xs btn-success'>{{'TIMERS/find-missing/btn'|translate}}</button>
      <button ng-click="clearAllTimers();" class='btn btn-xs btn-success'>{{'TIMERS/delete-all/btn'|translate}}</button>
    </div>
  </h2>
</div>

<table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.0); color:white;'>
  <tr style="font-family: 'bebasregular', helvetica, sans-serif; font-size:16px">
    <th><strong><a href="" ng-click="orderPreference = 'name'; reverse=!reverse">{{'TIMERS/timer-name/hdr'|translate}}</a></strong>
      (<a href="" ng-click="orderPreference= '-name'">^</a>)</th>
    <th><strong>{{'TIMERS/timer-period/hdr'|translate}}</strong></th>
    <th><strong><a href="" ng-click="orderPreference = 'scheduledTime'">{{'TIMERS/timer-firingnext/hdr'|translate}}</a></strong>
      (<a href="" ng-click="orderPreference= '-scheduledTime'">^</a>)</th>
    <th></th>
  </tr>
  <tr ng-repeat="timer in timers | orderBy : orderPreference">
    <td>
      <strong>{{timer.name}}</strong>
    </td>
    <td width="200px">{{timer.periodInMinutes}}</td>
    <td width="200px">{{timer.scheduledTime | date:'medium'}}</td>
    <td width="475px" align="center">
      <button class="btn-info" ng-click="fire(timer)">{{'TIMERS/fire-now/btn'|translate}}</button>
      <button ng-show="debug"  class="btn-warning" ng-click="reschedule(timer, 1)">{{'TIMERS/debug-fire-every-minute/btn'|translate}}</button>
      <button ng-show="debug"  class="btn-warning" ng-click="reschedule(timer, 60*48)">{{'TIMERS/debug-fire-every-2-days/btn'|translate}}</button>

      <button ng-show="debug"  class="btn-danger" ng-click="removeTimer(timer)">{{'TIMERS/debug-delete-timer/btn'|translate}}</button>
    </td>
  </tr>
</table>
</div>
