<div ng-controller="TimerCtrl">
<div>
  <h2>
    <button ng-click="debug=!debug" class="btn btn-danger btn-xs" style='float:right;margin-left:3px;margin-bottom:3px'>Toggle debug features</button>
    <div ng-if="debug" style='float:right; font-size:12px;'>
      <button ng-click="fixMissingTimers();" class='btn btn-xs btn-success'>Find missing timers</button>
      <button ng-click="clearAllTimers();" class='btn btn-xs btn-success'>Delete all timers</button>
    </div>
  </h2>
</div>

<table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.0); color:white;'>
  <tr>
    <th>Name of Timer</th>
    <th>Period In Minutes</th>
    <th>Firing Next</th>
    <th></th>
  </tr>
  <tr ng-repeat="timer in timers | orderBy : 'name'">
    <td>
      <strong>{{timer.name}}</strong>
    </td>
    <td width="200px">{{timer.periodInMinutes}}</td>
    <td width="200px">{{ timer.scheduledTime | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
    <td width="400px" align="center">
      <button class="btn-info" ng-click="fire(timer)">Fire timer now</button>
      <button ng-show="debug"  class="btn-warning" ng-click="reschedule(timer, 1)">Fire every minute</button>
      <button ng-show="debug"  class="btn-warning" ng-click="reschedule(timer, 60*48)">Fire every 2 days</button>
    </td>
  </tr>
</table>
</div>
