<div ng-controller="SettingsTorrentCtrl" class="buttons">
  <h2 translate-once="SETTINGS/TORRENT-SEARCH/default-provider/hdr"></h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/default-provider/desc"></p>

  <a ng-repeat="provider in searchProviders" ng-click="setSearchProvider(provider)" class="btn {{ searchprovider == provider ? 'btn-success' : '' }}" style='padding:10px; height:45px;'>
      <i ng-if="searchprovider == provider" class="glyphicon glyphicon-ok"></i>
      <strong style='position: absolute; left: 60px'>{{provider}}</strong>
  </a>

  <hr class="setting-divider">

  <h2 translate-once="SETTINGS/TORRENT-SEARCH/quality/hdr"></h2>
  <p style='text-align:left;white-space:normal'>
    <span translate-once="SETTINGS/TORRENT-SEARCH/quality/desc"></span><br>
    <strong><span translate-once="SETTINGS/TORRENT-SEARCH/quality-select/hdr"></span></strong><span translate-once="SETTINGS/TORRENT-SEARCH/quality-select/desc"></span><br>
    <span translate-once="SETTINGS/TORRENT-SEARCH/quality-select/desc2"></span>
  </p>

   <a ng-click="setSearchQuality('')" style="padding:10px; height:45px;" class="btn {{ searchquality == '' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == ''"></i>
    <strong style='position:absolute; left:60px' translate-once="SETTINGS/TORRENT-SEARCH/quality-select-all/lbl"></strong>
  </a>
  <a ng-click="setSearchQuality('HDTV')" style="padding:10px; height:45px;" class="btn {{searchquality == 'HDTV' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == 'HDTV'"></i>
    <strong style='position:absolute; left:60px'>HDTV</strong>
  </a>
  <a ng-click="setSearchQuality('480p')" style="padding:10px; height:45px;" class="btn {{searchquality == '480p' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == '480p'"></i>
    <strong style='position:absolute; left:60px'>480p</strong>
  </a>
  <a ng-click="setSearchQuality('720p')" style="padding:10px; height:45px;" class="btn {{searchquality == '720p' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == '720p'"></i>
    <strong style='position:absolute; left:60px'>720p</strong>
  </a>
  <a ng-click="setSearchQuality('1080p')" style="padding:10px; height:45px;" class="btn {{ searchquality == '1080p' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == '1080p'"></i>
    <strong style='position:absolute; left:60px'>1080p</strong>
  </a>

  <hr class="setting-divider">

  <h2 style='white-space:nowrap'><h2cont translate-once="SETTINGS/TORRENT-SEARCH/global-include-mode/hdr"></h2cont>
    <span uib-tooltip="{{GILmodeAny ? 'SETTINGS/TORRENT-SEARCH/global-include-mode-any/lbl' : 'SETTINGS/TORRENT-SEARCH/global-include-mode-all/lbl'|translate}}">
      <i class="glyphicon glyphicon-{{GILmodeAny ? 'menu-hamburger alert-success' : 'align-justify alert-info'}}" ></i>
    </span>
  </h2>
  <ul class="list-unstyled">
    <li>
      <p style='text-align:left;white-space:normal'>{{!GILmodeAny ? 'SETTINGS/TORRENT-SEARCH/global-include-mode-any/desc' : 'SETTINGS/TORRENT-SEARCH/global-include-mode-all/desc'|translate}}</p>
      <p><strong  translate-once="COMMON/current-setting/hdr"></strong>
             {{GILmodeAny ? 'SETTINGS/TORRENT-SEARCH/global-include-mode-any/lbl' : 'SETTINGS/TORRENT-SEARCH/global-include-mode-all/lbl'|translate}}</p>
      <a ng-click="toggleGILmode()" class="btn btn-{{GILmodeAny ? 'info' : 'success'}}">
        <i class="glyphicon glyphicon-{{!GILmodeAny ? 'menu-hamburger' : 'align-justify'}}" ></i>&nbsp; {{!GILmodeAny ? 'SETTINGS/TORRENT-SEARCH/global-include-mode-any/lbl' : 'SETTINGS/TORRENT-SEARCH/global-include-mode-all/lbl'|translate}}
      </a>
    </li>
  </ul>

  <hr class="setting-divider">

  <h2 translate-once="COMMON/global-include/hdr"></h2>
  <p style='text-align:left;white-space:normal'>{{GILmodeAny ? 'SETTINGS/TORRENT-SEARCH/global-include-any/desc' : 'SETTINGS/TORRENT-SEARCH/global-include-all/desc'|translate}}</p>
  <ul class="list-unstyled">
    <li><span translate-once="COMMON/global-include/hdr"></span><br>
      <input type='text' style='width:350px' ng-model="globalInclude" translate-once-placeholder="COMMON/global-search/placeholder">
      <a class="btn btn-success" ng-click="saveGlobalInclude(globalInclude)">
        <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="COMMON/save/btn"></span>
      </a>
    </li>
  </ul>

  <hr class="setting-divider">

  <h2 translate-once="COMMON/global-exclude/hdr"></h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/global-exclude/desc"></p>
  <ul class="list-unstyled">
    <li><span translate-once="COMMON/global-exclude/hdr"></span><br>
      <input type='text' style='width:350px' ng-model="globalExclude" translate-once-placeholder="COMMON/global-search/placeholder">
      <a class="btn btn-success" ng-click="saveGlobalExclude(globalExclude)">
        <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="COMMON/save/btn"></span>
      </a>
    </li>
  </ul>

  <hr class="setting-divider">

  <h2 translate-once="COMMON/global-size-min/hdr"></h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/global-size-min/desc"></p>

  <form name="sizemin">
    <span translate-once="COMMON/global-size/form"></span> <input type="number" name="mb" ng-model="globalSizeMin" translate-once-placeholder="COMMON/search-size/placeholder">
    <a ng-show="!sizemin.mb.$valid" class="btn btn-success" ng-disabled="true" style="float:right; margin-top:-10px;">
      <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="COMMON/save/btn"></span>
    </a>
    <a ng-show="sizemin.mb.$valid" class="btn btn-success" ng-click="saveGlobalSizeMin(globalSizeMin)" style="float:right; margin-top:-10px;">
      <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="COMMON/save/btn"></span>
    </a>
  </form>
  <span class="alert alert-danger" ng-show="!sizemin.mb.$valid" translate-once="COMMON/global-size/alert"></span>

  <hr class="setting-divider">

  <h2 translate-once="COMMON/global-size-max/hdr"></h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/global-size-max/desc"></p>

  <form name="sizemax">
    <span translate-once="COMMON/global-size/form"></span> <input type="number" name="mb" ng-model="globalSizeMax" translate-once-placeholder="COMMON/search-size/placeholder">
    <a ng-show="!sizemax.mb.$valid" class="btn btn-success" ng-disabled="true" style="float:right; margin-top:-10px;">
      <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="COMMON/save/btn"></span>
    </a>
    <a ng-show="sizemax.mb.$valid" class="btn btn-success" ng-click="saveGlobalSizeMax(globalSizeMax)" style="float:right; margin-top:-10px;">
      <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="COMMON/save/btn"></span>
    </a>
  </form>
  <span class="alert alert-danger" ng-show="!sizemax.mb.$valid" translate-once="COMMON/global-size/alert"></span>

  <hr class="setting-divider">

  <h2 style='white-space:nowrap'>The Pirate Bay</h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/tpb/desc"></p>

  <ul class="list-unstyled">
    <li><span translate-once="SETTINGS/TORRENT-SEARCH/tpb-mirror/hdr"></span><br>
      <input type='url' style='width:350px' ng-model="customtpbmirror">
      <a class="btn btn-success" ng-click="validateCustomTPBMirror(customtpbmirror)">
        <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="SETTINGS/TORRENT-SEARCH/tpb-validate/btn"></span>
      </a>
      <a class="btn btn-info" ng-click="findRandomTPBMirror()">
        <i class="glyphicon glyphicon-search" ></i>&nbsp; <span translate-once="SETTINGS/TORRENT-SEARCH/tpb-find-mirror/btn"></span>
      </a>
      <p ng-show="tpbmirrorStatus.length > 0">
        <span translate-once="SETTINGS/TORRENT-SEARCH/tpb-status/hdr"></span>
        <ul style='max-height:150px; overflow-y:auto'>
          <li ng-repeat="status in tpbmirrorStatus track by $index">{{status}}</li>
        </ul>
      </p>
    </li>
  </ul>
   
  <hr class="setting-divider">

  <h2 style='white-space:nowrap'>KickAssTorrents</h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/kat/desc"></p>

  <ul class="list-unstyled">
    <li><span translate-once="SETTINGS/TORRENT-SEARCH/kat-mirror/hdr"></span><br>
      <input type='url' style='width:350px' ng-model="customkatmirror">
      <a class="btn btn-success" ng-click="validateCustomKATMirror(customkatmirror)">
        <i class="glyphicon glyphicon-floppy-save" ></i>&nbsp; <span translate-once="SETTINGS/TORRENT-SEARCH/kat-validate/btn"></span>
      </a>
      <a ng-hide="true" class="btn btn-info" ng-click="findRandomKATMirror()">
        <i class="glyphicon glyphicon-search" ></i>&nbsp; <span translate-once="SETTINGS/TORRENT-SEARCH/kat-find-mirror/btn"></span>
      </a>
      <p ng-show="katmirrorStatus.length > 0"<span translate-once="SETTINGS/TORRENT-SEARCH/kat-status/hdr"></span>
        <ul style='max-height:150px; overflow-y:auto'>
          <li ng-repeat="status in katmirrorStatus track by $index">{{status}}</li>
        </ul>
      </p>
    </li>
  </ul>

  <hr class="setting-divider">

  <h2 style='white-space:nowrap'><h2cont translate-once="SETTINGS/TORRENT-SEARCH/unsafe-proxies/hdr"></h2cont>
    <span uib-tooltip="{{allowUnsafe ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}">
      <i class="glyphicon glyphicon-{{allowUnsafe ? 'ok alert-success' : 'remove alert-danger'}}" ></i>
    </span>
  </h2>

  <ul class="list-unstyled">
    <li>
      <p>{{allowUnsafe ? 'SETTINGS/TORRENT-SEARCH/unsafe-proxies-enabled/desc' : 'SETTINGS/TORRENT-SEARCH/unsafe-proxies-disabled/desc'|translate}}</p>
      <p><strong  translate-once="COMMON/current-setting/hdr"></strong>
       {{allowUnsafe ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}</p>
      <a ng-click="toggleUnsafeProxy()" class="btn btn-{{allowUnsafe ? 'danger' : 'success'}}">
        <i class="glyphicon glyphicon-{{!allowUnsafe ? 'ok' : 'remove'}}" ></i>&nbsp; {{allowUnsafe ? 'COMMON/disable/btn' : 'COMMON/enable/btn'|translate}}
      </a>
    </li>
  </ul>
  <hr class="setting-divider">

  <h2 style='white-space:nowrap'><h2cont translate-once="SETTINGS/TORRENT-SEARCH/td-sort-menu/hdr"></h2cont>
    <span uib-tooltip="{{allowTDsortMenu ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}">
      <i class="glyphicon glyphicon-{{allowTDsortMenu ? 'ok alert-success' : 'remove alert-danger'}}" ></i>
    </span>
  </h2>

  <ul class="list-unstyled">
    <li>
      <p>{{allowTDsortMenu ? 'SETTINGS/TORRENT-SEARCH/td-sort-menu-enabled/desc' : 'SETTINGS/TORRENT-SEARCH/td-sort-menu-disabled/desc'|translate}}</p>
      <p><strong  translate-once="COMMON/current-setting/hdr"></strong>
       {{allowTDsortMenu ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}</p>
      <a ng-click="toggleTDsortMenu()" class="btn btn-{{allowTDsortMenu ? 'danger' : 'success'}}">
        <i class="glyphicon glyphicon-{{!allowTDsortMenu ? 'ok' : 'remove'}}" ></i>&nbsp; {{allowTDsortMenu ? 'COMMON/disable/btn' : 'COMMON/enable/btn'|translate}}
      </a>
    </li>
  </ul>
</div>
