<div ng-controller="SettingsTorrentCtrl" class="buttons">
  <h2 translate-once="SETTINGS/TORRENT-SEARCH/default-provider/hdr"></h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/default-provider/desc"></p>

  
  <a ng-repeat="provider in searchProviders" ng-click="setSearchProvider(provider)" class="btn {{ searchprovider == provider ? 'btn-success' : '' }}" style='padding:10px; height:45px;'>
      <i ng-if="searchprovider == provider" class="glyphicon glyphicon-ok"></i>
      <strong style='position: absolute; left: 60px'>{{provider}}</strong>
  </a>
  

  <hr class="setting-divider">

  <h2 translate-once="SETTINGS/TORRENT-SEARCH/quality/hdr"></h2>
  <p style='text-align:left;white-space:normal'>
    <span translate-once="SETTINGS/TORRENT-SEARCH/quality/desc"></span><br>
    <strong><span translate-once="SETTINGS/TORRENT-SEARCH/quality-select/hdr"></span></strong><span translate-once="SETTINGS/TORRENT-SEARCH/quality-select/desc"></span><br>
    <span translate-once="SETTINGS/TORRENT-SEARCH/quality-select/desc2"></span>
  </p>




   <a ng-click="setSearchQuality('')" style="padding:10px; height:45px;" class="btn {{ searchquality == '' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == ''"></i>
    <strong style='position:absolute; left:60px' translate-once="SETTINGS/TORRENT-SEARCH/quality-select-all/lbl"></strong>
  </a>
  <a ng-click="setSearchQuality('HDTV')" style="padding:10px; height:45px;" class="btn {{searchquality == 'HDTV' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == 'HDTV'"></i>
    <strong style='position:absolute; left:60px'>HDTV</strong>
  </a>
  <a ng-click="setSearchQuality('480p')" style="padding:10px; height:45px;" class="btn {{searchquality == '480p' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == '480p'"></i>
    <strong style='position:absolute; left:60px'>480p</strong>
  </a>
  <a ng-click="setSearchQuality('720p')" style="padding:10px; height:45px;" class="btn {{searchquality == '720p' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == '720p'"></i>
    <strong style='position:absolute; left:60px'>720p</strong>
  </a>
  <a ng-click="setSearchQuality('1080p')" style="padding:10px; height:45px;" class="btn {{ searchquality == '1080p' ? 'btn-success' : '' }}">
    <i class="glyphicon glyphicon-ok" ng-if="searchquality == '1080p'"></i>
    <strong style='position:absolute; left:60px'>1080p</strong>
  </a>

  <hr class="setting-divider">

  <h2 style='white-space:nowrap'>The Pirate Bay</h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/tpb/desc"></p>

  <ul class="list-unstyled">
    <li><span translate-once="SETTINGS/TORRENT-SEARCH/tpb-mirror/hdr"></span><br>
      <input type='url' style='width:350px' ng-model="customtpbmirror">
      <a class="btn btn-success" ng-click="validateCustomTPBMirror(customtpbmirror)" translate-once="SETTINGS/TORRENT-SEARCH/tpb-validate/btn"></a>
      <a class="btn btn-info" ng-click="findRandomTPBMirror()" translate-once="SETTINGS/TORRENT-SEARCH/tpb-find-mirror/btn"></a>

      <p ng-show="tpbmirrorStatus.length > 0">
        <span translate-once="SETTINGS/TORRENT-SEARCH/tpb-status/hdr"></span>
        <ul style='max-height:150px; overflow-y:auto'>
          <li ng-repeat="status in tpbmirrorStatus track by $index">{{status}}</li>
        </ul>
      </p>
    </li>
  </ul>
   
  <hr class="setting-divider">

  <h2 style='white-space:nowrap'>KickAssTorrents</h2>
  <p style='text-align:left;white-space:normal' translate-once="SETTINGS/TORRENT-SEARCH/kat/desc"></p>

  <ul class="list-unstyled">
    <li><span translate-once="SETTINGS/TORRENT-SEARCH/kat-mirror/hdr"></span><br>
      <input type='url' style='width:350px' ng-model="customkatmirror">
      <a class="btn btn-success" ng-click="validateCustomKATMirror(customkatmirror)" translate-once="SETTINGS/TORRENT-SEARCH/kat-validate/btn"></a>
      <a class="btn btn-info" ng-click="findRandomKATMirror()" translate-once="SETTINGS/TORRENT-SEARCH/kat-find-mirror/btn"></a>

      <p ng-show="katmirrorStatus.length > 0"<span translate-once="SETTINGS/TORRENT-SEARCH/kat-status/hdr"></span>
        <ul style='max-height:150px; overflow-y:auto'>
          <li ng-repeat="status in katmirrorStatus track by $index">{{status}}</li>
        </ul>
      </p>
    </li>
  </ul>

  <hr class="setting-divider">

  <h2 style='white-space:nowrap'><h2cont translate-once="SETTINGS/TORRENT-SEARCH/unsafe-proxies/hdr"></h2cont>
    <span tooltip="{{allowUnsafe ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}">
      <i class="glyphicon glyphicon-{{allowUnsafe ? 'ok alert-success' : 'remove alert-danger'}}" ></i>
    </span>
  </h2>

  <ul class="list-unstyled">
    <li>
      <p>{{allowUnsafe ? 'SETTINGS/TORRENT-SEARCH/unsafe-proxies-enabled/desc' : 'SETTINGS/TORRENT-SEARCH/unsafe-proxies-disabled/desc'|translate}}</p>
      <p><strong  translate-once="COMMON/current-setting/hdr"></strong>
       {{allowUnsafe ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}</p>
      <a ng-click="toggleUnsafeProxy()" class="btn btn-{{allowUnsafe ? 'danger' : 'success'}}">{{allowUnsafe ? 'COMMON/disable/btn' : 'COMMON/enable/btn'|translate}}</a>
    </li>
  </ul>
</div>
