<div ng-controller="SettingsTorrentCtrl">
  
      <h2 style='white-space:nowrap'>{{'SETTINGS/TORRENT/hdr'|translate}}</h2>
      <p class="label label-success" ng-show="getSetting('torrenting.enabled')">{{'SETTINGS/TORRENT/enabled/lbl'|translate}}</p>
      <p class="label label-danger" ng-show="!getSetting('torrenting.enabled')">{{'SETTINGS/TORRENT/disabled/lbl'|translate}}</p>
   
      <ul class="list-unstyled">
        <li>
        <p ng-show="!getSetting('torrenting.enabled')" class="alert alert-info">{{'SETTINGS/TORRENT/functions-show/alert'|translate}}</p>
        <p ng-show="getSetting('torrenting.enabled')" class="alert alert-warning">{{'SETTINGS/TORRENT/functions-hide/alert'|translate}}</p>
        <button ng-show="!getSetting('torrenting.enabled')" ng-click="enableSetting('torrenting.enabled')" class="btn btn-success">{{'SETTINGS/TORRENT/functions-show/btn'|translate}}</button>
        <button ng-show="getSetting('torrenting.enabled')" ng-click="disableSetting('torrenting.enabled')" class="btn btn-danger">{{'SETTINGS/TORRENT/functions-hide/btn'|translate}}</button>
        </li>
      </ul>
   

  <div ng-show="getSetting('torrenting.enabled')">
      <h2 style='white-space:nowrap'>{{'SETTINGS/TORRENT/autodownload/hdr'|translate}}</h2>
      <p class="label label-success" ng-show="getSetting('torrenting.autodownload')">{{'SETTINGS/TORRENT/autodownload-enabled/lbl'|translate}}</p>
      <p class="label label-danger" ng-show="!getSetting('torrenting.autodownload')">{{'SETTINGS/TORRENT/autodownload-disabled/lbl'|translate}}</p>
      <ul class="list-unstyled">
        <li>
          <p ng-show="!getSetting('torrenting.autodownload')" class="alert alert-info">{{'SETTINGS/TORRENT/autodownload-enable/alert'|translate}}</p>
          <p ng-show="getSetting('torrenting.autodownload')" class="alert alert-warning">{{'SETTINGS/TORRENT/autodownload-disable/alert'|translate}}</p>
          <button ng-show="!getSetting('torrenting.autodownload')" ng-click="enableAutoDownload()" class="btn btn-success">{{'SETTINGS/TORRENT/autodownload-enable/btn'|translate}}</button>
          <button ng-show="getSetting('torrenting.autodownload')" ng-click="disableAutoDownload()" class="btn btn-danger">{{'SETTINGS/TORRENT/autodownload-disable/btn'|translate}}</button>
        </li>
      </ul>
    
</div>
   