<table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.0); color:white;' ng-controller="TraktTVCtrl">
<tr>
    <th width="150px" style="border:0">
      <strong style='white-space:nowrap; display:block;'>Trakt.TV {{'TRAKTTV/sync/lbl'|translate}}</strong>
      <p class="label label-success" ng-show="getSetting('trakttv.sync')">{{'TRAKTTV/sync-enabled/lbl'|translate}}</p>
      <p class="label label-danger" ng-show="!getSetting('trakttv.sync')">{{'TRAKTTV/sync-disabled/lbl'|translate}}</p>
    </th>
    <td style="border:0">

          <p class="alert alert-info"><strong>{{'TRAKTTV/sync/hdr'|translate}}</strong> {{'TRAKTTV/sync/desc'|translate}}</p>
          <div ng-controller="TraktTVCtrl">
          <form name="userCredentials">
            <table style="margin-bottom:10px;">
            <tr>
            <td style='padding:10px'>
              <h3>Trakt.TV {{'TRAKTTV/username/placeholder'|translate}}:</h3> <input type='text' name='username' ng-model='credentials.username' placeholder="Trakt.TV {{'TRAKTTV/username/placeholder'|translate}}" ng-disabled="credentials.passwordHash !== null" />
              </td>
              <td style="padding: 10px">
              <h3>Trakt.TV {{'TRAKTTV/password/placeholder'|translate}}:</h3> <input type='password' name='password' ng-model='credentials.password' placeholder="Trakt.TV {{'TRAKTTV/password/placeholder'|translate}}" ng-disabled="credentials.passwordHash !== null" />
            </td><td valign='bottom' style="padding: 13px">
            <button ng-click="authorize(credentials.username, credentials.password)" class="btn btn-info" >Authorize v2 api</button>


              <!--button ng-click='encryptPassword()' class="btn btn-info" ng-disabled="credentials.passwordHash !== null">{{'TRAKTTV/encrypt/btn'|translate}}</button--> <button ng-click="clearCredentials()" class="btn btn-danger" >{{'TRAKTTV/clear-credentials/btn'|translate}}<br>
            </td>
            </tr></table>

            <button class="btn btn-danger" style="margin-bottom:10px" ng-click="TestV2Api()">Test V2 api (profile to console.log)</button>
            

            <div class="alert alert-danger" role="alert" ng-show="credentials.error">{{'TRAKTTV/sync-error-reason/alert'|translate}}</div>
            
            <button class="btn btn-danger" style="margin-bottom:10px" ng-if="credentials.passwordHash && getSetting('trakttv.sync')" ng-click="setSetting('trakttv.sync',false)">{{'TRAKTTV/sync-disabled/btn'|translate}}</button>
            <p ng-if="credentials.passwordHash">
              <button ng-click="readTraktTV()" class="btn btn-success">{{'TRAKTTV/sync-import/btn'|translate}}</button>
              <button ng-click="pushToTraktTV()" class="btn btn-success">{{'TRAKTTV/sync-push/btn'|translate}}</button><br>
              <div class="alert alert-danger" role="alert" ng-show="pushError[0]" style="white-space:initial">
                <strong>{{pushError[1].status}} - {{pushError[1].statusText}}</strong>
                {{pushError[1].data.status}} - {{pushError[1].data.error}}
              </div><br>
            </p>
          </form>

          <div class="miniposter" ng-if="traktTVSeries">
             <p ng-repeat="serie in traktTVSeries">Fetched show: {{serie.title}}. Watched episodes: {{ countWatchedEpisodes(serie) }} </p>
             <serieheader style='display:inline-block; margin:5px;' ng-repeat="serie in traktTVSeries" ng-if="isDownloaded(serie.tvdb_id)" data="getDownloaded(serie.tvdb_id)" no-overview="1" mode="poster">
                <em class="earmark" ng-show="isAdded(serie.tvdb_id)">&check;</em>
                <em class="earmark adding" ng-show="isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="33px" height="33px"></em>
             </serieheader>
          </ul>
          </div>
          <div ng-if="!traktTVSuggestions && credentials.passwordHash">
              <div class="alert alert-info">{{'TRAKTTV/suggestions/alert'|translate}}</p></div>
              <button ng-click="getUserSuggestions()" class="btn btn-success">{{'TRAKTTV/suggestions-fetch/btn'|translate}}</button>
          </div>
          <br>
          <div class="alert alert-danger" role="alert" ng-show="suggestionError[0]" style="white-space:initial;text-align:left">
              <strong>{{suggestionError[1].status}} - {{suggestionError[1].statusText}}</strong>
              {{suggestionError[1].data.status}} - {{suggestionError[1].data.error}}
          </div>
          <div ng-if="traktTVLoading && !suggestionError[0]" style='text-align:center; padding: 20px;'>
              <p>{{'TRAKTTV/please-wait/lbl'|translate}}</p>
              <img src='img/spinner.gif'>
          </div>
          <div class="miniposter" ng-if="traktTVSuggestions">
            <h1>{{'TRAKTTV/suggestions-fetched/lbl'|translate}}</h1>
            <p>{{'TRAKTTV/click-add-show/lbl'|translate}}</p>
             <serieheader style='display:inline-block;margin:5px;cursor:pointer' ng-repeat="serie in traktTVSuggestions" data="serie" no-overview="1" mode="poster" ng-click="selectSerie(serie)">
                <em class="earmark" ng-show="isAdded(serie.tvdb_id)">&check;</em>
                <em class="earmark adding" ng-show="isAdding(serie.tvdb_id)"><img src="img/spinner.gif" width="33px" height="33px"></em>
             </serieheader>
          </ul>
          </div>
       
    </td>
  </tr>
</table
