<h2>Trakt.TV <h2cont translate-once>SETTINGS/TRAKTTV/sync/hdr</h2cont>
  <span ng-show="getSetting('trakttv.sync')" uib-tooltip="{{'COMMON/enabled/lbl'|translate}}" tooltip-placement="left">
  	<i class="glyphicon glyphicon-ok alert-success" style="font-size:22px"></i>
  </span>
  <span ng-show="!getSetting('trakttv.sync')" uib-tooltip="{{'COMMON/disabled/lbl'|translate}}" tooltip-placement="left">
  	<i class="glyphicon glyphicon-remove alert-danger" style="font-size:22px"></i>
  </span>
</h2>

<div ng-include="'templates/settings/trakt-import.html'"></div>

<div  ng-controller="TraktTVCtrl as trakt" class="buttons">
  <div ng-show="trakt.credentials.success">
    <hr class="setting-divider">
      <h2>
        <span uib-tooltip="{{trakt.syncDownloaded ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}" tooltip-placement="left">
          <i class="glyphicon glyphicon-{{trakt.syncDownloaded ? 'ok alert-success' : 'remove alert-danger'}}"></i>
        </span>
        <li translate-once>SETTINGS/TRAKTTV/sync-downloaded/hdr</li>
      </h2>

      <p translate-once>SETTINGS/TRAKTTV/sync-downloaded/desc</p>

       <p><strong  translate-once>COMMON/current-setting/hdr</strong>
       {{trakt.syncDownloaded ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}</p>
      <a ng-click="trakt.toggleSyncDownloaded()" class="btn btn-{{trakt.syncDownloaded ? 'danger' : 'success'}}">
        <i class="glyphicon glyphicon-{{trakt.syncDownloaded ? 'remove' : 'ok'}}" ></i> {{trakt.syncDownloaded ? 'COMMON/disable/btn' : 'COMMON/enable/btn'|translate}}
      </a>
  </div>

  <hr class="setting-divider">

  <h2 translate-once>SETTINGS/TRAKTTV/update-period/hdr</h2>
  <p><span translate-once>SETTINGS/TRAKTTV/update-period/desc</span>{{trakt.tuPeriod}}<span translate-once>SETTINGS/TRAKTTV/update-period/desc2</span><br><span translate-once>SETTINGS/TRAKTTV/update-period-default/lbl</span></p>

  <form name="tu">
    <span translate-once>SETTINGS/TRAKTTV/update-period/form</span> <input type='number' name="period" ng-model="trakt.tuPeriod" ng-change="trakt.editingTU = true;" min="1" max="24" />
    <a class="btn btn-{{trakt.editingTU ? 'info' : 'success'}}" ng-click="trakt.saveTUPeriod(trakt.tuPeriod); trakt.editingTU = false;" ng-disabled="tu.period.$error.number || tu.period.$error.min || tu.period.$error.max" style="float:right; margin-top:-10px;">
      <i class="glyphicon glyphicon-floppy-save {{trakt.editingTU ? 'spin' : ''}}" ></i>&nbsp; <span translate-once>COMMON/save/btn</span>
    </a>
  </form>
  <span class="alert alert-danger" ng-show="tu.period.$error.number" translate-once>COMMON/only-numbers/alert</span>
  <span class="alert alert-danger" ng-show="tu.period.$error.min || tu.period.$error.max" translate-once>SETTINGS/TRAKTTV/update-hours-range/alert</span>

  <hr class="setting-divider">

  <div style="text-align: left;font-size: 13px;">
    <h2 translate-once>SETTINGS/TRAKTTV/custom-credentials/hdr</h2>
    <p translate-once>SETTINGS/TRAKTTV/custom-credentials/desc</p>
    <p translate-once>SETTINGS/TRAKTTV/custom-credentials/instructions</p>
    <ol>
      <li translate-once>SETTINGS/TRAKTTV/custom-credentials/step1</li>
      <li translate-once>SETTINGS/TRAKTTV/custom-credentials/step2</li>
      <li translate-once>SETTINGS/TRAKTTV/custom-credentials/step3</li>
      <li translate-once>SETTINGS/TRAKTTV/custom-credentials/step4</li>
    </ol>
    <p><strong translate-once>COMMON/current-setting/hdr</strong> {{trakt.customClientId && trakt.customClientSecret ? 'Using custom credentials' : 'Using default credentials'}}</p>

    <form name="customCreds">
      <div class="form-group">
        <label translate-once>SETTINGS/TRAKTTV/app-id/lbl</label>
        <input type="text" class="form-control" ng-model="trakt.customAppId" ng-change="trakt.editingCredentials = true;" placeholder="Enter your Trakt App ID (from URL)" />
        <small class="form-text text-muted" translate-once>SETTINGS/TRAKTTV/app-id/help</small>
      </div>
      <div class="form-group">
        <label translate-once>SETTINGS/TRAKTTV/client-id/lbl</label>
        <input type="text" class="form-control" ng-model="trakt.customClientId" ng-change="trakt.editingCredentials = true;" placeholder="Enter your Trakt Client ID" />
      </div>
      <div class="form-group">
        <label translate-once>SETTINGS/TRAKTTV/client-secret/lbl</label>
        <input type="text" class="form-control" ng-model="trakt.customClientSecret" ng-change="trakt.editingCredentials = true;" placeholder="Enter your Trakt Client Secret" />
      </div>
      <a class="btn btn-{{trakt.editingCredentials ? 'info' : 'success'}}" ng-click="trakt.saveCustomCredentials()" ng-disabled="!trakt.editingCredentials">
        <i class="glyphicon glyphicon-floppy-save {{trakt.editingCredentials ? 'spin' : ''}}"></i>&nbsp; <span translate-once>COMMON/save/btn</span>
      </a>
      <a class="btn btn-warning" ng-click="trakt.clearCustomCredentials()" ng-show="trakt.customAppId || trakt.customClientId || trakt.customClientSecret">
        <i class="glyphicon glyphicon-remove"></i>&nbsp; Clear Custom Credentials
      </a>
    </form>
  </div>
</div>
