<div class="buttons" ng-controller="tbtCtrl as tbt">
	<h2>Transmission Remote</h2>

	<p  ng-if="tbt.isConnected()">Status:
	Connected to Transmission API on {{tbt.model.server}}:{{tbt.model.port}}
	</p>

	<p ng-if="!tbt.isConnected()">Status:
	Not connected
	</p>

	<form ng-submit="tbt.test()" novalidate>
        <formly-form model="tbt.model" fields="tbt.fields">
          <button type="submit" class="btn btn-primary submit-button">Test and save</button>
        </formly-form>
      </form>
	
	
</div>