<div class="buttons" ng-controller="tbtCtrl as tbt">
	<h2>Transmission <h2cont translate-once>COMMON/integration/hdr</h2cont></h2>

	<img src="img/torrentclients/transmission-colored.png" style='width:200px; margin: 0 auto'>

  <p><a href='https://github.com/SchizoDuckie/DuckieTV/wiki/Setting-up-Transmission-with-DuckieTV' target='_blank' translate-once>COMMON/set-up-instructions/lbl</a></p>

	<p ng-show="tbt.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/connected/lbl</span> Transmission API &#64; {{tbt.model.server}}:{{tbt.model.port}}
	</p>

	<p ng-show="!tbt.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/not-connected/lbl</span>
	</p>

	<p ng-show="tbt.error"><span translate-once>COMMON/error/hdr</span>:
    <span >{{tbt.error}}</span>
	</p>

  <form ng-submit="tbt.test()" novalidate>
    <formly-form model="tbt.model" fields="tbt.fields">
      <button type="submit" class="btn btn-primary submit-button" translate-once>COMMON/test-save/btn</button>
    </formly-form>
  </form>
</div>