<div ng-controller="SettingsTorrentCtrl" class="buttons">
  <h2>&micro;Torrent {{'SETTINGS/UTORRENT/integration/hdr'|translate}}</h2>
  
  <p ng-if="isuTorrentAuthenticated()">
    <translate>SETTINGS/UTORRENT/is-authenticated/desc</translate> <em>{{getToken()}}.</em><br />
    <translate>SETTINGS/UTORRENT/is-authenticated/desc2</translate>
  </p>
  <p ng-if="!isuTorrentAuthenticated()"><translate>SETTINGS/UTORRENT/is-not-authenticated/desc</translate></p>
  
  <a class='btn btn-small btn-warning' ng-if="isuTorrentAuthenticated()" ng-click='removeToken()'><i class="glyphicon glyphicon-ban-circle"></i> <span translate>SETTINGS/UTORRENT/clear-authority/btn</span></a>
  <a class='btn btn-small btn-success' ng-if="!isuTorrentAuthenticated()" ng-click='connect()'><i class="glyphicon glyphicon-refresh"></i> <span ><translate>SETTINGS/UTORRENT/connect-to-utorrent/btn</translate></span></a>

  <hr class="setting-divider">
  
  <h2>{{'SETTINGS/UTORRENT/streaming/hdr'|translate}}
    <span tooltip="{{streamingEnabled ? 'SETTINGS/UTORRENT/enabled/tooltip' : 'SETTINGS/UTORRENT/disabled/tooltip'|translate}}">
      <i class="glyphicon glyphicon-{{streamingEnabled ? 'ok alert-success' : 'remove alert-danger'}}"></i>
    </span>
  </h2>

  <p>{{streamingEnabled ? 'SETTINGS/UTORRENT/streaming-disabled/desc' : 'SETTINGS/UTORRENT/streaming-enabled/desc'|translate}}</p>
  <a ng-click="toggleStreaming()" class="btn btn-{{streamingEnabled ? 'danger' : 'success'}}">
    <i class="glyphicon glyphicon-{{streamingEnabled ? 'ban-circle' : 'film'}}"></i> {{streamingEnabled ? 'SETTINGS/UTORRENT/streaming-disabled/btn' : 'SETTINGS/UTORRENT/streaming-enabled/btn'|translate}}
  </a>
   
  <hr class="setting-divider">

  <h2>{{'SETTINGS/UTORRENT/directory/hdr'|translate}}
    <span tooltip="{{directoryEnabled ? 'SETTINGS/UTORRENT/enabled/tooltip' : 'SETTINGS/UTORRENT/disabled/tooltip'|translate}}">
      <i class="glyphicon glyphicon-{{directoryEnabled ? 'ok alert-success' : 'remove alert-danger'}}"></i>
    </span>
  </h2>
 
  <p>{{directoryEnabled ? 'SETTINGS/UTORRENT/directory-folder-hide/desc' : 'SETTINGS/UTORRENT/directory-folder-show/desc'|translate}}</p>
  <a ng-click="toggleDirectory()" class="btn btn-{{directoryEnabled ? 'danger' : 'success'}}">
    <i class="glyphicon glyphicon-{{directoryEnabled ? 'ban-circle' : 'folder-open'}}"></i> {{directoryEnabled ? 'SETTINGS/UTORRENT/directory-folder-hide/btn' : 'SETTINGS/UTORRENT/directory-folder-show/btn'|translate}}
  </a>

</div>