<div ng-controller="SettingsTorrentCtrl" class="buttons">
  <h2>&micro;Torrent <h2cont translate-once>COMMON/integration/hdr</h2cont></h2>

  <div class="alert alert-info" style="margin:10px">
    <strong style="color:red">
      For this API to work you need to be running &micro;Torrent (Windows) versions 3.3.x or newer.<br />
      From &micro;Torrent 3.5.3 onwards, you will need to set port 10000 on its WEBUI preferences.<br />
      <p><a href='https://github.com/SchizoDuckie/DuckieTV/wiki/Setting-up-uTorrent-API-with-DuckieTV#configure-%C2%B5torrent-353-and-newer' target='_blank' style="color:red">Click here to read the &micro;Torrent 3.5.3 (or newer) API Setup Wiki</a></p>
      Or you can connect via the &micro;Torrent WEBUI instead. 
      <p><a href='https://github.com/SchizoDuckie/DuckieTV/wiki/Setting-up-uTorrent-Web-UI-with-DuckieTV' target='_blank' style="color:red">Click here to read the &micro;Torrent WEBUI Setup Wiki</a></p>
    </strong>
  </div>

  <hr class="setting-divider">
  
  <p ng-show="isuTorrentAuthenticated()">
    <span translate-once>SETTINGS/UTORRENT/is-authenticated/desc</span> <em>{{getToken()}}.</em><br />
    <span translate-once>SETTINGS/UTORRENT/is-authenticated/desc2</span>
  </p>
  <p ng-show="!isuTorrentAuthenticated()"><span translate-once>SETTINGS/UTORRENT/is-not-authenticated/desc</span></p>

  <a class='btn btn-small btn-warning' ng-if="isuTorrentAuthenticated()" ng-click='removeToken()'><i class="glyphicon glyphicon-ban-circle"></i> <span translate-once>SETTINGS/UTORRENT/clear-authority/btn</span></a>
  <a class='btn btn-small btn-success' ng-if="!isuTorrentAuthenticated()" ng-click='connect()'><i class="glyphicon glyphicon-refresh"></i> <span translate-once>SETTINGS/UTORRENT/connect-to-utorrent/btn</span></a>

  <hr class="setting-divider">

  <h2>
    <span uib-tooltip="{{streamingEnabled ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}" tooltip-placement="left">
      <i class="glyphicon glyphicon-{{streamingEnabled ? 'ok alert-success' : 'remove alert-danger'}}"></i>
    </span>
    <li translate-once>SETTINGS/UTORRENT/streaming/hdr</li>
  </h2>

  <p>{{streamingEnabled ? 'SETTINGS/UTORRENT/streaming-disabled/desc' : 'SETTINGS/UTORRENT/streaming-enabled/desc'|translate}}</p>
  <p><strong  translate-once>COMMON/current-setting/hdr</strong>
   {{streamingEnabled ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}</p>
  <a ng-click="toggleStreaming()" class="btn btn-{{streamingEnabled ? 'danger' : 'success'}}">
    <i class="glyphicon glyphicon-{{streamingEnabled ? 'ban-circle' : 'film'}}"></i> {{streamingEnabled ? 'SETTINGS/UTORRENT/streaming-disabled/btn' : 'SETTINGS/UTORRENT/streaming-enabled/btn'|translate}}
  </a>

  <hr class="setting-divider">

  <h2>
    <span uib-tooltip="{{directoryEnabled ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}" tooltip-placement="left">
      <i class="glyphicon glyphicon-{{directoryEnabled ? 'ok alert-success' : 'remove alert-danger'}}"></i>
    </span>
    <li translate-once>SETTINGS/UTORRENT/directory/hdr</li>
  </h2>

  <p>{{directoryEnabled ? 'SETTINGS/UTORRENT/directory-folder-hide/desc' : 'SETTINGS/UTORRENT/directory-folder-show/desc'|translate}}</p>
  <p><strong  translate-once>COMMON/current-setting/hdr</strong>
   {{directoryEnabled ? 'COMMON/enabled/lbl' : 'COMMON/disabled/lbl'|translate}}</p>
  <a ng-click="toggleDirectory()" class="btn btn-{{directoryEnabled ? 'danger' : 'success'}}">
    <i class="glyphicon glyphicon-{{directoryEnabled ? 'ban-circle' : 'folder-open'}}"></i> {{directoryEnabled ? 'SETTINGS/UTORRENT/directory-folder-hide/btn' : 'SETTINGS/UTORRENT/directory-folder-show/btn'|translate}}
  </a>

  <hr class="settings-divider">
  <h2 translate-once>COMMON/remove-ads/hdr</h2>
  <img src="img/xtodaz.png" style='width:365px'>
  <p translate-once>COMMON/remove-ads/desc</p>
  <a target="_blank" href="http://schizoduckie.github.io/PimpMyuTorrent/?from=DuckieTV#" class="btn btn-success" translate-once>COMMON/remove-ads/btn</a>
</div>
