<div class="buttons" ng-controller="uTorrentWebUICtrl as utorrent">
	<h2>&micro;Torrent Web UI <h2cont translate-once>COMMON/integration/hdr</h2cont></h2>

	<img src="img/torrentclients/utorrent-colored.png" style='width:200px; margin: 0 auto'>

  <p><a href='https://github.com/SchizoDuckie/DuckieTV/wiki/Setting-up-uTorrent-Web-UI-with-DuckieTV' target='_blank' translate-once>COMMON/set-up-instructions/lbl</a></p>

	<p ng-show="utorrent.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/connected/lbl</span> &micro;Torrent WebUI API &#64; {{utorrent.model.server}}:{{utorrent.model.port}}
	</p>

	<p ng-show="!utorrent.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/not-connected/lbl</span>
	</p>

	<p ng-show="utorrent.error"><span translate-once>COMMON/error/hdr</span>:
    <span >{{utorrent.error}}</span>
	</p>

  <form ng-submit="utorrent.test()" novalidate>
    <formly-form model="utorrent.model" fields="utorrent.fields">
      <button type="submit" class="btn btn-primary submit-button" translate-once>COMMON/test-save/btn</button>
    </formly-form>
  </form>

  <hr class="settings-divider">
  <h2 translate-once>COMMON/remove-ads/hdr</h2>
  <img src="img/xtodaz.png" style='width:365px'>
  <p translate-once>COMMON/remove-ads/desc</p>
    <a target="_blank" href="http://schizoduckie.github.io/PimpMyuTorrent/?from=DuckieTV#" class="btn btn-success" translate-once>COMMON/remove-ads/btn</a>
</div>
