<div class="buttons" ng-controller="vuzeCtrl as vuze">
  <h2>Vuze <h2cont translate-once>COMMON/integration/hdr</h2cont></h2>

  <img src="img/torrentclients/vuze-colored.png" style='width:200px; margin: 0 auto'>

  <p><a href='https://github.com/SchizoDuckie/DuckieTV/wiki/Setting-up-Vuze-with-DuckieTV' target='_blank' translate-once>COMMON/set-up-instructions/lbl</a></p>

  <p ng-show="vuze.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/connected/lbl</span> Vuze API &#64; {{vuze.model.server}}:{{vuze.model.port}}
  </p>

  <p ng-show="!vuze.isConnected()"><span translate-once>COMMON/status/hdr</span>:
    <span translate-once>COMMON/not-connected/lbl</span>
  </p>

	<p ng-show="vuze.error"><span translate-once>COMMON/error/hdr</span>:
    <span >{{vuze.error}}</span>
	</p>

  <form ng-submit="vuze.test()" novalidate>
    <formly-form model="vuze.model" fields="vuze.fields">
      <button type="submit" class="btn btn-primary submit-button" translate-once>COMMON/test-save/btn</button>
    </formly-form>
  </form>
</div>