<div ng-controller="WindowCtrl" class="buttons windowCtrl">
  <h2>
    <span uib-tooltip="{{standaloneStartupMinimized ? 'SETTINGS/WINDOW/standalone-startup-minimized/tooltip' : 'SETTINGS/WINDOW/standalone-startup-normalized/tooltip'|translate}}">
      <i class="glyphicon glyphicon-{{standaloneStartupMinimized ? 'win-minimize alert-success' : 'win-maximize alert-info'}}" style="-webkit-transform: scale(1.5);-webkit-filter: invert(100%)"></i>
    </span>
    <li translate-once="SETTINGS/WINDOW/standalone-startup-window/hdr"></li>
  </h2>

  <p translate-once="SETTINGS/WINDOW/standalone-startup-window/desc"></p>
  <p><strong  translate-once="COMMON/current-setting/hdr"></strong>
   {{startupMinimized ? 'SETTINGS/WINDOW/standalone-startup-minimized/tooltip' : 'SETTINGS/WINDOW/standalone-startup-normalized/tooltip'|translate}}</p>
  <a ng-click="toggleStartupMinimized()" class="btn btn-{{startupMinimized ? 'info' : 'success'}}">
    <i class="glyphicon glyphicon-{{startupMinimized ? 'win-maximize' : 'win-minimize'}}"  style="-webkit-transform: scale(1.5);-webkit-filter: invert(100%)"></i> {{startupMinimized ? 'SETTINGS/WINDOW/standalone-startup-normal/btn' : 'COMMON/minimize/btn'|translate}}
  </a>
  <hr class="setting-divider">

  <h2>
    <li translate-once="SETTINGS/WINDOW/system-tray/hdr"></li>
  </h2>
  <div style="text-align: left">
    <div class="checkbox" ng-hide="isMac">
      <input type="checkbox" ng-model="alwaysShowTray" ng-true-value="'Y'" ng-false-value="'N'" ng-change="toggleAlwaysShowTray()"><label translate-once="SETTINGS/WINDOW/system-tray-always/lbl"></label>
    </div>
    <div class="checkbox">
      <input type="checkbox" ng-model="minimizeToTray" ng-true-value="'Y'" ng-false-value="'N'" ng-change="toggleMinimizeToTray()"><label translate-once="SETTINGS/WINDOW/system-tray-minimize/lbl"></label>
    </div>
    <div class="checkbox" ng-hide="isMac">
      <input type="checkbox" ng-model="closeToTray" ng-true-value="'Y'" ng-false-value="'N'" ng-change="toggleCloseToTray()"><label translate-once="SETTINGS/WINDOW/system-tray-close/lbl"></label>
    </div>
  </div>
</div>