<form ng-submit="serieslist.selectFirstResult()" name="search.searchForm">
  <!-- Disable adding button -->
  <a tooltip="{{'SERIESLIST/TOOLS/ADDING/addshow-return-to-fav-list/tooltip'|translate}}" tooltip-placement="bottom" ui-sref="favorites()" style='float:left'>
    <i class="glyphicon glyphicon-ok-sign" style="top: 2px"></i> {{'SERIESLIST/TOOLS/ADDING/addshow-hide/glyph'|translate}}
  </a>
  <input type="text" focus-watch="'serieslist.searchingForSerie'" ng-model="search.query" placeholder="{{'SERIESLIST/TOOLS/ADDING/addshow-type-series-name/placeholder'|translate}}" ng-model-options="{debounce: 500}"  ng-change="search.search(search.query)" style='float:left; margin-left:10px; width:35%; margin-right:10px; font-size:20px; margin-top:-5px' />
  <i ng-show="traktSearch.loadingSeries" class="glyphicon glyphicon-refresh"></i>
  <p class="protip">{{'SERIESLIST/TOOLS/ADDING/addshow-protip/lbl'|translate}}
    <!-- Make posters smaller button -->
    <a ng-if="serieslist.mode == 'poster'" ng-click="serieslist.toggleSmall();" style="display:inline-block;">
      <i tooltip="{{serieslist.isSmall ? 'SERIESLIST/TOOLS/ADDING/make-posters-large/tooltip' : 'SERIESLIST/TOOLS/ADDING/make-posters-small/tooltip' |translate}}" tooltip-placement="bottom" style='font-size:20px;top:3px;margin-left:8px;' class="glyphicon" ng-class="{'glyphicon-th-large':serieslist.isSmall, 'glyphicon-th': !serieslist.isSmall}"></i>
    </a>
  </p>
</form>

<h1 style='text-align:center' ng-if="traktSearch.searching"><img ng-if="traktSearch.searching" src="img/spinner.gif"><br>{{'SERIESLIST/TOOLS/ADDING/addshow-start-typing/lbl'|translate}}</h1>