<form ng-submit="serieslist.selectFirstResult()" name="traktSearch.searchForm">
    <!-- Disable adding button -->
    <a tooltip="{{'SERIESLIST/SEARCHING/addshow-return-to-fav-list/tooltip'|translate}}" tooltip-placement="bottom" ui-sref="favorites()" style='float:left; margin-top:-3px;'>
        <i class="glyphicon glyphicon-ok-sign" style="top: 2px"></i> {{'SERIESLIST/SEARCHING/addshow-hide/glyph'|translate}}
    </a>
    <input type="text" focus-watch="'serieslist.searchingForSerie'" ng-model="traktSearch.search.query" placeholder="{{'SERIESLIST/SEARCHING/addshow-type-series-name/placeholder'|translate}}" ng-model-options="{debounce: 500}"  ng-change="traktSearch.findSeries(traktSearch.search.query)" style='float:left; margin-left:10px; width:35%; margin-right:10px; font-size:20px; margin-top:-8px;'>
    <i ng-show="traktSearch.loadingSeries" class="glyphicon glyphicon-refresh" ></i>
    <p class="protip">{{'SERIESLIST/SEARCHING/addshow-protip/lbl'|translate}}</p>
</form>

<h1 style='text-align:center' ng-if="traktSearch.searching"><img ng-if="traktSearch.searching" src="img/spinner.gif"><br>{{'SERIESLIST/SEARCHING/addshow-start-typing/lbl'|translate}}</h1>


<!-- Make posters smaller button -->
<a ng-if="serieslist.mode == 'poster'" ng-click="serieslist.toggleSmall();">
    <i tooltip="{{serieslist.isSmall ? 'SERIESLIST/FAVORITES/make-posters-large/tooltip' : 'SERIESLIST/FAVORITES/make-posters-small/tooltip' |translate}}" tooltip-placement="bottom" style='font-size:20px;top:3px;margin-left:8px;' class="glyphicon" ng-class="{'glyphicon-zoom-in':serieslist.isSmall, 'glyphicon-zoom-out': !serieslist.isSmall}"></i>
</a>