<a ui-sref="favorites" tooltip="back" tooltip-placement="bottom" style="float:left">
    <i style='font-size:15px;' class="glyphicon glyphicon-arrow-left"></i> 
</a>


<form ng-submit="serieslist.execFilter()" name="filterForm">


    <input type='text' focus-watch="'localFilter.isFiltering'" placeholder="{{'SERIESLIST/FAVORITES/filter-placeholder'|translate}}" ng-change="localFilter.setFilter(localFilter.query)" ng-model='localFilter.query' style='padding:5px; position:absolute; left:123px; width:35%; top:16px'>
</form>

<!-- Banner mode button -->
<a accesskey="l" ng-if="serieslist.mode != 'banner'"  ng-click="serieslist.setMode('banner');" tooltip="{{'SERIESLIST/FAVORITES/list-show-mode/tooltip'|translate}}({{'SERIESLIST/FAVORITES/hotkey/lbl'|translate}}: alt + l)" tooltip-placement="bottom">
    <i style='font-size:15px;' class="glyphicon glyphicon-th-list"></i> {{'SERIESLIST/FAVORITES/list-show/glyph'|translate}}
</a>
<!-- Poster mode button -->
<a accesskey="g" ng-if="serieslist.mode != 'poster'" ng-click="serieslist.setMode('poster');" tooltip="{{'SERIESLIST/FAVORITES/grid-show-mode/tooltip'|translate}}({{'SERIESLIST/FAVORITES/hotkey/lbl'|translate}}: alt + g)" tooltip-placement="bottom">
    <i style='font-size:15px;' class="glyphicon glyphicon-th"></i> {{'SERIESLIST/FAVORITES/grid-show/glyph'|translate}}
</a>
<!-- Make posters smaller button -->
<a ng-if="serieslist.mode == 'poster'" ng-click="serieslist.toggleSmall();">
    <i tooltip="{{serieslist.isSmall ? 'SERIESLIST/FAVORITES/make-posters-large/tooltip' : 'SERIESLIST/FAVORITES/make-posters-small/tooltip' |translate}}" tooltip-placement="bottom" style='font-size:20px;top:3px;margin-left:8px;' class="glyphicon" ng-class="{'glyphicon-zoom-in':serieslist.isSmall, 'glyphicon-zoom-out': !serieslist.isSmall}"></i>
</a>

<!-- todo: filter local series list by available trakt categories, toggle ended, continuing and stuff -->