<!-- dialogs/jackettSearchEngine.html -->
<div id="jackettSearchEngine">
  <button type="button" class="close" ng-click="jse.cancel()" class="pull-right">&times;</button>
  <h1>Jackett Search Engines</h1>
  <a href="https://github.com/SchizoDuckie/DuckieTV/wiki/Jackett-FAQs" target="_blank"> <i class="glyphicon glyphicon-info-sign"></i> <span>wiki Jackett-FAQs</span></a>

  <form ng-submit="jse.save()" novalidate id="jackettEngineForm" name="jackettEngineForm">
    <formly-form model="jse.model" fields="jse.fields"></formly-form>
  </form>

	<button class="btn btn-default" ng-click="jse.cancel()" translate-once>COMMON/cancel/btn</button>
  <button class="btn btn-success" ng-click="jse.save()" ng-disabled="jackettEngineForm.$invalid">{{jse.isNew ? 'Save New Engine' : 'Update Search Engine'}}</button>
</div>