<!-- dialogs/jackettSearchEngine.html -->
<div id="jackettSearchEngine">
  <button type="button" class="close" ng-click="jse.cancel()" class="pull-right">&times;</button>
  <h1 translate-once>COMMON/jackett-search-engines/hdr</h1>

  <form ng-submit="jse.save()" novalidate id="jackettEngineForm" name="jackettEngineForm">
    <formly-form model="jse.model" fields="jse.fields"></formly-form>
  </form>

	<button class="btn btn-default" ng-click="jse.cancel()" translate-once>COMMON/cancel/btn</button>
  <button class="btn btn-success" ng-click="jse.save()" ng-disabled="jackettEngineForm.$invalid">{{jse.isNew ? 'JACKETTSEDIALOG/save-new-engine/btn' : 'JACKETTSEDIALOG/update-search-engine/btn'|translate}}</button>
  <a style="float:right" href="https://github.com/SchizoDuckie/DuckieTV/wiki/Using-Jackett-with-DuckieTV" target="_blank"> <i class="glyphicon glyphicon-info-sign"></i> <span translate-once>COMMON/jackett-wiki/lbl</span></a>
</div>