<div>
	<div class="modal-header dialog-header-info">
		<button type="button" class="close" ng-click="close()" class="pull-right">&times;</button>
		<h4 class="modal-title text-info"><span class="glyphicon glyphicon-share"></span> Share custom torrent search eninge</h4>
	</div>

	<div class="modal-body text-info">
		
		<textarea style="width:100%; height: 500px; background-color: black;	">
		{{ share.shareString }}
		</textarea>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="close()">Close</button>
	</div>
</div>