<!-- dialogs/torrent.html -->
<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1 translate-once>TORRENTDIALOG/hdr</h1>

<div style="float:right; margin-top:-25px;">
  <a ng-click="toggleShowAdvanced()"> <i class="glyphicon glyphicon-cog"></i> <span>{{showAdvanced ? 'TORRENTDIALOG/advanced-hide/btn' : 'TORRENTDIALOG/advanced-show/btn'|translate}}</span></a>
  <a ui-sref="settings.tab({tab: 'torrent-search'})" ng-click="cancel()"> <i class="glyphicon glyphicon-cog"></i> <span translate-once>COMMON/torrent-search-settings/glyph</span></a>
</div>

<input type="text" ng-model="query" ng-model-options="{debounce: 500}" focus-watch='searching' ng-change="search(query)" class="form-control" translate-once-placeholder="COMMON/type-your-search/lbl" style="width:59%; display:inline-block;">
<!-- quality list -->
<div class="torrentBtns" style="display:inline-block;">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-class="{active: searchquality == ''}" ng-click="setQuality('');" translate-once>COMMON/all/btn</button>
    <button ng-repeat="quality in getSetting('torrenting.searchqualitylist') " ng-click="setQuality(quality)" type="button" class="btn btn-default" ng-class="{active: searchquality == quality}">{{quality}}</button>
  </div>
</div>

<!-- search Providers list -->
<div class="torrentBtns btn-group" style="margin-top:10px; margin-bottom:10px;">
  <button ng-repeat="name in clients | orderBy: name" type="button" class="btn btn-default" ng-class="{'active': searchprovider == name}" ng-click="setProvider(name)">{{::name}}&nbsp;<i ng-if="isJackett(name)" class="glyphicon glyphicon-jackett-small" style="float:right"></i></button>
</div>

<!-- Require/Ignore Keywords size min/max and minSeeders check boxes -->
<div style="padding-bottom: 3px" uib-collapse="!showAdvanced">
  <div class="row" style="display: flex">
    <div class="checkbox">
      <input type="checkbox" ng-model="minSeedersEnabled" ng-change="setMinSeedersState()" id="tc_gms">
      <label for="tc_gms"><strong translate-once>COMMON/min-seeders/hdr</strong><br> ({{minSeeders}})</label>
    </div>

    <div class="checkbox" ng-show="requireKeywords.length > 0">
      <input type="checkbox" ng-model="requireKeywordsEnabled" ng-change="setRequireKeywordsState()" id="tc_gie">
      <label for="tc_gie"><strong translate-once>TORRENTDIALOG/search-require-keywords/lbl</strong><br>({{requireKeywords}})</label>
    </div>

    <div class="checkbox" ng-show="ignoreKeywords.length > 0">
      <input type="checkbox" ng-model="ignoreKeywordsEnabled" ng-change="setIgnoreKeywordsState()" id="tc_gee">
      <label for="tc_gee"><strong translate-once>TORRENTDIALOG/search-ignore-keywords/lbl</strong><br>({{ignoreKeywords}})</label>
    </div>

    <div class="checkbox" ng-show="serie.customSearchSizeMin == null && globalSizeMin != null">
      <input type="checkbox" ng-model="globalSizeMinEnabled" ng-change="setGlobalSizeMinState()" id="tc_gsm">
      <label for="tc_gsm"><strong translate-once>TORRENTDIALOG/search-global-size-min/lbl</strong><br>({{globalSizeMin}} MB)</label>
    </div>

    <div class="checkbox" ng-show="serie.customSearchSizeMin != null">
      <input type="checkbox" ng-model="globalSizeMinEnabled" ng-change="setGlobalSizeMinState()" id="tc_gsm2">
      <label for="tc_gsm2"><strong translate-once>TORRENTDIALOG/search-custom-size-min/lbl</strong><br> ({{serie.customSearchSizeMin}}) MB</label>
    </div>

    <div class="checkbox" ng-show="serie.customSearchSizeMax == null && globalSizeMax != null">
      <input type="checkbox" ng-model="globalSizeMaxEnabled" ng-change="setGlobalSizeMaxState()" id="tc_gsme">
      <label for="tc_gsme"><strong translate-once>TORRENTDIALOG/search-global-size-max/lbl</strong><br>({{globalSizeMax}} MB)</label>
    </div>

    <div class="checkbox" ng-show="serie.customSearchSizeMax != null">
      <input type="checkbox" ng-model="globalSizeMaxEnabled" ng-change="setGlobalSizeMaxState()" id="tc_gsme2">
      <label for="tc_gsme2"><strong translate-once>TORRENTDIALOG/search-custom-size-max/lbl</strong><br> ({{serie.customSearchSizeMax}} MB)</label>
    </div>

  </div>
</div>

<!-- search results -->
<div style="max-height: 620px;overflow-x: auto">
  <table class="torrents table table-condensed white">
    <thead>
      <tr ng-show="searching">
        <td>
           <loading-spinner style="margin:0 auto; display:block; width:50px; height:50px; position:relative;"></loading-spinner>
          <p style='text-align:center; padding:10px;'><span translate-once>COMMON/searching/lbl</span> {{getName(searchprovider)}}<span translate-once>COMMON/searching-please-wait/lbl</span>.</p>
        </td>
      </tr>
    </thead>
    <tbody ng-show="!searching && items.length == 0">
      <tr>
        <th>
          <p translate-once>COMMON/no-results/lbl</p>
          "<strong>{{query}} {{searchquality}}</strong>"
        </th>
      </tr>
    </tbody>
    <tbody ng-show="!searching && error == 'null' ">
      <tr>
        <th>
          <h2 style='text-align:center' translate-once>COMMON/type-your-search/lbl</h2>
        </th>
      </tr>
    </tbody>
    <tbody ng-show="!searching && error != false && error != 'null' ">
      <tr>
        <th>
          <h1 style='text-align:center'> :( </h1>
          <h2 style='text-align:center'>{{error}}<h2>
        </th>
      </tr>
    </tbody>
    <tbody ng-show="!searching && items.length > 0">
      <tr>
        <th>&nbsp;</th>
        <th>
          <strong translate-once>COMMON/torrent-name/lbl</strong>
        </th>
        <!-- size sort is n/a -->
        <th ng-hide="canOrderBy('size')" style="text-align:right">
          <strong translate-once>COMMON/torrent-size/lbl</strong>
        </th>
        <!-- is sorted by size, but one way only -->
        <th ng-show="canOrderBy('size') && isOrderBy('size') && !supportsByDir" style="text-align:right">
          <strong translate-once>COMMON/torrent-size/lbl</strong>
        </th>
        <!-- can sort by size, but one way only -->
        <th ng-show="canOrderBy('size') && !isOrderBy('size') && !supportsByDir" style="cursor: pointer;text-align:right">
          <u uib-tooltip="{{'COMMON/sort-column/tooltip'|translate}}" tooltip-append-to-body="true" ng-click="setOrderBy('size')"><strong translate-once>COMMON/torrent-size/lbl</strong></u>
        </th>
        <!-- can sort by size, in asc and desc -->
        <th ng-show="canOrderBy('size') && supportsByDir" style="cursor: pointer;text-align:right">
          <u uib-tooltip="{{'COMMON/sort-column/tooltip'|translate}}" tooltip-append-to-body="true" ng-click="setOrderBy('size')"><strong translate-once>COMMON/torrent-size/lbl</strong><span class="sortorder" ng-style="{color: supportsByDir ? 'white' : 'gray'}" ng-class="{'reverse': orderByDir['size'] === '.a'}"></span></u>
        </th>
        <!-- seeders sort is n/a -->
        <th ng-hide="canOrderBy('seeders')" style="text-align:right">
          <strong translate-once>COMMON/torrent-seed/lbl</strong>
        </th>
        <!-- is sorted by seeders, but one way only -->
        <th ng-show="canOrderBy('seeders') && isOrderBy('seeders') && !supportsByDir" style="text-align:right">
          <strong translate-once>COMMON/torrent-seed/lbl</strong>
        </th>
        <!-- can sort by seeders, but one way only -->
        <th ng-show="canOrderBy('seeders') && !isOrderBy('seeders') && !supportsByDir" style="cursor: pointer;text-align:right">
          <u uib-tooltip="{{'COMMON/sort-column/tooltip'|translate}}" tooltip-append-to-body="true" ng-click="setOrderBy('seeders')"><strong translate-once>COMMON/torrent-seed/lbl</strong></u>
        </th>
        <!-- can sort by seeders, in asc and desc -->
        <th ng-show="canOrderBy('seeders') && supportsByDir" style="cursor: pointer;text-align:right">
          <u uib-tooltip="{{'COMMON/sort-column/tooltip'|translate}}" tooltip-append-to-body="true" ng-click="setOrderBy('seeders')"><strong translate-once>COMMON/torrent-seed/lbl</strong><span class="sortorder" ng-style="{color: supportsByDir ? 'white' : 'gray'}" ng-class="{'reverse': orderByDir['seeders'] === '.a'}"></span></u>
        </th>
        <!-- leechers sort is n/a -->
        <th ng-hide="canOrderBy('leechers')" style="text-align:right">
          <strong translate-once>COMMON/torrent-leech/lbl</strong>
        </th>
        <!-- is sorted by leechers, but one way only -->
        <th ng-show="canOrderBy('leechers') && isOrderBy('leechers') && !supportsByDir" style="text-align:right">
          <strong translate-once>COMMON/torrent-leech/lbl</strong>
        </th>
        <!-- can sort by seeders, but one way only -->
        <th ng-show="canOrderBy('leechers') && !isOrderBy('leechers') && !supportsByDir" style="cursor: pointer;text-align:right">
          <u uib-tooltip="{{'COMMON/sort-column/tooltip'|translate}}" tooltip-append-to-body="true" ng-click="setOrderBy('leechers')"><strong translate-once>COMMON/torrent-leech/lbl</strong></u>
        </th>
        <!-- can sort by leechers, in asc and desc -->
        <th ng-show="canOrderBy('leechers') && supportsByDir" style="cursor: pointer;text-align:right">
          <u uib-tooltip="{{'COMMON/sort-column/tooltip'|translate}}" tooltip-append-to-body="true" ng-click="setOrderBy('leechers')"><strong translate-once>COMMON/torrent-leech/lbl</strong><span class="sortorder" ng-style="{color: supportsByDir ? 'white' : 'gray'}" ng-class="{'reverse': orderByDir['leechers'] === '.a'}"></span></u>
        </th>

      </tr>
      <tr ng-repeat="seed in items" class="no-animate">
        <td style='width:80px; padding:5px; vertical-align: top;'>
          <a ng-if="!seed.noMagnet" ng-click="select(seed)">
            <i class="glyphicon glyphicon-magnet" uib-tooltip="{{'COMMON/download-magnet/tooltip'|translate}}"></i>
          </a>
          <a ng-if="seed.noMagnet">
            <i class="glyphicon glyphicon-magnet" style="color:gray"></i>
          </a>
          <a ng-if="!seed.noTorrent" ng-click="select(seed)">
            <i class="glyphicon glyphicon-download" uib-tooltip="{{'COMMON/download-torrent/tooltip'|translate}}"></i>
          </a>
          <a ng-if="seed.noTorrent">
            <i class="glyphicon glyphicon-download" style="color:gray"></i>
          </a>
          <!-- sneaky: update the $scope.seed with a dangling ref to the magic hash fetched from a promise.
               It's leaking memory until the torrent dialog is closed, won't be much of a problem imo. -->
          <a ng-if="!seed.noMagnet" ng-href="{{seed.magnetUrl}}" ng-click="seed=submitMagnetLink(seed)">
            <i class="glyphicon glyphicon-link" uib-tooltip="{{'COMMON/magnet-link/tooltip'|translate}}"></i>
          </a>
          <a ng-if="seed.noMagnet">
            <i class="glyphicon glyphicon-link" style="color:gray"></i>
          </a>
          <a ng-if="seed.detailUrl" ng-href="{{::seed.detailUrl}}" target='_blank'>
            <i class="glyphicon glyphicon-info-sign" uib-tooltip="{{'COMMON/torrent-details/lbl'|translate}}"></i>
          </a>
          <a ng-if="!seed.detailUrl">
            <i class="glyphicon glyphicon-info-sign" style="color:gray"></i>
          </a>
        </td>
        <td style="word-break:break-word">
          <a ng-bind-html="::seed.releasename | unsafe" ng-click="select(seed)"></a>
        </td>
        <td style="text-align:right">
          <a ng-bind-html="::seed.size" ng-click="select(seed)" style='white-space:nowrap'></a>
        </td>
        <td style='width:50px; text-align:right'>
          <a  ng-bind="::seed.seeders" ng-click="select(seed)"></a>
        </td>
        <td style='width:50px; text-align:right'>
          <a  ng-bind="::seed.leechers" ng-click="select(seed)"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>