<fieldset>
<style> 
 .table a {
 	text-decoration:underline;
 }
 </style>
<h2>About DuckieTV v<ng-include src="'VERSION'"></ng-include></h2>

<table class="table light">
<tr>
<td>

<h3>Help</h3>
<p>For help and discussion, please visit <a href='http://reddit.com/r/duckietv' target='_blank'>Reddit/r/DuckieTV</a>
</p>
<p>For a list of the latest changes, check the <a href='https://github.com/SchizoDuckie/DuckieTV#changelog-' target='_blank'>Changelog</a>

<h3>Bugs</h3>
<p>If you find a bug, please report it on <a href="http://github.com/SchizoDuckie/DuckieTV/issues" target='_blank'>Github</a> So that I can keep track of it</p>

<h3>TV Show information</h3>
<p>DuckieTV makes extensive use of the base database built by <a href='http://thetvdb.org'>TheTVDB's open database</a>. If you find incorrect information about shows <a href='http://www.thetvdb.com/wiki/index.php/Main_Page'>please visit their Wiki Page and help them correct it</a></p>

<h3>Privacy</h3>
<strong>I DO NOT WANT YOUR DATA</strong>
<ul>
<li>The only statistics tracked are the installations by google analytics and visits to the public github site.</li>
<li>As soon you install this plugin it runs locally without sending statistics anywhere. There is no logging from my side of anything you do within this plugin and there never will be.</li>
<li>I do not want your money, I do this in my spare time for fun and to make my own life and that of other's easier. There is no business model.</li>
<li>There are no costs to cover: No servers, no hosting, no databases, everything runs on google's, github's and reddit's infrastructure. Therefore you are <em>not</em> the product and this is extension is free as in free beer.</li>
<li>Everything runs locally. If you decide to execute a torrent search for an episode, a request goes from your computer to the search engine.</li>
</ul>

<h3>Links and Credits</h3>

<p>DuckieTV wouldn't be possible without the creators of the following sites:</p>

<ul>
<li><a href='http://TheTVDB.org'>TheTVDB.org</a> The largest open TV information db in the world</li>
<li><a href='http://Trakt.tv'>Trakt.TV</a> They made TheTVDB even better</li>
<li><a href='http://angularjs.org'>Angular.js</a> The Javascript framework to end all Javascript frameworks</li>
<li><a href='http://Github.com'>Github</a> The home of open source</li>
<li><a href='http://reddit.com'>Reddit</a> and the awesome people there</li>
<li><a href='http://mobify.com'>Mobify</a> ( For their awesome image resizing and caching CDN )</li>
</ul>

<h3>DuckieTV links</h3>
<ul>
<li>
<strong>Website:</strong> <a href='http://schizoduckie.github.io/DuckieTV'>http://schizoduckie.github.io/DuckieTV</a></p>
</li><li>
<strong>Chrome Web store:</strong> <a href='https://chrome.google.com/webstore/detail/hkbamkappmgfjjahmnlngibomenmbbdf/'>'New tab' mode</a> <a href='https://chrome.google.com/webstore/detail/cdfkaloficjmdjbgmckaddgfcghgidei/'>'Browser action' mode</a></p>
</li>
</ul>

<h3>Contributing</h3>
<p>Want to contribute to DuckieTV and get your feet wet in Angular.js? Feel free to <a href='https://github.com/SchizoDuckie/DuckieTV/fork' target='_blank'>Fork DuckieTV and submit pull requests</a>!</p>

  <table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.8); color:white; border-top:0px'>
    <tr>
        <td colspan='2' style='border-top:0px'><h3>Statistics</h3></td>
    <tr>
    <tr ng-repeat="stats in statistics">
        <td width='300px'><strong>{{stats.name}}</strong></td>
        <td>{{stats.data}}</td>
    </tr>
  </table>
</td>
</tr>
</fieldset>
