<!-- backupDialog.html -->
<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h2 translate-once="SETTINGS/BACKUP/autobackup/hdr"></h2>
<a href="#settings/backup" ng-click="cancel()" style="float:right; margin-top:-25px;"> <i class="glyphicon glyphicon-cog"></i> <span translate-once="COMMON/settings/lbl"></span><span translate-once="SETTINGS/BACKUP/autobackup/hdr"></span></a>
<p translate-once="SETTINGS/BACKUP/desc"></p>
<div class="buttons">
  <a class="btn btn-info" download="DuckieTV {{backupTime|date:shortDate}}.backup" ng-href="{{backupString}}" ng-click="saved()">
    <i class="glyphicon glyphicon-floppy-saved spin"></i> <span translate-once="SETTINGS/BACKUP/download/btn"></span>
  </a>
  <a class="btn btn-danger" ng-click="cancel()">
    <i class="glyphicon glyphicon-ban-circle"></i> <span translate-once="COMMON/cancel/btn"></span>
  </a>
</div>
