<fieldset>
<h2>{{'CHROMECAST/hdr'|translate}}</h2>

<table class='table table-condensed light'>
<tr>
<td>

<h3>{{'CHROMECAST/desc/hdr'|translate}}</h3>
<p>{{'CHROMECAST/desc/p1'|translate}}</p>

<strong>{{'CHROMECAST/requirements/hdr'|translate}}</strong>
<ul>
<li>{{'CHROMECAST/requirements/li1'|translate}}</li>
<li><translate>CHROMECAST/requirements/li2</translate></li>
<li><a><translate>CHROMECAST/requirements/li3</translate></a><button class="btn btn-xs btn-info" ng-click='showWebUI = true'>{{'CHROMECAST/more-setup/btn'|translate}}</button>
<p ng-if="showWebUI">
<em>{{'CHROMECAST/requirements/emb1'|translate}}
{{'CHROMECAST/requirements/emb2'|translate}}</em>
<img ng-if="showWebUI" src="img/utorrentconfig.png">
</li>
<li>{{'CHROMECAST/instructions/hdr'|translate}}</li>
</ul>

<p><translate>CHROMECAST/instructions/p1</translate></p>
<p><translate>CHROMECAST/instructions/p2</translate></p>
<p>
{{'CHROMECAST/instructions/p3'|translate}}
</p>

<div ng-if="localIpAddresses">
  <strong>{{'CHROMECAST/your-local-ipaddr/hdr'|translate}}</strong>
  <ul class="list">
      <li style='padding:10px' ng-repeat="address in localIpAddresses track by $index"><button class="btn btn-xs btn-info" ng-click="setStreamingSource(address)">{{'CHROMECAST/your-local-ipaddr/btn'|translate}}</button></li>
  </ul>
</div>

<p class="info" ng-if="localIpAddress">{{'CHROMECAST/cast-local-ipaddr/hdr'|translate}}<strong>{{localIpAddress}}</strong></p>

<p ng-if="localIpAddress">
	{{'CHROMECAST/connect/hdr'|translate}}<br>
	<button class="btn btn-success" ng-click="Cast()">{{'CHROMECAST/connect/btn'|translate}}</button>

	<p>{{'CHROMECAST/connect/p1'|translate}}<a href='#/torrent' style='text-decoration:underline'>{{'CHROMECAST/connect/link'|translate}}</a>{{'CHROMECAST/connect/p2'|translate}}</p> 
</p>

<strong>{{'CHROMECAST/notes/hdr'|translate}}</strong>
<p>
{{'CHROMECAST/notes/p1'|translate}}<a href='http://schizoduckie.github.io/DuckieTorrent' target='_blank' style='text-decoration:underline'>{{'CHROMECAST/notes/p2'|translate}}</a>!) 
</p>

</td></tr></table>
</fieldset>
