<!-- customSearchEngineDialog.html -->
<div id="customSearchEngine">
  <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
  <h1><span>Custom Search Engines</span></h1>

  <form ng-submit="cse.test()" novalidate id="searchEngineForm">
    <formly-form model="cse.model" fields="cse.fields"></formly-form>
  </form>

  <button ng-click="cse.add()" class="btn btn-primary">{{cse.isNew ? 'Register New Engine' : 'Update Search Engine'}}</button>
  <button ng-click="cse.test()" class="btn btn-primary submit-button">Test</button>

  <div class="log">
    <p ng-repeat="log in cse.pageLog track by $index">{{log}}</p>
  </div>
<div>