<serieHeader data="serie" class="full" mode='banner'></serieHeader>

<div class="row serie">
  <div class="col-md-8">
    <table class="table table-condensed light" style='margin-top: 20px; border: 1px solid #efefef; border-collapse:collapse;'>
      <tbody ng-if="!episode">
        <tr>
          <td>{{'EPISODE-fetching-hdr'|translate}}</td>
        </tr>
      </tbody>
      <tbody ng-if="episode">
        <tr>
          <td>
            <h2>{{getEpisodeNumber(episode)}} - {{ episode.episodename }}</h2>
          </td>
          <td style='padding: 5px; vertical-align:middle;'>
            <torrent-dialog ng-if="getSetting('torrenting.enabled') && hasAired(episode)" tvdbid='episode.TVDB_ID' q='getSearchString(serie,episode)' style='font-size:20px'></torrent-dialog>
            <episode-watched ng-if="hasAired(episode)" episode="episodeEntity" style="display:inline-block;margin-left:10px"></episode-watched>

          </td>
        </tr>
        <tr>
          <td colspan="2">

            <div style='float:left; width: 300px; height:180px; background-size:contain; background-repeat:no-repeat; margin: 10px; ' lazy-background="{{episode.filename}}"></div>
            {{episode.overview}}

          </td>
        </tr>
        <tr ng-if="episode.firstaired != null">
          <th>{{'EPISODE-firstaired-hdr'|translate}}</th>
          <td>{{ episode.firstaired | date: 'medium' }}</td>
        </tr>
        <tr>
          <th>{{'EPISODE-rating-hdr'|translate}}</th>
          <td>{{episode.rating}} ({{episode.ratingcount}} {{'EPISODE-votes-lbl'|translate}})</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
      <serie-details ng-if="serie" serie="serie">
        <torrent-remote-control ng-if="getSetting('torrenting.enabled') && episode && episode.magnetHash" info-hash="episode.magnetHash"></torrent-remote-control>
    </serie-details>
  </div>
</div>
