<serieHeader data="serie" class="full"></serieHeader>

<div class="row serie">
  <div class="col-md-8">
  <table class="table table-condensed light" style='margin-top: 20px; border: 1px solid #efefef; border-collapse:collapse;'>
	<tbody  ng-if="!episode">
	<tr>
		<td>Fetching episode</td>
	</tr>
	</tbody>
	<tbody ng-if="episode">
		<tr><td><h2> {{getEpisodeNumber(episode)}} - {{ episode.episodename }}</h2>
		</td><td style='padding: 5px; vertical-align:middle;'><div class="dropdown" style='display:inline-block'>
				     <a ng-if="hasAired(episode)" ng-click="searchTPB(serie, episode)" tooltip="Search for a download" class="dropdown dropdown-toggle"><i style='font-size: 20px' class="glyphicon glyphicon-download"></i> </a>
				       <div class="dropdown-menu" style='width: 550px'>
						   <table class="torrents">
						   		<thead>
							   		<tr ng-if="searching">
							   			<td><img style='background-color: transparent; margin:0 auto; display:block;' src='img/spinner.gif'>
							   				<p style='text-align:center; padding:10px;'>Searching Thepiratebay, please wait.</p></td>
							   		</tr>
							   		<tr ng-if="!searching && items.length == 0">
							   			<td >
							   				<p>No results found for</p>
							   				<strong>{{ getSearchString(serie,episode) }} </strong>
							   				<p>Do you want to try an alternative tpb search?</p>
							   				<button ng-click="searchmanual(getSearchString(serie,episode))">Seach manually</button>
							   			</td>
							   		</tr>
						   		</thead>
						   		<tbody>
							   		<tr ng-if="!searching && items.length > 0 ">
							   			<th>&nbsp;</th><th><strong>Name</strong></th><th><strong>Seed</strong></th><th><strong>Leech</strong></th>
							   		</tr>
									<tr ng-if="!searching && items.length > 0 " ng-repeat="seed in items">
										<td style='width:30px; padding:5px;' ng-bind-html="seed.magnetlink.replace('static/', '/')|unsafe"></td>
									    <td><a ng-href='{{seed.magneturl}}' tooltip="Size: {{seed.size}}" ng-bind-html="seed.releasename | unsafe"></a></td>
									    <td style='width:50px'><a ng-href='{{seed.magneturl}}' ng-bind="seed.seeders"></a></td>
									    <td style='width:50px'><a ng-href='{{seed.magneturl}}' ng-bind="seed.leechers"></a></td>
								    </tr>
							    </tbody>
							</table>	
						</div>
				</div> <episode-watched  ng-if="hasAired(episode)" episode="episode" style="display:inline-block;margin-left:10px"></episode-watched></td></tr>
		<tr><td colspan="2">
			<div style='float:left; width: 300px; height:180px; background-size:contain; background-repeat:no-repeat; margin: 10px; ' lazy-background="http://thetvdb.com/banners/{{episode.filename}}"></div>
		{{episode.overview}}
			
		</td></tr>
		<tr><th>writer</th><td>{{episode.writer}}</td></tr>
		<tr><th>director</th><td><ul class="list-unstyled"><li ng-repeat="director in episode.director.split('|') track by $index">{{director}}</li></ul></td></tr>
		<tr><th>gueststars</th><td><ul class="list-unstyled"><li ng-repeat="gueststar in episode.gueststars.split('|') track by $index">{{gueststar}}</li></ul></td></tr>
		<tr><th>firstaired</th><td>{{episode.firstaired|date:'dd-MM-yyyy'}}</td></tr>
		<tr><th>rating</th><td>{{episode.rating}} ({{episode.ratingcount}} ratings)</td></tr>
		<tr><th>lastupdated</th><td>{{episode.lastupdated|date:'dd-MM-yyyy'}}</td></tr>
	  </tbody>
	</table>
	</div>
	<div class="col-md-4">
		<!-- <button class="btn btn-ok" ng-click="notify(serie)">click me!</button>-->
		<serie-details serie="serie"></serie-info>
	</div>
</div>
