<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<div class="fastsearch series miniposter">
    <h1>QuickSearch</h1>
    <form ng-submit="save()" novalidate id="fastSearchForm">
      <formly-form model="model" fields="fields"></formly-form>
    </form>

    <h2 ng-show="!model.query || model.query == ''" style="text-align:center" translate-once="TORRENTDIALOG/placeholder"></h2>

    <div class="fs-container fs-posters" ng-class="{'active': searchResults.series.length > 0 || seriesLoading}">
      <h3>Series from Favorites</h3>
      <loading-spinner class="small" ng-show="seriesLoading"></loading-spinner>
      <div class="fs-series no-animate" ng-if="searchResults.series.length > 0 && !seriesLoading">
        <serieheader ng-repeat="serie in searchResults.series |limitTo: 6 track by $index" data="serie" mode="poster" no-badge="1" no-title="0" no-overview="1" ng-click="cancel()" class="no-animate"></serieheader>
      </div>
    </div>

    <div class="fs-container fs-posters" ng-class="{'active': searchResults.traktSeries.length > 0 || traktSeriesLoading}">
      <h3>Series from Trakt.TV (click to add)</h3>
      <loading-spinner class="small" ng-show="traktSeriesLoading"></loading-spinner>
      <div class="fs-traktseries no-animate" ng-if="searchResults.traktSeries.length > 0 && !traktSeriesLoading">
        <serieheader ng-repeat="serie in searchResults.traktSeries |limitTo: 6 track by $index" data="serie" mode="poster" no-badge="1" no-title="0" no-overview="1" ng-click="addTraktSerie(serie)" class="no-animate">
        <em class="earmark" ng-show="isAdded(serie.tvdb_id)"><i class='glyphicon glyphicon-ok'></i></em>
        <em class="earmark adding" ng-show="isAdding(serie.tvdb_id)"><loading-spinner style="width: 37px; height:37px;"></loading-spinner></em>
        <em class="earmark error" ng-show="isError(serie.tvdb_id)" tooltip="{{error[serie.tvdb_id]}}" tooltip-append-to-body="true" > :( </em>        
        </serieheader>
      </div>
    </div>

    <div class="fs-container fs-list" ng-class="{'active' : searchResults.episodes.length > 0 || episodesLoading}">
      <h3>Episodes from Favorites</h3>
      <loading-spinner class="small" ng-show="episodesLoading"></loading-spinner>
      <div class="episodes" ng-if="searchResults.episodes.length > 0 && !episodesLoading">
        <table style='width:100%'>
          <tr ng-click="cancel()" ng-repeat="episode in searchResults.episodes | limitTo: 9 track by $index">
            <td><a ui-sref="episode({episode_id: episode.ID_Episode})">{{episode.getFormattedEpisode()}}</a></td>
            <td><a ui-sref="episode({episode_id: episode.ID_Episode})">{{getSerie(episode).name}}</a></td>
            <td><a ui-sref="episode({episode_id: episode.ID_Episode})">{{episode.episodename}}</a></td>
            <td>{{episode.firstaired |date:'short'}}</td>
            <td>
            <div ng-show="episode.hasAired() && getSetting('torrenting.enabled')">
             <torrent-dialog episode="episode" serie="getSerie(episode)"></torrent-dialog>
             <a class="auto-download" ng-click="fastSearch.autoDownload(sidepanel.serie, episode)" tooltip="{{'COMMON/auto-download/lbl'|translate}}"><i class="glyphicon glyphicon-cloud-download"></i></a>
            </div>
          </tr>
        </table>
      </div>
    </div>
    <div class="fs-container fs-list torrents" ng-class="{'active' : searchResults.torrents.length > 0 || torrentsLoading}" ng-if="getSetting('torrenting.enabled')">
      <h3>Torrents</h3>
      <loading-spinner class="small" ng-show="torrentsLoading"></loading-spinner>
      <div ng-if="searchResults.torrents.length > 0 || !torrentsLoading">
        <table class="torrents table table-condensed white" style="margin-bottom: 0">
          <tr>
            <th>&nbsp;</th>
            <th>
              <strong translate-once="TORRENTDIALOG/name/lbl"></strong>
            </th>
            <th>
              <strong translate-once="TORRENTDIALOG/size/lbl"></strong>
            </th>
            <th>
              <strong translate-once="TORRENTDIALOG/seed/lbl"></strong>
            </th>
            <th>
              <strong translate-once="TORRENTDIALOG/leech/lbl"></strong>
            </th>
          </tr>
          <tr ng-repeat="seed in searchResults.torrents | limitTo: 9" class="no-animate">
            <td style='width:80px; padding:5px; vertical-align: top;'>
              <a ng-click="torrentSelect(seed)">
                <i class="glyphicon glyphicon-magnet" tooltip="{{'TORRENTDIALOG/download-magnet/tooltip'|translate}}"></i>
              </a>
              <a ng-href="{{::seed.torrent}}">
                <i class="glyphicon glyphicon-download" tooltip="{{'TORRENTDIALOG/download-torrent/lbl'|translate}}"></i>
              </a>

              <a ng-href="{{::seed.magneturl}}">
                <i class="glyphicon glyphicon-link" tooltip="{{'TORRENTDIALOG/magnet/link/lbl'|translate}}"></i>
              </a>
              <a ng-href="{{::seed.detailUrl}}" target='_blank'>
                <i class="glyphicon glyphicon-info-sign" tooltip="{{'COMMON/torrent-details/lbl'|translate}}"></i>
              </a>
            </td>
            <td>
              <a ng-bind-html="::seed.releasename | unsafe" ng-click="torrentSelect(seed)"></a>
            </td>
            <td>
              <a ng-bind-html="::seed.size" ng-click="torrentSelect(seed)" style='white-space:nowrap'></a>
            </td>
            <td style='width:50px; text-align:right'>
              <a  ng-bind="::seed.seeders" ng-click="torrentSelect(seed)"></a>
            </td>
            <td style='width:50px; text-align:right'>
              <a  ng-bind="::seed.leechers" ng-click="torrentSelect(seed)"></a>
            </td>
          </tr>
        </table>
      </div>
    </div>

</div>