<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<div class="fastsearch series miniposter">
    <h1>QuickSearch</h1>
    <form ng-submit="save()" novalidate id="fastSearchForm">
      <formly-form model="model" fields="fields"></formly-form>
    </form>

    <h2 ng-show="!model.query || model.query == ''" style="text-align:center" translate-once="TORRENTDIALOG/placeholder"></h2>

    <div class="fs-container" ng-class="{'active': searchResults.series.length > 0 || seriesLoading}">
      <h3>Series</h3>
      <loading-spinner class="small" ng-show="seriesLoading"></loading-spinner>
      <div class="fs-series no-animate" ng-if="searchResults.series.length > 0 && !seriesLoading">
        <serieheader ng-repeat="serie in searchResults.series |limitTo: 4 track by $index" data="serie" mode="poster" no-badge="1" no-title="0" no-overview="1" ng-click="cancel()" class="no-animate"></serieheader>
      </div>
    </div>

    <div class="fs-container" ng-class="{'active': searchResults.traktSeries.length > 0 || traktSeriesLoading}">
      <h3>Series not in your library (click to add)</h3>
      <loading-spinner class="small" ng-show="traktSeriesLoading"></loading-spinner>
      <div class="fs-traktseries no-animate" ng-if="searchResults.traktSeries.length > 0 && !traktSeriesLoading">
        <serieheader ng-repeat="serie in searchResults.traktSeries |limitTo: 4 track by $index" data="serie" mode="poster" no-badge="1" no-title="0" no-overview="1" class="no-animate"></serieheader>
      </div>
    </div>

    <div ng-show="searchResults.episodes.length > 0 || episodesLoading">
      <h3>Episodes</h3>
      <loading-spinner class="small" ng-show="episodesLoading"></loading-spinner>
      <div class="episodes" ng-if="searchResults.episodes.length > 0 && !episodesLoading">
        <table style='width:100%'>
          <tr ng-click="cancel()" ng-repeat="episode in searchResults.episodes | limitTo: 9 track by $index">
            <td><a ui-sref="episode({episode_id: episode.ID_Episode})">{{episode.getFormattedEpisode()}}</a></td>
            <td><a ui-sref="episode({episode_id: episode.ID_Episode})">{{getSerie(episode).name}}</a></td>
            <td><a ui-sref="episode({episode_id: episode.ID_Episode})">{{episode.episodename}}</a></td>
            <td>{{episode.firstaired |date:'short'}}</td>
            <td>
            <div ng-show="episode.hasAired() && getSetting('torrenting.enabled')">
             <torrent-dialog episode="episode" serie="getSerie(episode)"></torrent-dialog>
             <a class="auto-download" ng-click="fastSearch.autoDownload(sidepanel.serie, episode)" tooltip="{{'COMMON/auto-download/lbl'|translate}}"><i class="glyphicon glyphicon-cloud-download"></i></a>
            </div>
          </tr>
        </table>
      </div>
    </div>

    <div class="torrents" ng-if="searchResults.torrents.length > 0">
      <h1>Torrents</h1>
    </div>
</div>
