<fieldset ng-if="getSetting('torrenting.enabled') && getSetting('torrenting.searchbox')">
    <h2>{{'HOMETORRENTING/hdr'|translate}}</h2>
    <piratebay-search ng-if="searchEngine == 1"></piratebay-search>
    <kickass-torrent-search ng-if="searchEngine == 2"></kickass-torrent-search>
    <ul class="list-inline engineselect">
      <li ng-click="searchEngine = 1">
        <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchEngine != 1, 'glyphicon-record': searchEngine == 1}"></i>
        <strong>The Pirate Bay</strong>
      </li>
      <li ng-click="searchEngine = 2">
        <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchEngine != 2, 'glyphicon-record': searchEngine == 2}"></i>
        <strong>Kickass Torrents</strong>
      </li>
    </ul>
  </fieldset>
