<div class="row">
  <div class="col-md-6">
    <div class="container-fluid">
      <fieldset>
        <h2>Most visited sites</h2>
      </fieldset>
      <chrome-top-sites></chrome-top-sites>
    </div>
  
  <div class='container-fluid' ng-controller="FindSeriesTypeAheadCtrl">
      <fieldset>
        <h2>Find Series</h2>
        <the-tv-db-search></the-tv-db-search>
      </fieldset>
    </div>

    <div class='container-fluid' ng-controller="FindSeriesTypeAheadCtrl">
      <fieldset>
        <h2>Find A Movie</h2>
        <imdb-search></imdb-search>
       </fieldset>
    </div>

    <div class='container-fluid'>
      <fieldset>
        <h2>General ThePirateBay Search</h2>
        <piratebay-search></piratebay-search>
      </fieldset>
    </div> 
  </div>
  <div class='col-md-6' style='opacity: 0.9'>
    <fieldset>
      <h2>Series you're watching</h2>
    </fieldset>
    <div class="series">
      <serieHeader ng-repeat="serie in favorites | orderBy: 'name'" data="serie" no-overview="1"></serieHeader> 
    </div>
  </div>
</div>
