<!-- serieHeader.html -->
<div class="serieheader" tooltip-html-unsafe="<strong>{{mode == 'poster' ? data.name : ''}}</strong> <br> ({{data.notWatchedCount}} {{'SERIEHEADER/to-watch/tooltip'|translate}})">
  <div class="imgcont">
    <div ng-show="!noBadge">
      <em ng-show="data.notWatchedCount != 0 " class="badge">
        <i class="glyphicon glyphicon-eye-close" ></i> {{data.notWatchedCount}}
      </em>
    </div>
    <a ng-show="!noListButton" ui-sref="serie({id: data.ID_Serie})">
      <div class="{{mode}}" lazy-background="{{mode == 'poster' ? data.poster : data.banner}}"></div>
    </a>
     <a ng-show="noListButton">
      <div class="{{mode}}" lazy-background="{{mode == 'poster' ? data.poster : data.banner}}"></div>
    </a>
  </div>
  <h3 ng-show="!noTitle">{{data.name}}</h3>
  <div ng-show="!noOverview" class='overview'><p>{{data.overview}}</p></div>
  <div ng-transclude></div>
</div>
