<!-- serieHeader.html -->
<div class="serieheader" tooltip="{{mode == 'poster' ? data.name : ''}}">
  <div class="imgcont">
    <em ng-show="data.watched" class="badge">
      <i class="glyphicon glyphicon-eye-open" style="color:green"></i>
    </em>
    <em ng-show="!data.watched" class="badge">
      <i class="glyphicon glyphicon-eye-close"></i> {{data.notWatchedCount}}
    </em>

    <a ng-if="!noListButton" ui-sref="serie({id: data.ID_Serie})">
      <div class="{{mode}}" lazy-background="{{mode == 'poster' ? data.poster : data.banner}}"></div>
    </a>
     <a ng-if="noListButton">
      <div class="{{mode}}" lazy-background="{{mode == 'poster' ? data.poster : data.banner}}"></div>
    </a>
  </div>
  <h3 ng-show="!noTitle">{{data.name}}</h3>
  <div ng-show="!noOverview" class='overview'><p>{{data.overview}}</p></div>
  <div ng-transclude></div>
</div>