
<table class="table table-condensed light">
<tr><th colspan="2"><h1>Series info</h1>
</th></tr>
<tr><th colspan="2" style='text-align:center'><div lazy-background="http://thetvdb.com/banners/{{serie.poster}}" style='margin: 0px auto; width:300px; height:400px; background-size:contain; background-repeat:no-repeat;'></div><button class="btn btn-danger" ng-click="removeFromFavorites(serie)">Remove from favorites</button>
</th></tr>

<tr><th>actors</th><td><ul class="list-unstyled"><li ng-repeat="actor in serie.actors.substring(1, serie.actors.length -2).split('|') track by $index">{{actor}}</li></ul></td></tr>
<tr><th>airs_dayofweek</th><td>{{serie.airs_dayofweek}}</td></tr>
<tr><th>airs_time</th><td>{{serie.airs_time}}</td></tr>
<tr><th>contentrating</th><td>{{serie.contentrating}}</td></tr>
<tr><th>firstaired</th><td>{{serie.firstaired}}</td></tr>
<tr><th>genre</th><td><ul class="list-unstyled"><li ng-repeat="genre in serie.genre.substring(1, serie.genre.length -1).split('|') track by $index">{{genre}}</li></ul></td></tr>
<tr><th>language</th><td>{{serie.language}}</td></tr>
<tr><th>network</th><td>{{serie.network}}</td></tr>
<tr><th>rating</th><td>{{serie.rating}}</td></tr>
<tr><th>ratingcount</th><td>{{serie.ratingcount}}</td></tr>
<tr><th>runtime</th><td>{{serie.runtime}}</td></tr>
<tr><th>status</th><td>{{serie.status}}</td></tr>
<tr><th>added</th><td>{{serie.added}}</td></tr>
</table>