<div class="table table-condensed light" style='margin-bottom:0; margin-top:20px; position:relative;'>
  <div ng-transclude></div>
  <div ng-if="seasons">
    <h2 style='border-bottom: 1px solid white; padding:5px;'>{{'SERIEDETAILS-seasons-hdr'|translate}}
      <small style='float:right'>{{'SERIEDETAILS-clicktosee-lbl'|translate}}</small>
    </h2>
    <div style='text-align: center; overflow-x: auto; height: 280px; overflow-y: hidden; white-space: nowrap;'>
      <div class='season' ng-repeat="season in seasons" style="display:inline-block; padding:10px; cursor:pointer">
        <p ng-click="setActiveSeason(season)" lazy-background="{{season.poster}}" class="seasonposter"></p>
        <p>
          <strong style='color:white'>{{season.seasonnumber == 0 ? 'Specials' : 'Season '+season.seasonnumber}}</strong>
        </p>
      </div>
    </div>
	<div>
    <h2 style='border-bottom:1px solid white; padding:5px; margin-top:12px !important'>{{'SERIEDETAILS-episoderatings-hdr'|translate}}</h2>
      <div class="chart">
        <div class="chartLine" ng-repeat="p in points track by $index" ng-style="{ height: p.y + '%', left: ((100 / points.length) * $index) + '%',  width: (100 / points.length)+'%', backgroundColor: 'rgba(255,255,255, 0.5)' }" ng-attr-tooltip="{{p.label}}"></div>
      </div>
  </div>
  </div>

  <div ng-if="!seasons">
    <div lazy-background="{{serie.poster}}" style='margin: 0px auto; width:300px; height:400px; background-size:contain; background-repeat:no-repeat;'></div>
  </div>

  <table class="table table-condensed light">
    <tbody>
      <tr>
        <th>{{'SERIEDETAILS-airson-hdr'|translate}}</th>
        <td>{{serie.airs_dayofweek}} {{serie.airs_time}}</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-firstaired-hdr'|translate}}</th>
        <td>{{ serie.firstaired | date:'medium' }}</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-genre-hdr'|translate}}</th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="genre in serie.genre.split('|') track by $index">{{genre}}</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-content-rating-hdr'|translate}}</th>
        <td>{{serie.contentrating}}</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-country-hdr'|translate}}</th>
        <td>{{serie.language}}</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-network-hdr'|translate}}</th>
        <td>{{serie.network}}</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-rating-hdr'|translate}}</th>
        <td>{{serie.rating}} ({{serie.ratingcount}} {{'SERIEDETAILS-votes-lbl'|translate}})</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-runtime-hrd'|translate}}</th>
        <td>{{serie.runtime}} {{'SERIEDETAILS-minutes-lbl'|translate}}</td>
      </tr>
      <tr>
        <th>{{'SERIEDETAILS-status-hrd'|translate}}</th>
        <td>{{serie.status}}</td>
      </tr>
      <tr ng-if="serie.actors.length > 0  " >
        <th>{{'SERIEDETAILS-actors-hdr'|translate}}</th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="actors in serie.actors.split('|') track by $index">{{actors}}</li>
          </ul>
        </td>
      </tr>
     <tr>
        <th colspan='2' style='text-align:center'>
          <button class="btn btn-danger" ng-click="removeFromFavorites(serie)">{{'SERIEDETAILS-delete-serie-btn'|translate}}</button>
        </th>
      </tr>
    </tbody>
  </table>
