<div class="serieheader" ng-if="!noListButton">
	  <a ng-href=" #/series/{{serie.TVDB_ID}}">
	 	 <div class='banner' lazy-background="{{serie.banner}}"></div>
	 	  <h3>{{ serie.name }}</h3>
  	  </a>
  	  <div ng-if="!noOverview" class='overview'>{{ serie.overview }}</div>

</div>
<div class="serieheader" ng-if="noListButton">
  	  <div class='banner' lazy-background="{{serie.banner}}"></div>
	  <h3>{{ serie.name }}</h3>
	  <div ng-if="!noOverview" class='overview'>{{ serie.overview }}</div>
</div>