<serieHeader no-button=1 data="serie" class="full"></serieHeader>

<div class="row serie">
  <div class="col-md-6">
	<h1># of episodes : {{ episodes.length }}</h1>
	<table class="table table-condensed light" style='border: 1px solid #efefef; border-collapse:collapse;'>
	<tbody  ng-if="episodes.length == 0">
	<tr>
		<td>Fetching episodes</td>
	</tr>
	</tbody>
	<tbody ng-if="episodes.length > 0">
		<tr>
			<th>Episode</th>
			<th>Name</th>
			<th>Air date</th>
			<th>Download</th>
		</tr>
		<tr ng-repeat="episode in episodes">
		<a>
		   	 <td ng-style="{ 'text-decoration': episode.downloaded ? 'line-through' : 'none'}">S{{ episode.season }}E{{ episode.episode }}</td>
		     <td>{{ episode.episodename }}</td>
		     <td class="nobreaks">{{ episode.firstaired }}</td>
		     <td ng-if="episode.magnet"><img src="/img/icon-magnet.gif" width="12" height="12" alt="Magnet link"></td>
		     <td ng-if="!episode.magnet">&nbsp;</td> 
		 </a>
		</tr>
		</tbody>
	</table>
	</div>
	<div class="col-md-6">
		<h1>Series info</h1>
	</div>
</div>
