<serieHeader no-button=1 data="serie" class="full"></serieHeader>

<div class="row serie">
  <div class="col-md-6">

  	<p> Total number of episodes found: {{ episodes.length }}</p>

  	<alert ng-if="markingAsWatched" type="alert.type" close="stopMarkingAsWatched()">You are now in range selection mode. Click on an episode to set that as the last episode you have watched. All episodes up to and including that will be marked as watched. Dismiss this notification </alert>
 
	<table class="table table-condensed light" ng-class="{markingaswatched: markingAsWatched }" style='border: 1px solid #efefef; border-collapse:collapse;'>
	<tbody  ng-if="episodes.length == 0">
	<tr>
		<td>Fetching episodes</td>
	</tr>
	</tbody>
	<tbody ng-if="episodes.length > 0">
		<tr>
			<th><div class="dropdown" tooltip="Click for options">
				<strong class="dropdown-toggle" style='white-space:nowrap'>Episodes&nbsp;<i class="glyphicon glyphicon-chevron-down"></i></strong>
				<ul class="dropdown-menu" style='min-width: 300px'>
					<li ng-click="tvRageSync(serie, episodes)"><i class="glyphicon glyphicon-refresh"></i> Sync with TVRage</li>
				</ul>
			</th></th>
			<th><strong>Name</strong></th>
			<th><strong>Air date</strong></th>
			<th><strong>Download</strong></th>
			<th><div class="dropdown" tooltip="Click for options">
				<strong class="dropdown-toggle" style='white-space:nowrap'>Watched&nbsp;<i class="glyphicon glyphicon-chevron-down"></i></strong>
				<ul class="dropdown-menu" style='min-width: 300px'>
					<li ng-click="markRangeWatchedStart()"><i class="glyphicon glyphicon-pencil"></i> Batch mark episodes as watched</li>
				</ul>
			</th>
		</tr>
		<tr ng-repeat="episode in episodes | orderBy: getEpisodeNumber:true" ng-click="markRange(episode)" ng-mouseover="setMarkEnd(episode)" ng-class="{ 'markAsWatched' : isMarkBeforeEnd(episode) }">
		   	 <td ng-style="{ 'text-decoration': episode.downloaded ? 'line-through' : 'none'}">
		   	 <a ng-href="#/serie/{{serie['TVDB_ID']}}/episode/{{episode.ID_Episode}}">{{getEpisodeNumber(episode)}}</a>
		   	 </td>
		     <td>
				<a tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-html-unsafe="<strong>{{serie.name}} {{getEpisodeNumber(episode)}}</h2><p>{{episode.episodename}}</strong><p>{{episode.overview}}</p>" ng-href="#/serie/{{serie['TVDB_ID']}}/episode/{{episode.ID_Episode}}">{{ episode.episodename }}</a>
			 </td>
		     <td class="nobreaks">{{ episode.firstaired | date:'dd-MM-yyyy'}}</td>
		     <td>
			     <div class="dropdown">
				     <a ng-if="hasAired(episode)" tooltip="Search for a download for {{ serie.name }} {{ getEpisodeNumber(episode) }}" class="dropdown-toggle glyphicon glyphicon-download" ng-click="searchTPB(serie, episode)" class="btn btn-default"></a>
				       <div class="dropdown-menu" style='width: 550px'>
						   <table class="torrents">
						   		<thead>
							   		<tr ng-if="searching">
							   			<td><img style='background-color: transparent; margin:0 auto; display:block;' src='img/spinner.gif'>
							   				<p style='text-align:center; padding:10px;'>Searching Thepiratebay, please wait.</p></td>
							   		</tr>
							   		<tr ng-if="!searching && items.length == 0">
							   			<td >
							   				<p>No results found for</p>
							   				<strong>{{ getSearchString(serie,episode) }} </strong>
							   				<p>Do you want to try an alternative tpb search?</p>
							   				<button ng-click="searchmanual(getSearchString(serie,episode))">Seach manually</button>
							   			</td>
							   		</tr>
						   		</thead>
						   		<tbody>
							   		<tr ng-if="!searching && items.length > 0 ">
							   			<th>&nbsp;</th><th><strong>Name</strong></th><th><strong>Seed</strong></th><th><strong>Leech</strong></th>
							   		</tr>
									<tr ng-if="!searching && items.length > 0 " ng-repeat="seed in items">
										<td style='width:30px; padding:5px;' ng-bind-html="seed.magnetlink.replace('static/', '/')|unsafe"></td>
									    <td><a ng-href='{{seed.magneturl}}' tooltip="Size: {{seed.size}}" ng-bind-html="seed.releasename | unsafe"></a></td>
									    <td style='width:50px'><a ng-href='{{seed.magneturl}}' ng-bind="seed.seeders"></a></td>
									    <td style='width:50px'><a ng-href='{{seed.magneturl}}' ng-bind="seed.leechers"></a></td>
								    </tr>
							    </tbody>
							</table>	
						</div>
				</div>
		     </td>
		     <td><episode-watched  ng-if="hasAired(episode)" episode="episode"></episode-watched></td>
		</tr>
		</tbody>
	</table>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<serie-details serie="serie"></serie-info>
	</div>
</div>
