<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
        <fieldset>
          <h2>{{ 'SETTINGS/hdr'|translate }}</h2>
        </fieldset>
          <div style="tabbable width:85%">
            <ul class="nav nav-tabs nav-justified">
                  <li ng-class="{active: tab == 'default' }">
                    <a href="#/settings/default">{{ 'SETTINGS/general/hdr'|translate }}</a>
                  </li>
                  <li ng-class="{active: tab == 'display' }">
                    <a href="#/settings/display">{{ 'SETTINGS/display/hdr'|translate }}</a>
                  </li>
                  <li ng-class="{active: tab == 'torrent' }">
                    <a href="#/settings/torrent">{{ 'SETTINGS/torrent/hdr'|translate }}</a>
                  </li>
                  <li ng-class="{active: tab == 'trakttv' }">
                    <a href="#/settings/trakttv">{{ 'SETTINGS/trakttv/hdr'|translate }}</a>
                  </li>
                   <li ng-class="{active: tab == 'sync' }">
                    <a href="#/settings/sync">Sync</a>
                  </li>
                  <li ng-class="{active: tab == 'timers' }">
                    <a href="#/settings/timers">{{ 'SETTINGS/timers/hdr'|translate }}</a>
                  </li>
              </ul>
          </div>
        <table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.8); color:white;'>
          <tr>
            <td colspan="2">
              <div ng-include="activeTab"></div>
            </td>
          </tr>
            <!--
      <tr>
      <td><strong>Watchlist</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="update" id="radio_Automatically"><label for="radio_Automatically">Automatically check for updates to watchlist items (every 2 days) </label></li>
            </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Notifications</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="notify" id="radio_aired"><label for="radio_aired">Notify me when series have aired </label></li>
            <li><input type="radio" name="notify" id="radio_available"><label for="radio_available">Notify me when a download is available </label></li>
            <li><input type="radio" name="notify" id="radio_subtitles"><label for="radio_subtitles">Notify me when both download and subtitles are available </label></li>
            </ul>
        </td>
      </tr>
       <tr>
        <td><strong>Subtitles</strong></td>
        <td>
          <ul class="list-unstyled">
              <li>Preferred language: </li>
            </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Custom Trackers</strong></td>
        <td>
          <ul class="list-unstyled">
            <li>Use a custom tracker for episodes</li>
            <li>Rss feed </li>
            <li>Row selector <br>
              <input type='text' name='selector' value='table.results tbody tr'>
            </li>
             <li>For each row
                <table>
                  <tr><td>torrent name:</td><td> <input type='text' name='selector' value='td:nth-child(1)'></td></tr>
                  <tr><td>magnet link:</td><td> <input type='text' name='selector' value='td:nth-child(2)'> </td></tr>
                  <tr><td>seeders: </td><td><input type='text' name='selector' value='td:nth-child(3)'> </td></tr>
                  <tr><td>leechers:</td><td> <input type='text' name='selector' value='td:nth-child(4)'></td></tr>

                </table>
              </li>
          </ul>
        </td>
      </tr>
      -->
        </table>
     
    </div>
  </div>
</div>
