<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <form no-validate>
        <fieldset>
          <h2>Settings</h2>
        </fieldset>

        <table class="table table-condensed table-light" style='background-color: rgba(0,0,0,0.8); color:white;'>
          <tr>
          <td colspan="2">
            <p class="alert alert-info"> <strong>Manual show updates</strong><br>
             If for some reason one of your TV shows hasn't updated, you can go to the <a href='#timers' style='text-decoration:underline; color:black'>Timers</a> page and fire the auto-update timer manually
            </td>
            
            </tr>
            <tr>
              <th>Backup / Import</th>
              <td>
                <h3>Create a backup of your series / episodes / watched list.</h3>
                <a class="btn btn-success" download="DuckieTV.backup" ng-if="!backupString" ng-click="createBackup()">Create Database Backup</a>
                <a class="btn btn-info" download="DuckieTV.backup" ng-if="backupString" ng-href="{{ backupString }}">Backup ready! Click to download.</a>
                
                <h3>Restore a backup</h3>
                <div file-input="file" on-change="restore()"></div>
                <p ng-show="log.length > 0">
                  Import Log:
                  <ul style='max-height:150px; overflow-y:auto;'>
                    <li ng-repeat="status in log track by $index">{{status}}</li>
                  </ul>
                </p>
              </td>

            </tr>
            <tr>
            <th>
              <strong>Sync between browser</strong>
              <p class="label label-success" ng-show="getSetting('storage.sync')">Enabled</p>
              <p class="label label-danger" ng-show="!getSetting('storage.sync')">Disabled</p>
            </th>
            <td>

              <ul class="list-unstyled">
                <li>
                  <p class="alert alert-info">
                    <strong>Experimental!</strong>
                    Hit this button to push your current series list into the cloud. Sign in on another browser with the same google account and your series list will automagically be synced.</p>
                  <button ng-click="sync()" class="btn btn-success">Push local series list into the cloud</button>
                </li>
                <li style="padding-top:4px">
                  <p ng-show="!getSetting('storage.sync')" class="alert alert-info">Clicking this button will keep your series in sync with other browsers</p>
                  <p ng-show="getSetting('storage.sync')" class="alert alert-warning">Clicking this button will stop syncing your local series list with other browsers</p>
                  <button ng-show="!getSetting('storage.sync')" ng-click="enableSetting('storage.sync')" class="btn btn-success">Keep series in sync between browsers</button>
                  <button ng-show="getSetting('storage.sync')" ng-click="disableSetting('storage.sync')" class="btn btn-danger">Don't sync between browsers</button>
                </li>
              </ul>

            </td>
            <tr ng-show="hasTopSites">
              <td style='width:150px'>
                <strong style='white-space:nowrap'>Most Visited Sites</strong>
                <p class="label label-success" ng-show="getSetting('topSites.enabled')">Enabled</p>
                <p class="label label-danger" ng-show="!getSetting('topSites.enabled')">Disabled</p>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <p ng-show="!getSetting('topSites.enabled')" class="alert alert-info">Clicking the button will show a list of your 6 most visited sites on the new tab page</p>
                    <p ng-show="getSetting('topSites.enabled')" class="alert alert-warning">Clicking the button will hide the list of your most visited sites from the new tab page</p>
                    <button ng-show="!getSetting('topSites.enabled')" ng-click="enableSetting('topSites.enabled')" class="btn btn-success">Show Most Visited Sites in the new tab page</button>
                    <button ng-show="getSetting('topSites.enabled')" ng-click="disableSetting('topSites.enabled')" class="btn btn-danger">Hide the Most Visited Sites from the new tab page</button>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style='width:150px'>
                <strong style='white-space:nowrap; display:block;'>Calendar</strong>
                <p class="label label-info" ng-show="getSetting('calendar.startSunday')">Week start: Sunday</p>
                <p class="label label-success" ng-show="!getSetting('calendar.startSunday')">Week start:Monday</p>
                <p class="label label-info" ng-show="getSetting('calendar.mode') == 'week'">Week</p>
                <p class="label label-success" ng-show="getSetting('calendar.mode') == 'date'">Month</p>

              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <p class="alert alert-info">Toggle between sunday/monday for start day of the week below</p>

                    <button ng-show="!getSetting('calendar.startSunday')" ng-click="enableSetting('calendar.startSunday')" class="btn btn-info">Use sunday as start day-of-week</button>
                    <button ng-show="getSetting('calendar.startSunday')" ng-click="disableSetting('calendar.startSunday')" class="btn btn-success">Use monday as start day-of-week</button>
                  </li>
                  <li style="padding-top:4px">
                    <p class="alert alert-info">If you prefer the calendar to show only the current change it here</p>

                    <button ng-show="getSetting('calendar.mode') == 'date'" ng-click="setSetting('calendar.mode', 'week')" class="btn btn-info">Use one-week calendar</button>
                    <button ng-show="getSetting('calendar.mode') == 'week'" ng-click="setSetting('calendar.mode', 'date')" class="btn btn-success">Use month calendar</button>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td style='width:150px'>
                <strong style='white-space:nowrap'>Torrent Functionality</strong>
                <p class="label label-success" ng-show="getSetting('torrenting.enabled')">Enabled</p>
                <p class="label label-danger" ng-show="!getSetting('torrenting.enabled')">Disabled</p>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <p ng-show="!getSetting('torrenting.enabled')" class="alert alert-info">Clicking the button below enables all torrent related functionalities throughout the app</p>
                    <p ng-show="getSetting('torrenting.enabled')" class="alert alert-warning">Clicking the button below will hide all torrent related functionalities throughout the app</p>
                    <button ng-show="!getSetting('torrenting.enabled')" ng-click="enableSetting('torrenting.enabled')" class="btn btn-success">Enable all torrent functionality</button>
                    <button ng-show="getSetting('torrenting.enabled')" ng-click="disableSetting('torrenting.enabled')" class="btn btn-danger">Disable all torrent functionality</button>
                  </li>
                </ul>
              </td>
            </tr>
              <!-- Is this needed anymore??
			<tr ng-show="getSetting('torrenting.enabled')">
              <td style='width:150px'>
                <strong style='white-space:nowrap'>Torrent Searchbox</strong>
                <p class="label label-success" ng-show="getSetting('torrenting.searchbox')">Enabled</p>
                <p class="label label-danger" ng-show="!getSetting('torrenting.searchbox')">Disabled</p>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <p ng-show="!getSetting('torrenting.searchbox')" class="alert alert-info">Clicking the button below shows the torrent search box on the main page</p>
                    <p ng-show="getSetting('torrenting.searchbox')" class="alert alert-warning">Clicking the button below will hide all the torrent search box from the main page</p>
                    <button ng-show="!getSetting('torrenting.searchbox')" ng-click="enableSetting('torrenting.searchbox')" class="btn btn-success">Show Torrent Search box</button>
                    <button ng-show="getSetting('torrenting.searchbox')" ng-click="disableSetting('torrenting.searchbox')" class="btn btn-danger">Hide Torrent Search box</button>
                  </li>
                </ul>
              </td>
            </tr> -->
            <tr ng-show="getSetting('torrenting.enabled')">
              <td style='width:150px'>
                <strong style='white-space:nowrap'>Torrent Streaming</strong>
                <p class="label label-success" ng-show="getSetting('torrenting.streaming')">Enabled</p>
                <p class="label label-danger" ng-show="!getSetting('torrenting.streaming')">Disabled</p>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <p ng-show="!getSetting('torrenting.streaming')" class="alert alert-info">Clicking the button below enables the streaming option while downloading torrents</p>
                    <p ng-show="getSetting('torrenting.streaming')" class="alert alert-warning">Clicking the button below disables the streaming option while downloading torrents</p>
                    <button ng-show="!getSetting('torrenting.streaming')" ng-click="enableSetting('torrenting.streaming')" class="btn btn-success">Enable Streaming</button>
                    <button ng-show="getSetting('torrenting.streaming')" ng-click="disableSetting('torrenting.streaming')" class="btn btn-danger">Disable Streaming</button>
                  </li>
                </ul>
              </td>
            </tr>
            <tr ng-show="getSetting('torrenting.enabled')">
              <td style='width:150px'>
                <strong style='white-space:nowrap'>Torrent Directory</strong>
                <p class="label label-success" ng-show="getSetting('torrenting.directory')">Enabled</p>
                <p class="label label-danger" ng-show="!getSetting('torrenting.directory')">Disabled</p>
              </td>
              <td>
                <ul class="list-unstyled">
                  <li>
                    <p ng-show="!getSetting('torrenting.directory')" class="alert alert-info">Clicking the button below adds the "open containing folder" button to the episode sub-menu</p>
                    <p ng-show="getSetting('torrenting.directory')" class="alert alert-warning">Clicking the button below removes the "open containing folder" button from the episode sub-menu</p>
                    <button ng-show="!getSetting('torrenting.directory')" ng-click="enableSetting('torrenting.directory')" class="btn btn-success">Enable 'Open Containing Folder'</button>
                    <button ng-show="getSetting('torrenting.directory')" ng-click="disableSetting('torrenting.directory')" class="btn btn-danger">Disable 'Open Containing Folder'</button>
                  </li>
                </ul>
              </td>
            </tr>
            <tr ng-show="getSetting('torrenting.enabled')">
              <td>
                <strong>The Pirate Bay</strong>
              </td>
              <td>
                <p class="alert alert-warning">If for some reason ThePirateBay is blocked in your territory, use the button below to automagically resolve a working mirror that supports magnet links. If you have a preferred server, you may input that as well.
                </p>
                <ul class="list-unstyled">
                  <li>Piratebay main mirror:
                    <br>
                    <input type='url' style='width:500px' ng-model="custommirror">

                    <button class="btn btn-success" ng-click="validateCustomMirror(custommirror)">Validate and Save</button>
                    <button class="btn btn-info" ng-click="findRandomTPBMirror()">Find a random mirror that supports Magnet links</button>

                    <p ng-show="mirrorStatus.length > 0">
                      Current Status:
                      <ul style='max-height:150px; overflow-y:auto;'>
                        <li ng-repeat="status in mirrorStatus track by $index">{{status}}</li>
                      </ul>
                    </p>

                  </li>
                </ul>
              </td>
            </tr>
            <tr ng-show="getSetting('torrenting.enabled')">
              <td>
                <strong>Default Search Provider</strong>
              </td>
              <td>
                <p class="alert alert-info">Change your preferred torrent search provider below</p>

                <ul class="list-unstyled">
                  <li ng-click="setSearchProvider('ThePirateBay')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchprovider != 'ThePirateBay', 'glyphicon-record': searchprovider == 'ThePirateBay'}"></i>
                    <strong>The Pirate Bay</strong>
                  </li>
                  <li ng-click="setSearchProvider('KickassTorrents')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchprovider != 'KickassTorrents', 'glyphicon-record': searchprovider == 'KickassTorrents'}"></i>
                    <strong>Kickass Torrents</strong>
                  </li>
                </ul>
              </td>
            </tr>
            <!-- 
      <tr>
        <td><strong>Page background</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="background" value="default" id='usebg1'> <label for="usebg1">Use series artwork</label></li>
            <li><input type="radio" name="background" value="default" id='usebg2' style='vertical-align:top'>
             <label for="usebg2">Use a custom background image<br>
                  <input type='url' value='' placeholder='url to a custom background' style='width:500px'><br>
                 
                  <input type="radio" name="backgroundsize" value="contain" id='usebgsize1'><label for="usebgsize1" style='width: 150px'>Contain</label> 
                  <input type="radio" name="backgroundsize" value="cover" id='usebgsize2'><label for="usebgsize2" style='width: 150px'>Cover</label> 
                  <input type="radio" name="backgroundsize" value="repeat" id='usebgsize3'><label for="usebgsize3" style='width: 150px'>Repeat</label> 

            </label>
              
            </li>
            <li>
              <input type="radio" name="background" value="default" id='usebg3'> <label for="usebg3">
              Use a custom background color 
              <input colorpicker="rgba" colorpicker-position="right" class="form-control" ng-model="rgbaPicker.color" type="text" placeholder="Click to pick"/>
            </label></li>
          </ul>
        </td>
      </tr>
      <tr>
      <td><strong>Watchlist</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="update" id="radio_Automatically"><label for="radio_Automatically">Automatically check for updates to watchlist items (every 2 days) </label></li>
            </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Updates</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="update" id="radio_Automatically"><label for="radio_Automatically">Automatically check for updates to episodes (every 2 days) </label></li>
            <li><input type="radio" name="update" id="radio_Use"><label for="radio_Use">Use TVRage database on top of TheTvDB by default </label></li>
            </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Notifications</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="notify" id="radio_aired"><label for="radio_aired">Notify me when series have aired </label></li>
            <li><input type="radio" name="notify" id="radio_available"><label for="radio_available">Notify me when a download is available </label></li>
            <li><input type="radio" name="notify" id="radio_subtitles"><label for="radio_subtitles">Notify me when both download and subtitles are available </label></li>
            </ul>
        </td>
      </tr>
       <tr>
        <td><strong>Subtitles</strong></td>
        <td>
          <ul class="list-unstyled">
              <li>Preferred language: </li>
            </ul>
        </td>
      </tr>
      -->
            <tr ng-show="getSetting('torrenting.enabled')">
              <td>
                <strong>Preferred Quality</strong>
              </td>
              <td>
                <p class="alert alert-info">Make a choice below to limit your episode searches to a specific quality.
                  <br>
                  <strong>Be warned:</strong>If you select '720p' this will append '720p' to the default [seriesname] S[seasonnumber]E[episodenumber] search string.
                  <br>This does not work as a 'minimum quality' search!</p>
                <ul class="list-unstyled">
                  <li ng-click="setSearchQuality('')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchquality != '', 'glyphicon-record': searchquality == ''}"></i>
                    <strong>Show all</strong>
                  </li>
                  <li ng-click="setSearchQuality('HDTV')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchquality != 'HDTV', 'glyphicon-record': searchquality == 'HDTV'}"></i>
                    <strong>HDTV</strong>
                  </li>
                  <li ng-click="setSearchQuality('480p')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchquality != '480p', 'glyphicon-record': searchquality == '480p'}"></i>
                    <strong>480p</strong>
                  </li>
                  <li ng-click="setSearchQuality('720p')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchquality != '720p', 'glyphicon-record': searchquality == '720p'}"></i>
                    <strong>720p</strong>
                  </li>
                  <li ng-click="setSearchQuality('1080p')" style='cursor:pointer'>
                    <i class="glyphicon" ng-class="{'glyphicon-unchecked': searchquality != '1080p', 'glyphicon-record': searchquality == '1080p'}"></i>
                    <strong>1080p</strong>
                  </li>

                </ul>
              </td>
            </tr>
            <!--
      <tr>
        <td><strong>Custom Trackers</strong></td>
        <td>
          <ul class="list-unstyled">
            <li>Use a custom tracker for episodes</li>
            <li>Rss feed </li>
            <li>Row selector <br>
              <input type='text' name='selector' value='table.results tbody tr'>
            </li>
             <li>For each row
                <table>
                  <tr><td>torrent name:</td><td> <input type='text' name='selector' value='td:nth-child(1)'></td></tr>
                  <tr><td>magnet link:</td><td> <input type='text' name='selector' value='td:nth-child(2)'> </td></tr>
                  <tr><td>seeders: </td><td><input type='text' name='selector' value='td:nth-child(3)'> </td></tr>
                  <tr><td>leechers:</td><td> <input type='text' name='selector' value='td:nth-child(4)'></td></tr>
            
                </table>
              </li>
          </ul>
        </td>
      </tr>
       <tr>
        <td><strong>Torrent Handling</strong></td>
        <td>
          <ul class="list-unstyled">
            <li><input type="radio" name="torrent" id="radio_Launch"><label for="radio_Launch">Launch Magnet links </label></li>
            <li><input type="radio" name="torrent" id="radio_Use"><label for="radio_Use">Use utorrent remote  </label></li>
            </ul>
        </td>
      </tr>-->
        </table>
      </form>
    </div>
  </div>

</div>
