<!-- subtitleDialog.html -->
<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1>{{'SUBTITLEDIALOG/find-subtitle/hdr'|translate}}</h1>
<input type="text" value="{{serie.name}} {{episode.title}}" focus-watch='searching' onchange="search(query)" placeholder="{{'SUBTITLEDIALOG/placeholder'|translate}}" class="form-control">
<i ng-show="loadingTPB" class="glyphicon glyphicon-refresh"></i>

<table class="torrents table table-condensed white">
  <thead>
    <tr ng-if="searching">
      <td>
        <img style='background-color: transparent; margin:0 auto; display:block;' src='img/spinner.gif'>
        <p style='text-align:center; padding:10px;'>{{'SUBTITLEDIALOG/searching/lbl'|translate}} {{'SUBTITLEDIALOG/searching-please-wait/lbl'|translate}}.</p>
      </td>
    </tr>
    <tr ng-if="!searching && items.length == 0">
      <td>
        <p>{{'SUBTITLEDIALOG/no-results/lbl'|translate}}</p>
        <strong>{{ query }}</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="!searching && items.length > 0">
      <th>
        <strong>S/E</strong>
      </th>
      <th>
        <strong>{{'SUBTITLEDIALOG/language/lbl'|translate}}</strong>
      </th>
      <th>
        <strong>{{'SUBTITLEDIALOG/title/lbl'|translate}}</strong>
      </th>
      <th>
        <strong>{{'SUBTITLEDIALOG/downloads/lbl'|translate}}</strong>
      </th>
     
    </tr>
    <tr ng-if="!searching && items.length > 0 " ng-repeat="subtitle in items | orderBy:'LanguageName' track by $index">
      <td>
        <a href="{{subtitle.url}}" target="_blank">S{{ subtitle.SeriesSeason }}E{{subtitle.SeriesEpisode}}</a>
      </td>
      <td>
        <a href="{{subtitle.url}}" target="_blank">{{ subtitle.LanguageName }}</a>
      </td>
      <td>
        <a href="{{subtitle.url}}" target="_blank">{{ subtitle.MovieReleaseName }}</a>
      </td>
      <td>  
        <a href="{{subtitle.url}}" target="_blank">{{ subtitle.SubDownloadsCnt }}</a>
      </td>

    </tr>
  </tbody>
</table>
