<!-- subtitleDialog.html -->
<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1>{{'SUBTITLEDIALOG/find-subtitle/hdr'|translate}} <img src='./img/opensubtitles.png' tooltip='powered by OpenSubtitles.org' style='float:right; margin-top: -10px; opacity: 0.7'>
</h1>
<input type="text" ng-model="query" ng-model-options="{debounce: 500}" focus-watch='searching' ng-change="search(query)" placeholder="{{'SUBTITLEDIALOG/placeholder'|translate}}" class="form-control">
<i ng-show="loadingTPB" class="glyphicon glyphicon-refresh"></i>

<table class="torrents table table-condensed white">
  <thead>
    <tr ng-show="searching">
      <td>
        <loading-spinner style="margin:0 auto; display:block; width:50px; height:50px; position:relative;"></loading-spinner>
        <p style='text-align:center; padding:10px;'>{{'SUBTITLEDIALOG/searching/lbl'|translate}} {{'SUBTITLEDIALOG/searching-please-wait/lbl'|translate}}.</p>
      </td>
    </tr>
    <tr ng-show="!searching && items.length == 0">
      <td>
        <p>{{'SUBTITLEDIALOG/no-results/lbl'|translate}}</p>
        <strong>{{ query }}</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-show="!searching && items.length > 0">
      <th>
        <strong>S/E</strong>
      </th>
      <th>
        <strong>{{'SUBTITLEDIALOG/language/lbl'|translate}}</strong>
      </th>
      <th>
        <strong>{{'SUBTITLEDIALOG/title/lbl'|translate}}</strong>
      </th>
      <th>
        <strong>{{'SUBTITLEDIALOG/downloads/lbl'|translate}}</strong>
      </th>
     
    </tr>
    <tr ng-show="!searching && items.length > 0 " ng-repeat="subtitle in items | orderBy:'LanguageName' track by $index">
      <td>
        <a href="{{subtitle.url}}" target="_blank">S{{ ::subtitle.SeriesSeason }}E{{::subtitle.SeriesEpisode}}</a>
      </td>
      <td>
        <a href="{{subtitle.url}}" target="_blank">{{ ::subtitle.LanguageName }}</a>
      </td>
      <td>
        <a href="{{subtitle.url}}" target="_blank">{{ ::subtitle.MovieReleaseName }}</a>
      </td>
      <td>  
        <a href="{{subtitle.url}}" target="_blank">{{ ::subtitle.SubDownloadsCnt }}</a>
      </td>

    </tr>
  </tbody>
</table>
