<fieldset>
  <fieldset>
    <h2>Timers overview</h2>

    <table class="table table-condensed light">
      <tr>
        <th>Name</th>
        <th>PeriodInMinutes</th>
        <th>Firing next</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="timer in timers">
        <td>
          <strong>{{timer.name}}</strong>
        </td>
        <td>{{timer.periodInMinutes}}</td>
        <td>{{ timer.scheduledTime | date: 'dd-MM-yyyy H:m:s'}}</td>
        <td><button class="btn-info" ng-click="fire(timer)">Fire timer now</button>
      </tr>
    </table>
  </fieldset>
