<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1>Torrent Search</h1>
<input type="text" ng-model="query" focus-watch='searching' ng-change="search(query)" placeholder="Type your search query" class="form-control">
<i ng-show="loadingTPB" class="glyphicon glyphicon-refresh"></i>
<div class="btn-group" style='margin:0 auto; padding:10px;'>
  <button type="button" class="btn btn-default active" ng-class="{active: searchquality == ''}" ng-click="setQuality('');">All</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '480p'}" ng-click="setQuality('480p')">480p</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == 'HDTV'}" ng-click="setQuality('HDTV')">HDTV</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '720p'}" ng-click="setQuality('720p')">720p</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '1080p'}" ng-click="setQuality('1080p')">1080p</button>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default" ng-class="{'active': searchprovider == 'ThePirateBay'}" ng-click="setProvider('ThePirateBay')">ThePirateBay</button>
  <button type="button" class="btn btn-default" ng-class="{'active': searchprovider == 'KickassTorrents'}" ng-click="setProvider('KickassTorrents')">KickAssTorrents</button>
</div>

<table class="torrents table table-condensed white">
  <thead>
    <tr ng-if="searching">
      <td>
        <img style='background-color: transparent; margin:0 auto; display:block;' src='img/spinner.gif'>
        <p style='text-align:center; padding:10px;'>Searching {{ getSetting('torrenting.searchprovider') }}, please wait.</p>
      </td>
    </tr>
    <tr ng-if="!searching && items.length == 0">
      <td>
        <p>No results found for</p>
        <strong>{{ query }}</strong>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="!searching && items.length > 0">
      <th>&nbsp;</th>
      <th>
        <strong>Name</strong>
      </th>
      <th>
        <strong>Seed</strong>
      </th>
      <th>
        <strong>Leech</strong>
      </th>
    </tr>
    <tr ng-if="!searching && items.length > 0 " ng-repeat="seed in items | limitTo: 20">
      <td style='width:50px; padding:5px;' class='dropdown'>
        <a ng-click="magnetSelect(seed.magneturl)">
          <i class="glyphicon glyphicon-magnet" tooltip="Download magnet"></i>
        </a>
        <a class="dropdown-toggle">
          <i class="glyphicon glyphicon-download" tooltip="Options"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-href="{{seed.torrent}}"><i class="glyphicon glyphicon-download"></i> Download .torrent</a></li>
          <li><a ng-href="{{seed.magneturl}}"><i class="glyphicon glyphicon-magnet"></i> Magnet link</a></li>
          <li><a ng-href="{{seed.detailUrl}}" target='_blank'><i class="glyphicon glyphicon-link"></i> Torrent details</a></li>
        </ul>

      </td>
      <td>
        <a tooltip="Size: {{seed.size}}" ng-bind-html="seed.releasename | unsafe" ng-click="magnetSelect(seed.magneturl)"></a>
      </td>
      <td style='width:50px; text-align:right'>
        <a  ng-bind="seed.seeders" ng-click="magnetSelect(seed.magneturl)"></a>
      </td>
      <td style='width:50px; text-align:right'>
        <a  ng-bind="seed.leechers" ng-click="magnetSelect(seed.magneturl)"></a>
      </td>
    </tr>
  </tbody>
</table>
