<!-- torrentDialog.html -->
<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1 translate-once="TORRENTDIALOG/hdr"></h1>
<a href="#settings/torrent-search" style="float:right; margin-top:-25px;"> <i class="glyphicon glyphicon-cog"></i> <span translate-once="TORRENTDIALOG/settings/glyph"></span></a>
<input type="text" ng-model="query" ng-model-options="{debounce: 500}" focus-watch='searching' ng-change="search(query)" class="form-control" translate-once-placeholder="TORRENTDIALOG/placeholder">
<i ng-show="loadingTPB" class="glyphicon glyphicon-refresh"></i>
<div class="btn-group" style='padding:5px 5px 5px 0;vertical-align:initial'>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == ''}" ng-click="setQuality('');">All</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '480p'}" ng-click="setQuality('480p')">480p</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == 'HDTV'}" ng-click="setQuality('HDTV')">HDTV</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '720p'}" ng-click="setQuality('720p')">720p</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '1080p'}" ng-click="setQuality('1080p')">1080p</button>
</div>

<div class="btn-group" style="padding:0px 5px 5px 0;vertical-align:initial">
 <button ng-repeat="name in clients | orderBy: name" type="button" class="btn btn-default" ng-class="{'active': searchprovider == name}" ng-click="setProvider(name)">{{::name}}</button>
</div>

<table class="torrents table table-condensed white">
  <thead>
    <tr ng-show="searching">
      <td>
         <loading-spinner style="margin:0 auto; display:block; width:50px; height:50px; position:relative;"></loading-spinner>
        <p style='text-align:center; padding:10px;'><span translate-once="TORRENTDIALOG/searching/lbl"></span> {{getName(searchprovider)}}<span translate-once="TORRENTDIALOG/searching-please-wait/lbl"></span>.</p>
      </td>
    </tr>
  </thead>
  <tbody ng-show="!searching && items.length == 0">
    <tr>
      <th>
        <p translate-once="TORRENTDIALOG/no-results/lbl"></p>
        "<strong>{{ query }}</strong>"
      </th>
    </tr>
  </tbody>
  <tbody ng-show="!searching && error == 'null' ">
  <tr> 
    <th> 
      <h2 style='text-align:center' translate-once="TORRENTDIALOG/placeholder"></h2>
    </tr>
  </tbody> 
  <tbody ng-show="!searching && error != false && error != 'null' ">
  <tr> 
    <th> 
      <h1 style='text-align:center'> :( </h1>
      <h2 style='text-align:center'>{{error}}<h2>
    </tr>
  </tbody>  
  <tbody ng-show="!searching && items.length > 0">
    <tr>
      <th>&nbsp;</th>
      <th>
        <strong translate-once="TORRENTDIALOG/name/lbl"></strong>
      </th>
      <th>
        <strong translate-once="TORRENTDIALOG/size/lbl"></strong>
      </th>
      <th>
        <strong translate-once="TORRENTDIALOG/seed/lbl"></strong>
      </th>
      <th>
        <strong translate-once="TORRENTDIALOG/leech/lbl"></strong>
      </th>

    </tr>
    <tr ng-repeat="seed in items | limitTo: 20">
      <td style='width:80px; padding:5px; vertical-align: top;'>
        <a ng-click="select(seed)">
          <i class="glyphicon glyphicon-magnet" tooltip="{{'TORRENTDIALOG/download-magnet/tooltip'|translate}}"></i>
        </a>
        <a ng-href="{{::seed.torrent}}">
          <i class="glyphicon glyphicon-download" tooltip="{{'TORRENTDIALOG/download-torrent/lbl'|translate}}"></i>
        </a>

        <a ng-href="{{::seed.magneturl}}">
          <i class="glyphicon glyphicon-link" tooltip="{{'TORRENTDIALOG/magnet/link/lbl'|translate}}"></i>
        </a>
        <a ng-href="{{::seed.detailUrl}}" target='_blank'>
          <i class="glyphicon glyphicon-info-sign" tooltip="{{'COMMON/torrent-details/lbl'|translate}}"></i>
        </a>
      </td>
      <td>
        <a ng-bind-html="::seed.releasename | unsafe" ng-click="select(seed)"></a>
      </td>
      <td>
        <a ng-bind-html="::seed.size" ng-click="select(seed)" style='white-space:nowrap'></a>
      </td>
      <td style='width:50px; text-align:right'>
        <a  ng-bind="::seed.seeders" ng-click="select(seed)"></a>
      </td>
      <td style='width:50px; text-align:right'>
        <a  ng-bind="::seed.leechers" ng-click="select(seed)"></a>
      </td>
    </tr>
  </tbody>
</table>
