<!-- torrentClient.html -->
<div class="leftpanel torrents">
	<div style=''>
		<h2>DuckieTorrent {{::getTorrentClientName()}} {{'TORRENTCLIENT/hdr'|translate}}</h2>
		<div class="alert alert-info" ng-if="getTorrentClientName()  == 'uTorrent'"><button class='btn btn-small btn-warning' style='float:right' ng-click='removeToken()' translate>TORRENTCLIENT/clear-authority/btn</button><strong><translate>TORRENTCLIENT/desc/p1</translate><a style="color: #428bca" href='http://www.utorrent.com/downloads/complete/os/win/track/alpha'>v3.4.1+</a>{{'TORRENTCLIENT/desc/p2'|translate}}</strong><span translate>TORRENTCLIENT/desc/p3</span></div>
		<div ng-show="!rpc" style='padding:40px; text-align;center'>
			<img ng-src="img/torrentclients/{{getTorrentClientName().toLowerCase()}}.png" class="spin" style="width: 100%; height: 100%">

			<h2>{{'TORRENTCLIENT/connecting/hdr'|translate}} {{::getTorrentClientName()}}</h2>
			<strong style=' display:block; text-align:center;'>{{'TORRENTCLIENT/please-wait/lbl'|translate}}</strong>
		</div>
		<h4 ng-if="rpc">{{'TORRENTCLIENT/torrents-found/hdr'|translate}}{{rpc.getTorrents().length}}</h4>
	</div>
	<div class="torrent no-hover" ng-repeat="torrent in rpc.getTorrents()| orderBy:'getStarted()':true">
		<strong ng-click="isCollapsed = !isCollapsed">{{::torrent.getName()}}</strong>	
		<div class="progress-striped progress">
			<div class="progress-bar progress-bar-success" ng-style="{ width: torrent.getProgress() + '%' }">
				<span>{{torrent.getProgress()}}%</span>
			</div>
		</div>
      	<div collapse="!isCollapsed">
      		<div class="buttons">
	      		<div class="torrent-mini-remote-control">
	      			<span class="label label-info">{{torrent.getFormattedStatus()}}</span>	
					<i ng-hide="torrent.getProgress() == ''" class="glyphicon glyphicon-magnet"></i>
					<i ng-if="torrent.getProgress() == ''" class="glyphicon glyphicon-magnet spin" tooltip="{{'TORRENTCLIENT/please-wait/tooltip'|translate}}" tooltip-append-to-body="true"></i>

					<a ng-click="torrent.start();" style='display:inline-block'><i class="glyphicon glyphicon-play"></i>{{'TORRENTCLIENT/start/glyph'|translate}}</a>
					<a ng-click="torrent.pause();" style='display:inline-block'><i class="glyphicon  glyphicon-pause"></i>{{'TORRENTCLIENT/pause/glyph'|translate}}</a>
					<a ng-click="torrent.stop();"  style='display:inline-block'><i class="glyphicon glyphicon-stop"></i>{{'TORRENTCLIENT/stop/glyph'|translate}}</a>
					<a ng-if="torrent.properties.all.is_streamable && getSetting('torrenting.streaming')" style="margin-top: 5px" ng-click="torrent.stream();"><i class="glyphicon glyphicon-bullhorn"></i> <translate>TORRENTCLIENT/stream-play/glyph</translate></a>   
	  				<a ng-if="getSetting('torrenting.directory') && torrent.open_containing" ng-click="torrent.open_containing();" style="margin-top: 5px" ><i class="glyphicon glyphicon-folder-open" style='padding-right: 10px'></i>{{'TORRENTCLIENT/open-folder/glyph'|translate}}</a> 
					<a ng-click="torrent.getFiles()" ng-if="torrent.getFiles" style="margin-top: 5px" ><i class="glyphicon glyphicon-folder-open" style='padding-right: 10px'></i>{{'TORRENTCLIENT/show-files/glyph'|translate}}</a>
			     	<div ng-if="torrent.files">
			     		<p ng-repeat="file in torrent.files">{{file.name}}</p>
			     	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="rightpanel"></div>