<!--
  - torrentMiniRemoteControl.html
  - Currently unusued, use to be used in the old event dropdowns
  -->
<div class="torrent-mini-remote-control">
  <i class="glyphicon glyphicon-magnet"></i><span translate-once="TORRENTMRC/hdr"></span>
  <a ng-click="remote.torrent.start();" style='display:inline-block'><i class="glyphicon glyphicon-play"></i> <span translate-once="COMMON/start/btn"></span></a>
  <a ng-click="remote.torrent.pause();" style='display:inline-block'><i class="glyphicon  glyphicon-pause"></i> <span translate-once="COMMON/pause/btn"></span></a>
  <a ng-click="remote.torrent.stop();"  style='display:inline-block'><i class="glyphicon glyphicon-stop"></i> <span translate-once="COMMON/stop/btn"></span></a>
  
  <a ng-if="remote.torrent.properties.all.is_streamable && getSetting('torrenting.streaming')" style="margin-top: 5px" ng-click="remote.torrent.stream();"><i class="glyphicon glyphicon-bullhorn"></i>  <span translate-once="COMMON/stream-play/btn"></span></a>   
  <a ng-if="getSetting('torrenting.directory') && remote.torrent.open_containing" ng-click="remote.torrent.open_containing();" style="margin-top: 5px" ><i class="glyphicon glyphicon-folder-open" style='padding-right: 10px'></i> <span translate-once="COMMON/open-folder/btn"></span></a> 
  <a ng-if="remote.torrent.getFiles" ng-click="remote.torrent.getFiles();" style="margin-top: 5px" ><i class="glyphicon glyphicon-folder-open" style='padding-right: 10px'></i> <span translate-once="COMMON/show-files/btn"></span></a>
  <ul ng-if="remote.torrent.files">
    <li ng-repeat="file in remote.torrent.files">{{file.name }}</li>
  </ul> 
</div>
