<!-- torrentDialog.html -->
<button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
<h1 translate-once="TORRENTDIALOG/hdr"></h1>
<a href="#settings/torrent-search" ng-click="cancel()" style="float:right; margin-top:-25px;"> <i class="glyphicon glyphicon-cog"></i> <span translate-once="COMMON/torrent-search-settings/glyph"></span></a>
<input type="text" ng-model="query" ng-model-options="{debounce: 500}" focus-watch='searching' ng-change="search(query)" class="form-control" translate-once-placeholder="COMMON/type-your-search/lbl">
<i ng-show="loadingTPB" class="glyphicon glyphicon-refresh"></i>
<!-- quality list -->
<div class="btn-group" style='padding:5px 5px 5px 0px;vertical-align:initial'>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == ''}" ng-click="setQuality('');">All</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '480p'}" ng-click="setQuality('480p')">480p</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == 'HDTV'}" ng-click="setQuality('HDTV')">HDTV</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '720p'}" ng-click="setQuality('720p')">720p</button>
  <button type="button" class="btn btn-default" ng-class="{active: searchquality == '1080p'}" ng-click="setQuality('1080p')">1080p</button>
</div>
<!-- OrderBy sort button -->
<div ng-show="allowTDsortMenu && orderByList.length > 0" class="btn-group" uib-dropdown style="padding:5px 0px 0px 0px;vertical-align:top">
  <button type="button" class="btn dropdown-toggle" uib-dropdown-toggle style="background-color:transparent;color:white;border-color: rgba(255,255,255,0.4)">
    <i class="glyphicon glyphicon-sort-by-attributes"></i>
    <span translate-once="SERIESLIST/TOOLS/FAVORITES/orderby/glyph"></span> 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="item in orderByList" ng-click="setOrderBy(item)">
      <label>{{translateOrderBy(item)}}  <span class="sortorder reverse" </span></label>
    </li> 
  </ul>
</div>
<!-- search Providers list -->
<div class="btn-group" style="padding:0px 5px 5px 0px;vertical-align:initial">
 <button ng-repeat="name in clients | orderBy: name" type="button" class="btn btn-default" ng-class="{'active': searchprovider == name}" ng-click="setProvider(name)">{{::name}}</button>
</div>
<!-- global include/exclude and size min/max check boxes -->
<table class="torrents table table-condensed white" style="margin-bottom:0px">
  <tbody>
    <tr>
      <th>
        <div class="checkbox">
          <input type="checkbox" ng-model="globalIncludeEnabled" ng-change="setGlobalIncludeState()" style="vertical-align:bottom;margin:0"><label><span translate-once="TORRENTDIALOG/search-include/lbl"></span> ({{globalInclude}})</label>
        </div>
      </th>
      <th>
        <div class="checkbox">
          <input type="checkbox" ng-model="globalExcludeEnabled" ng-change="setGlobalExcludeState()" style="vertical-align:bottom;margin:0"><label><span translate-once="TORRENTDIALOG/search-exclude/lbl"></span> ({{globalExclude}})</label>
        </div>
      </th>
      <th ng-show="serie.customSearchSizeMin == null">
        <div class="checkbox">
          <input type="checkbox" ng-model="globalSizeMinEnabled" ng-change="setGlobalSizeMinState()" style="vertical-align:bottom;margin:0"><label><span translate-once="TORRENTDIALOG/search-global-size-min/lbl"></span> ({{globalSizeMin}}) MB</label>
        </div>
      </th>
      <th ng-show="serie.customSearchSizeMin != null">
        <div class="checkbox">
          <input type="checkbox" ng-model="globalSizeMinEnabled" ng-change="setGlobalSizeMinState()" style="vertical-align:bottom;margin:0"><label><span translate-once="TORRENTDIALOG/search-custom-size-min/lbl"></span> ({{serie.customSearchSizeMin}}) MB</label>
        </div>
      </th>
      <th ng-show="serie.customSearchSizeMax == null">
        <div class="checkbox">
          <input type="checkbox" ng-model="globalSizeMaxEnabled" ng-change="setGlobalSizeMaxState()" style="vertical-align:bottom;margin:0"><label><span translate-once="TORRENTDIALOG/search-global-size-max/lbl"></span> ({{globalSizeMax}}) MB</label>
        </div>
      </th>
      <th ng-show="serie.customSearchSizeMax != null">
        <div class="checkbox">
          <input type="checkbox" ng-model="globalSizeMaxEnabled" ng-change="setGlobalSizeMaxState()" style="vertical-align:bottom;margin:0"><label><span translate-once="TORRENTDIALOG/search-custom-size-max/lbl"></span> ({{serie.customSearchSizeMax}}) MB</label>
        </div>
      </th>
    </tr>
  </tbody>
</table>
<!-- search results -->
<table class="torrents table table-condensed white">
  <thead>
    <tr ng-show="searching">
      <td>
         <loading-spinner style="margin:0 auto; display:block; width:50px; height:50px; position:relative;"></loading-spinner>
        <p style='text-align:center; padding:10px;'><span translate-once="COMMON/searching/lbl"></span> {{getName(searchprovider)}}<span translate-once="COMMON/searching-please-wait/lbl"></span>.</p>
      </td>
    </tr>
  </thead>
  <tbody ng-show="!searching && items.length == 0">
    <tr>
      <th>
        <p translate-once="COMMON/no-results/lbl"></p>
        "<strong>{{query}} {{searchquality}}</strong>"
      </th>
    </tr>
  </tbody>
  <tbody ng-show="!searching && error == 'null' ">
  <tr> 
    <th> 
      <h2 style='text-align:center' translate-once="COMMON/type-your-search/lbl"></h2>
    </tr>
  </tbody> 
  <tbody ng-show="!searching && error != false && error != 'null' ">
  <tr> 
    <th> 
      <h1 style='text-align:center'> :( </h1>
      <h2 style='text-align:center'>{{error}}<h2>
    </tr>
  </tbody>  
  <tbody ng-show="!searching && items.length > 0">
    <tr>
      <th>&nbsp;</th>
      <th>
        <strong translate-once="COMMON/torrent-name/lbl"></strong>
      </th>
      <th ng-show="orderBy == 'size' || orderByList.indexOf('size') == -1" style="text-align:right">
        <strong translate-once="COMMON/torrent-size/lbl"></strong>
      </th>
      <th ng-show="orderBy != 'size' && orderByList.indexOf('size') > -1" style="cursor: pointer;text-align:right">
        <u uib-tooltip="{{'TORRENTDIALOG/sort-column/tooltip'|translate}}" tooltip-append-to-body="true"><strong ng-click="setOrderBy('size')" translate-once="COMMON/torrent-size/lbl"></strong></u>
      </th>
      <th ng-show="orderBy == 'seeders' || orderByList.indexOf('seeders') == -1" style="text-align:right">
        <strong translate-once="COMMON/torrent-seed/lbl"></strong>
      </th>
      <th ng-show="orderBy != 'seeders' && orderByList.indexOf('seeders') > -1" style="cursor: pointer;text-align:right">
        <u uib-tooltip="{{'TORRENTDIALOG/sort-column/tooltip'|translate}}" tooltip-append-to-body="true"><strong ng-click="setOrderBy('seeders')" translate-once="COMMON/torrent-seed/lbl"></strong></u>
      </th>
      <th ng-show="orderBy == 'leechers' || orderByList.indexOf('leechers') == -1" style="text-align:right">
        <strong translate-once="COMMON/torrent-leech/lbl"></strong>
      </th>
      <th ng-show="orderBy != 'leechers' && orderByList.indexOf('leechers') > -1" style="cursor: pointer;text-align:right">
        <u uib-tooltip="{{'TORRENTDIALOG/sort-column/tooltip'|translate}}" tooltip-append-to-body="true"><strong ng-click="setOrderBy('leechers')" translate-once="COMMON/torrent-leech/lbl"></strong></u>
      </th>

    </tr>
    <tr ng-repeat="seed in items | limitTo: 20" class="no-animate">
      <td style='width:80px; padding:5px; vertical-align: top;'>
        <a ng-click="select(seed)">
          <i class="glyphicon glyphicon-magnet" uib-tooltip="{{'COMMON/download-magnet/tooltip'|translate}}"></i>
        </a>
        <a ng-if="seed.torrent" ng-href="{{::seed.torrent}}" target="iframe_a">
          <i class="glyphicon glyphicon-download" uib-tooltip="{{'COMMON/download-torrent/tooltip'|translate}}"></i>
        </a>
        <a ng-if="!seed.torrent">
          <i class="glyphicon glyphicon-download" style="color:gray"></i>
        </a>
        <a ng-if="seed.magneturl"ng-href="{{::seed.magneturl}}" target="iframe_a">
          <i class="glyphicon glyphicon-link" uib-tooltip="{{'COMMON/magnet-link/tooltip'|translate}}"></i>
        </a>
        <a ng-if="!seed.magneturl">
          <i class="glyphicon glyphicon-link" style="color:gray"></i>
        </a>
        <a ng-if="seed.detailUrl" ng-href="{{::seed.detailUrl}}" target='_blank'>
          <i class="glyphicon glyphicon-info-sign" uib-tooltip="{{'COMMON/torrent-details/lbl'|translate}}"></i>
        </a>
        <a ng-if="!seed.detailUrl">
          <i class="glyphicon glyphicon-info-sign" style="color:gray"></i>
        </a>
      </td>
      <td>
        <a ng-bind-html="::seed.releasename | unsafe" ng-click="select(seed)"></a>
      </td>
      <td style="text-align:right">
        <a ng-bind-html="::seed.size" ng-click="select(seed)" style='white-space:nowrap'></a>
      </td>
      <td style='width:50px; text-align:right'>
        <a  ng-bind="::seed.seeders" ng-click="select(seed)"></a>
      </td>
      <td style='width:50px; text-align:right'>
        <a  ng-bind="::seed.leechers" ng-click="select(seed)"></a>
      </td>
    </tr>
  </tbody>
</table>
<iframe name="iframe_a" style="border:none;visibility:hidden" height="1" width="1"></iframe>
