<div ng-controller="Top10Pirated">
  <div ng-if="items.length > 0">
   <button ng-click="prevItem()"> &lt; Previous </button>
   <button ng-click="nextItem()"> &gt; Next </button>
    <div ng-if="activeItem">
    <h2>{{activeItem.title}}</h2>
      <table class="table table-condensed table-light" style='background-color: black;'>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Info</th>
          </tr>
        </thead>
        <tr ng-repeat="row in activeItem.top10">

          <td>
            <strong style='color:white'>{{ row.rank }} / ({{ row.prevRank }})</strong>
          </td>
          <td>
            <a href="{{row.imdb}}">
              <strong>{{row.title}}</strong>
            </a>
          </td>
          <td>{{row.rating}}</td>
          <td><a href="{{ row.trailer }}" tooltip="Watch Trailer" target="_blank"><i class="glyphicon glyphicon-film"></i></a> 
            <torrent-dialog q="row.title"></torrent-dialog>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
