<table style='width:100%'>
  <tr>
    <td style='width:30px; padding:5px;'>
      <a href="{{match.model.magneturl}}">
        <img src="img/icon-magnet.gif" alt="{{'TYPEAHEAD-download-tooltip'|translate}}" />
      </a>
    </td>
    <td tooltip="Size: {{match.model.size}}"><a href="{{match.model.magneturl}}">{{match.model.releasename}}</a>
    </td>
    <td style='width:50px'>
      <span tooltip="{{'TYPEAHEAD-seeders-tooltip'|translate}}">{{match.model.seeders}}</span>
    </td>
    <td style='width:50px'>
      <span tooltip="{{'TYPEAHEAD-leechers-tooltip'|translate}}">{{match.model.leechers}}</span>
    </td>
  </tr>
</table>
</div>
