<h1>Welcome to DuckieTV v0.90!</h1>

<p>This release features: <ul>
<li>A brand new Trakt.TV v2 API, resolving problems that you all have had the last couple of weeks.
<li>ThePirateBay (r.i.p.) was dropped from theTorrent Dialog, in place we have 3 new (semi-configurable) engines including OldPirateBay
<li>Shows like 'The Daily Show' that are released with DD-MM-YYYY formats instead of SxxExx in torrents are now supported properly (including timezone offset)  
<li>Updated translations for Italian thanks to lamaresh
<li>Updated translations for Dutch (Sorry medelanders, ik schaam me diep!)
<li>Completely removed the buggy chrome timers in favour of a once-per-day update check based on what's new on Trakt.TV
<li>Fixed a bug where the locale/language was not properly detected (added fallback to english)
<li>Many many speed and performance improvements
<li>Temporarily disabled DuckieTV syncing to Chrome storage and Trakt.TV (Import does work!)
</ul>

<p>A lot has changed, I hope you like it!</p> 

<p><strong>If you are migrating from a previous version, please keep this tab open until the database update indicator is done!</strong></p>
