<!-- autodlstatus.html -->
<div id="autodlstatuspage">
  <h2>Auto-Download Status</h2>
  &nbsp;
  <table class="table table-condensed table-light" colspan='2' style="background-color: rgba(0,0,0,0.0); color:white; border-top:0px; word-break:break-word">
    <tbody>
      <tr>
        <td><strong>Status:</strong>{{status}}</td>
        <td><strong>Last Run:</strong>{{lastRun | date: 'medium'}}</td>
      </tr>
      <tr>
        <td><strong>Minimum Seeders:</strong>{{minSeeders}}</td>
        <td><strong>Next Run:</strong>{{nextRun | date: 'medium'}}</td>
      </tr>
      <tr>
        <td><strong>Scan Period:</strong>{{period}}</td>
        <td><strong>Scan Range:</strong>{{fromDT | date: 'short'}} - {{toDT | date: 'short'}}</td>
      </tr>
      <tr>
        <td><strong>Global Include List:</strong>{{globalInclude}}</td>
        <td><strong>Global Exclude List:</strong>{{globalExclude}}</td>
      </tr>
    </tbody>
      <tr>
        <td><strong>Global Quality:</strong>{{globalQuality}}</td>
        <td><strong>Search Engine:</strong>{{searchEngine}}</td>
      </tr>
  </table>
  <hr class="setting-divider">
  <table ng-show="status == 'active'" class="table table-condensed table-light" colspan='5' style="background-color: rgba(0,0,0,0.0); color:white; border-top:0px; word-break:break-word">
    <thead>
      <tr>
        <th style="width:460px" align="center">Search criteria for {{lastRun | date: 'medium'}}</th>
        <th style="width:40px" align="center" tooltip="Custom Search String" tooltip-append-to-body="true">CSS</th>
        <th style="width:40px" align="center" tooltip="Ignore Global Quality" tooltip-append-to-body="true">IGQ</th>
        <th style="width:40px" align="center" tooltip="Ignore Global Includes" tooltip-append-to-body="true">IGI</th>
        <th style="width:40px" align="center" tooltip="Ignore Global Excludes" tooltip-append-to-body="true">IGE</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody ng-show="activityList.length == 0">
      <tr>
        <td><h3 ng-show="activityList.length == 0">No Activity, {{getTorrentClientNameAndStatus()}}</h3></td>
      </tr>
    </tbody>
    <tbody ng-show="activityList.length != 0">
      <tr ng-repeat="item in activityList | orderBy: 'search'">
        <td width='460px'>{{item.search}}</td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.css == 1, 'glyphicon-remove' : item.css == 0 }" tooltip="{{getTooltip('css', item.css)}}"></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.igq == 1, 'glyphicon-remove' : item.igq == 0 }" tooltip="{{getTooltip('igq', item.igq)}}"></></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.igi == 1, 'glyphicon-remove' : item.igi == 0 }" tooltip="{{getTooltip('igi', item.igi)}}"></></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.ige == 1, 'glyphicon-remove' : item.ige == 0 }" tooltip="{{getTooltip('ige', item.ige)}}"></></div></td>
        <td>{{item.status}}</td>
      </tr>
    </tbody>
  </table>
  <table ng-show="status == 'inactive'" class="table table-condensed table-light" style="background-color: rgba(0,0,0,0.0); color:white; border-top:0px; word-break:break-word">
    <thead>
      <tr>
        <td><h3>No Activity, {{getTorrentClientNameAndStatus()}}</h3></td>
      </tr>
    </thead>
  </table>
  <hr class="setting-divider" ng-show="activityList.length != 0 || status == 'inactive'">
</div>