<!-- autodlstatus.html -->
<div id="autodlstatuspage">
  <h2 translate-once="COMMON/auto-download-status/hdr"></h2>
<a href="#settings/torrent" style="float:left; margin-top:-25px;"> <i class="glyphicon glyphicon-cog"></i> <span translate-once="COMMON/torrent-settings/hdr"></span></a>
<a href="#settings/torrent-search" style="float:right; margin-top:-25px;"> <i class="glyphicon glyphicon-cog"></i> <span translate-once="COMMON/torrent-search-settings/glyph"></span></a>
  &nbsp;
  <table class="table table-condensed table-light" colspan='2' style="background-color: rgba(0,0,0,0.0); color:white; border-top:0px; word-break:break-word">
    <tbody>
      <tr>
        <td><strong translate-once="COMMON/status/hdr"></strong>: {{status}}</td>
        <td><strong translate-once="AUTODLSTATUS/last-run/hdr"></strong>: {{lastRun | date: 'medium'}}</td>
      </tr>
      <tr>
        <td><strong translate-once="AUTODLSTATUS/min-seeders/hdr"></strong>: {{minSeeders}}</td>
        <td><strong translate-once="AUTODLSTATUS/next-run/hdr"></strong>: {{nextRun | date: 'medium'}}</td>
      </tr>
      <tr>
        <td><strong translate-once="AUTODLSTATUS/scan-period/hdr"></strong>: {{period}}</td>
        <td><strong translate-once="AUTODLSTATUS/scan-range/hdr"></strong>: {{fromDT | date: 'short'}} - {{toDT | date: 'short'}}</td>
      </tr>
      <tr>
        <td><strong translate-once="COMMON/global-include/hdr"></strong>: {{globalInclude}}</td>
        <td><strong translate-once="COMMON/global-exclude/hdr"></strong>: {{globalExclude}}</td>
      </tr>
      <tr>
        <td><strong translate-once="COMMON/global-size-min/hdr"></strong>: {{globalSizeMin}}{{(globalSizeMin)?' MB':''}}</td>
        <td><strong translate-once="COMMON/global-size-max/hdr"></strong>: {{globalSizeMax}}{{(globalSizeMax)?' MB':''}}</td>
      </tr>
    </tbody>
      <tr>
        <td><strong translate-once="COMMON/global-quality/hdr"></strong>: {{globalQuality}}</td>
        <td><strong translate-once="AUTODLSTATUS/search-engine/hdr"></strong>: {{searchEngine}}</td>
      </tr>
  </table>
  <hr class="setting-divider">
  <table ng-show="isActive()" class="table table-condensed table-light" colspan='5' style="background-color: rgba(0,0,0,0.0); color:white; border-top:0px; word-break:break-word">
    <thead>
      <tr>
        <th style="width:435px" align="center"><span translate-once="AUTODLSTATUS/search-criteria/hdr"></span>{{lastRun | date: 'medium'}}</th>
        <th style="width:45px" align="center" uib-tooltip="{{'COMMON/custom-search-size-min-max/lbl'|translate}}" tooltip-append-to-body="true">CSM</th>
        <th style="width:40px" align="center" uib-tooltip="{{'COMMON/custom-search-string/lbl'|translate}}" tooltip-append-to-body="true">CSS</th>
        <th style="width:40px" align="center" uib-tooltip="{{'COMMON/ignore-global-quality/lbl'|translate}}" tooltip-append-to-body="true">IGQ</th>
        <th style="width:40px" align="center" uib-tooltip="{{'COMMON/ignore-global-includes/lbl'|translate}}" tooltip-append-to-body="true">IGI</th>
        <th style="width:40px" align="center" uib-tooltip="{{'COMMON/ignore-global-excludes/lbl'|translate}}" tooltip-append-to-body="true">IGE</th>
        <th translate-once="COMMON/status/hdr"></th>
      </tr>
    </thead>
    <tbody ng-show="activityList.length == 0">
      <tr>
        <td><h3 ng-show="activityList.length == 0">{{getTorrentClientNameAndStatus()}}</h3></td>
      </tr>
    </tbody>
    <tbody ng-show="activityList.length != 0">
      <tr ng-repeat="item in activityList | orderBy: 'search'">
        <td ng-hide="item.status > 3" width='400px'>{{item.search}}{{item.searchProvider}}{{item.csmExtra}}</td>
        <td ng-show="item.status > 3" width='400px'>{{item.search}}{{item.searchProvider}}{{item.csmExtra}}&nbsp;
          <torrent-dialog q="item.search"></torrent-dialog>
        </td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.csm == 1, 'glyphicon-remove' : item.csm == 0 }" uib-tooltip="{{getTooltip('csm', item.csm)}}"></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.css == 1, 'glyphicon-remove' : item.css == 0 }" uib-tooltip="{{getTooltip('css', item.css)}}"></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.igq == 1, 'glyphicon-remove' : item.igq == 0 }" uib-tooltip="{{getTooltip('igq', item.igq)}}"></></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.igi == 1, 'glyphicon-remove' : item.igi == 0 }" uib-tooltip="{{getTooltip('igi', item.igi)}}"></></div></td>
        <td style="width:40px" align="center"><div class="glyphicon" ng-class="{ 'glyphicon-ok' : item.ige == 1, 'glyphicon-remove' : item.ige == 0 }" uib-tooltip="{{getTooltip('ige', item.ige)}}"></></div></td>
        <td>{{getStatusCode(item.status, item.extra)}}</td>
      </tr>
    </tbody>
  </table>
  <table ng-show="!isActive()" class="table table-condensed table-light" style="background-color: rgba(0,0,0,0.0); color:white; border-top:0px; word-break:break-word">
    <thead>
      <tr>
        <td><h3>{{getTorrentClientNameAndStatus()}}</h3></td>
      </tr>
    </thead>
  </table>
  <hr class="setting-divider" ng-show="activityList.length != 0 || !isActive()">
</div>