 <div>
    <h2>Episodes</h2>
    <table class="table table-condensed light" style='border: 1px solid #efefef; border-collapse:collapse; margin-top:10px;'>
      <tbody ng-if="!sidepanel.episodes">
        <tr>
          <td>{{'SERIE/fetching-episodes/lbl'|translate}}</td>
        </tr>
      </tbody>
      <tbody ng-if="sidepanel.episodes">
        <tr ng-repeat="episode in sidepanel.episodes | orderBy: sidepanel.getSortEpisodeNumber:true">
          <td style="width:70px">
            <a>{{episode.getFormattedEpisode()}}</a>
          </td>
          <td>
            <a tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-html-unsafe="<strong>{{sidepanel.serie.name}} {{getEpisodeNumber(episode)}}</h2><p>{{episode.episodename}}</strong><p>{{episode.overview}}</p>">{{ episode.episodename }}</a>
          </td>
          <td>
            <episode-watched ng-if="episode.hasAired()"></episode-watched>
          </td>
        </tr>
      </tbody>
    </table>
</div>