<div class="episodes">
    <h2 style='color:white'>{{sidepanel.season.seasonnumber == 0 ? 'Specials' : 'Season '+sidepanel.season.seasonnumber}}</h2>
    <p>{{sidepanel.season.overview}}</p>
    <strong>Episodes</strong>
    <table class="table table-condensed light" style='margin-top:10px; background-color:transparent'>
      <tbody ng-if="!sidepanel.episodes || sidepanel.episodes.length == 0">
        <tr>
          <td>{{'SERIE/fetching-episodes/lbl'|translate}}</td>
        </tr>
      </tbody>
      <tbody ng-if="sidepanel.episodes">
        <tr ng-repeat="episode in sidepanel.episodes | orderBy: sidepanel.getSortEpisodeNumber:true">
          <td style="width:70px">
            <a href="#/serie/{{sidepanel.serie.TVDB_ID}}/episode/{{episode.TVDB_ID}}">{{episode.getFormattedEpisode()}}</a>
          </td>
          <td>
            <a tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-html-unsafe="<strong>{{sidepanel.serie.name}} {{getEpisodeNumber(episode)}}</h2><p>{{episode.episodename}}</strong><p>{{episode.overview}}</p>" href="#/serie/{{sidepanel.serie.TVDB_ID}}/episode/{{episode.TVDB_ID}}">{{ episode.episodename }}</a>
          </td>
          <td style="width:55px">
            <episode-watched ng-if="episode.hasAired()"></episode-watched>
          </td>
        </tr>
      </tbody>
    </table>
</div>
