<div>
	<a tooltip="{{sidepanel.episode.downloaded ? 'SIDEPANEL/MARK-DOWNLOADED/marked-downloaded/tooltip' : 'SIDEPANEL/MARK-DOWNLOADED/marked-not-downloaded/tooltip'|translate}}">
	  <i class="glyphicon glyphicon-floppy-{{sidepanel.episode.downloaded ? 'saved' : 'disk'}}"></i>
	  <div style="display:inline-block">
	  	<strong>{{'SIDEPANEL/MARK-DOWNLOADED/mark-as/lbl'|translate}}&nbsp;</strong>
	  	<i class="glyphicon glyphicon-floppy-{{sidepanel.episode.downloaded ? 'disk' : 'saved'}}" style="float:right;font-size:14px;top: 6px;"></i>
	  </div>
	</a>
</div>