<div>
	<a ng-if="!sidepanel.episode.downloaded" tooltip="{{'SIDEPANEL/MARK-DOWNLOADED/marked-not-downloaded/tooltip'|translate}}">
        <i class="glyphicon glyphicon-floppy-disk"></i><div style="display:inline-block"><strong>{{'SIDEPANEL/MARK-DOWNLOADED/mark-as/lbl'|translate}}&nbsp;</strong><i class="glyphicon glyphicon-floppy-saved" style="float:right;font-size:14px;top: 6px;"></i></div>
	</a>
	<a ng-if="sidepanel.episode.downloaded" tooltip="{{'SIDEPANEL/MARK-DOWNLOADED/marked-downloaded/tooltip'|translate}}">
        <i class="glyphicon glyphicon-floppy-saved"></i><div style="display:inline-block"><strong>{{'SIDEPANEL/MARK-DOWNLOADED/mark-as/lbl'|translate}}&nbsp;</strong><i class="glyphicon glyphicon-floppy-disk" style="float:right;font-size:14px;top: 6px;"></i></div>
	</a>
</div>