<a class="mark-button mark-downloaded-button" uib-tooltip="{{getDToolTip(sidepanel.episode)}}">
  <table>
    <tr>
      <td class="left-glyph">
        <i class="glyphicon glyphicon-floppy-{{sidepanel.episode.downloaded ? 'saved' : 'disk'}}"></i>
      </td>
      <td class="right-text-glyph">
        <strong><span translate-once>COMMON/mark-as/lbl</span>&nbsp;</strong>
        <i class="glyphicon glyphicon-floppy-{{sidepanel.episode.downloaded ? 'disk' : 'saved'}}"></i>
      </td>
    </tr>
  </table>
</a>