<div class="seasons miniposter" style="text-align:center">
  <h2 style='border-bottom: 1px solid white; padding:5px;margin-bottom:15px'><h2cont translate-once="COMMON/seasons/lbl"></h2cont>
    <small style='float:right' translate-once="SIDEPANEL/SEASONS/click-to-see/lbl"></small>
  </h2>

  <serieHeader ng-repeat="season in seasons.seasons" data="season" no-badge="0" no-button="1" no-title="1" no-overview="1" mode="poster" ui-sref="serie.season({season_id: season.ID_Season})">
    <p style="text-align:center">
      <strong style='color:white'>{{seasons.getPosterLabel(season.seasonnumber)}}</strong>
    </p>
  </serieHeader>
</div>
<div>
  <table class="buttons" width="100%" border="0">
    <tr class="two-face">
      <td>
        <a ng-click="seasons.markAllWatched()">
          <i class="glyphicon glyphicon-eye-open"></i><strong translate-once="COMMON/mark-all-watched/lbl"></strong>
        </a>
      </td>
    </tr>
  </table>
</div>