<div class="seasons" style="text-align:center">
  <h2 style='border-bottom: 1px solid white; padding:5px;'><h2cont translate-once="SIDEPANEL/SEASONS/seasons/hdr"></h2cont>
    <small style='float:right' translate-once="SIDEPANEL/SEASONS/click-to-see/lbl"></small>
  </h2>

  <div class='season' ng-repeat="season in seasons.seasons" style="display:inline-block;padding:10px;cursor:pointer" ui-sref="serie.season({season_id: season.ID_Season})">
    <em class="glyphicon glyphicon-eye-open" ng-show="season.watched" tooltip="{{'SIDEPANEL/SEASONS/season-watched/tooltip'|translate}}"></em>
    <p lazy-background="{{::season.poster}}" class="seasonposter"></p>
    <p style="text-align:center">
      <strong style='color:white'>{{season.seasonnumber == 0 ? 'Specials' : 'Season '+season.seasonnumber}}</strong>
    </p>
  </div>
</div>
<div>
  <table class="buttons" width="100%" border="0">
    <tr class="two-face">
      <td>
        <a ng-click="seasons.markAllWatched()">
          <i class="glyphicon glyphicon-eye-open"></i><strong translate-once="SIDEPANEL/SEASONS/mark-all-watched/lbl"></strong>
        </a>
      </td>
    </tr>
  </table>
</div>