<div class="serie-overview" style="color:black">
    <div class="serie-img poster large" lazy-background="{{::sidepanel.serie.poster}}" tooltip="{{::sidepanel.serie.name}}" tooltip-append-to-body="true" tooltip-placement="left">
      <em ng-show="sidepanel.serie.watched" class="badge" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="{{'COMMON/all-watched/tooltip'|translate}}">
        <i class="glyphicon glyphicon-eye-open" style="color:white !important"></i>
      </em>
      <em ng-show="!sidepanel.serie.watched" class="badge" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="{{::sidepanel.serie.notWatchedCount}} {{'COMMON/to-watch/tooltip'|translate}}">
        <i class="glyphicon glyphicon-eye-close" ></i> {{::sidepanel.serie.notWatchedCount}}
      </em>
    </div>
    <table class="metadata" width="100%" border="0" style="margin-top: 10px">
      <tbody>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/links/hdr"></th>
          <td><a style="text-decoration: underline" ng-href="http://www.google.com/search?q={{::sidepanel.serie.name}} (TV series)+Wikipedia&btnI=745" target="_blank">Wikipedia</a> <a style="text-decoration: underline" ng-href="http://www.imdb.com/title/{{::sidepanel.serie.IMDB_ID}}" ng-hide="serie.IMDB_ID < 1" target="_blank">IMDB</a></td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/airs-on/hdr"></th>
          <td>{{::sidepanel.translateDayOfWeek(sidepanel.serie.airs_dayofweek)}} {{::sidepanel.serie.airs_time}} {{::sidepanel.serie.timezone}}</td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/first-aired/hdr"></th>
          <td>{{::sidepanel.serie.firstaired|date:'medium'}}</td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/genre/hdr"></th>
          <td>
            <ul class="list-unstyled" ng-class="{'genres': sidepanel.serie.genre.split('|').length > 3}">
              <li ng-repeat="genre in sidepanel.serie.genre.split('|') track by $index">{{::sidepanel.translateGenre(genre)}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/content-rating/hdr"></th>
          <td>{{::sidepanel.serie.contentrating}}</td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/country/hdr"></th>
          <td>{{::sidepanel.serie.country}}</td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/network/hdr"></th>
          <td>{{::sidepanel.serie.network}}</td>
        </tr>
        <tr ng-show="getSetting('download.ratings')">
          <th translate-once="SIDEPANEL/SERIE-DETAILS/rating/hdr"></th>
          <td>{{::sidepanel.serie.rating}}% ({{::sidepanel.serie.ratingcount}} <span translate-once="SIDEPANEL/SERIE-DETAILS/votes/lbl"></span>)</td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/run-time/hdr"></th>
          <td>{{::sidepanel.serie.runtime}} <span translate-once="SIDEPANEL/SERIE-DETAILS/minutes/lbl"></span></td>
        </tr>
        <tr>
          <th translate-once="SIDEPANEL/SERIE-DETAILS/status/hdr"></th>
          <td>{{::sidepanel.translateStatus(sidepanel.serie.status)}}</td>
        </tr>
        <tr ng-if="sidepanel.serie.actors.length > 0  " >
          <th translate-once="SIDEPANEL/SERIE-DETAILS/actors/hdr"></th>
          <td>
            <ul class="actors list-unstyled">
              <li ng-repeat="actors in sidepanel.serie.actors.split('|') track by $index">{{::actors}}</li>
            </ul>
          </td>
        </tr>
        <tr style='border-top: 1px solid white'>
        <th colspan="2" style="text-align: center"><h3 style="margin:10px 0 10px 0" translate-once="SIDEPANEL/SERIE-DETAILS/it-would-take/hdr"></h3>
          <h1 style="margin:10px 0 10px 0" ng-if="sidepanel.totalRunTime">{{sidepanel.totalRunLbl}}</h1>

          <div style="position:relative" ng-show="!sidepanel.totalRunTime">
            <h3 style="margin:5px 0 5px 0"><h3cont translate-once="SIDEPANEL/SERIE-DETAILS/calculating/hdr"></h3cont>
              <loading-spinner class="small" style="margin:-2px 0 0 5px;position:absolute"></loading-spinner>
            </h3>
          </div>
          <h3 style='text-align:center;margin:10px 0 10px 0'><h3cont translate-once="SIDEPANEL/SERIE-DETAILS/to-binge-watch/hdr"></h3cont>{{::sidepanel.serie.name}}</h3>
          </th>
          </tr>
      </tbody>
    </table>
</div>  
