   <div lazy-background="{{sidepanel.serie.poster}}" class="serie-bg-img" ng-hide="bgtest"></div>
   <div class="leftpanel serie-overview">
    <h2>{{sidepanel.serie.name}}</h2>
    <table width="100%" border="0">
      <tbody class="metadata">
      
        <tr>
          <td colspan="2" style='padding:25px'>{{sidepanel.serie.overview}}</td>
        </tr>

  
      </tbody>
      <tbody class="buttons">
      <tr>
        <td colspan="2">
            <a ui-sref="serie.details()">
                <i class="glyphicon glyphicon-info-sign"></i><strong>{{'EVENT/dropdown-series-details/lbl'|translate}}</strong>
            </a>
        </td>
      </tr>
      <tr class="two-face">
        <td>
            <a ui-sref="serie.seasons({id: sidepanel.serie.ID_Serie})">
                <i class="glyphicon glyphicon-info-sign"></i><strong>Seasons</strong>
            </a>
        </td>
        <td>
            <a ui-sref="serie.season({id: sidepanel.serie.ID_Serie, season_id: sidepanel.latestSeason ? sidepanel.latestSeason.ID_Season : sidepanel.season.ID_Season})">
                <i class="glyphicon glyphicon-info-sign"></i><strong>Episodes</strong>
            </a>
        </td>
      </tr>
        <tr>
          <td colspan="2">
            <a ng-click="sidepanel.refresh(sidepanel.serie)">
              <i class="glyphicon glyphicon-refresh"></i>
              <strong>{{'SERIESLIST/FAVORITES/refresh-serie/tooltip'|translate}}</strong>
            </a>
          </th>
        </tr>
        <tr>
          <td colspan="2">
            <a ng-show="sidepanel.serie.displaycalendar == 1" ng-click="sidepanel.toggleSerieDisplay(sidepanel.serie)">
              <i class="glyphicon glyphicon-ban-circle"></i>
              <strong>{{'SERIEDETAILS/calendar-hide/btn'|translate}}</strong>
              </a>
            <a ng-show="sidepanel.serie.displaycalendar == 0" ng-click="sidepanel.toggleSerieDisplay(sidepanel.serie)">
               <i class="glyphicon glyphicon-ban-circle"></i>
               <strong>{{'SERIEDETAILS/calendar-show/btn'|translate}}</strong>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <a ng-click="sidepanel.removeFromFavorites(sidepanel.serie)" style="background-color:rgba(250,55,55,0.1)">
              <i class="glyphicon glyphicon-trash"></i>
              <strong>{{'SERIEDETAILS/delete-serie/btn'|translate}}</strong>
            </a>
          </th>
        </tr>
      </tbody>

      
      </tbody>
    </table>
  </div>
  <div class="rightpanel" ui-view="serieDetails">

  </div>
