<div class="leftpanel">
  <div class="episode">
  <h2><i class="glyphicon glyphicon-cog"></i> {{ 'SETTINGS/hdr'|translate }}</h2>

  <table class="buttons" width="100%" border="0">
   <tr>
      <td colspan="2">
          <a href="#/settings/display">
              <i class="glyphicon glyphicon-picture"></i><strong>{{ 'SETTINGS/display/hdr'|translate }}</strong>
          </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <a href="#/settings/backup">
               <i class="glyphicon glyphicon-cloud-download"></i><strong>Backup</strong>
          </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <a href="#/settings/calendar">
              <i class="glyphicon glyphicon-calendar"></i><strong>{{ 'CALENDAR/hdr'|translate}}</strong>
          </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <a href="#/settings/torrent">
              <i class="glyphicon glyphicon-magnet"></i><strong>{{ 'SETTINGS/torrent/hdr'|translate }}</strong>
          </a>
      </td>
    </tr>
     <tr ng-if="getSetting('torrenting.enabled')">
      <td colspan="2">
          <a href="#/settings/utorrent">
              <i class="glyphicon glyphicon-magnet"></i><strong>uTorrent Integration</strong>
          </a>
      </td>
    </tr>
     <tr ng-if="getSetting('torrenting.enabled')">
      <td colspan="2">
          <a href="#/settings/torrent-search">
              <i class="glyphicon glyphicon-search"></i><strong>Torrent Search Engines</strong>
          </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <a href="#/settings/trakttv">
              <i class="glyphicon glyphicon-cloud-upload"></i><strong>{{ 'SETTINGS/trakttv/hdr'|translate }}</strong>
          </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
          <a href="#/settings/sync">
              <i class="glyphicon glyphicon-retweet"></i><strong>Sync</strong>
          </a>
      </td>
    </tr>
   </table>
   </div>
</div>
<div class="rightpanel">
<div ng-if="sidepanel.tab" ng-include="'templates/settings/'+sidepanel.tab+'.html'" ng-controller="SettingsCtrl"></div>
    
</div>