<div class="leftpanel">
   <table style="width:100%">
    <tbody>
      <tr>
        <td colspan="2">
          <h3 style="text-align:center">{{sidepanel.serie.title}}</h3>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <center>
            <div class="poster large" style="background-size:100% 100%;background-position:center center;background-repeat:no-repeat;margin-bottom:5px" lazy-background="{{sidepanel.serie.poster}}"></div>
            <div style="color:rgb(208,208,208);font-size: 13px;text-align:justify"><p>{{sidepanel.serie.overview}}</p></div>
          </center>
        </td>
      </tr>
      <tr ng-if="sidepanel.serie.airs.day" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/airs-on/hdr"></th>
        <td>{{sidepanel.translateDayOfWeek(sidepanel.serie.airs.day)}} {{sidepanel.serie.airs.time}} {{sidepanel.serie.airs.timezone}}</td>
      </tr>
      <tr ng-if="sidepanel.serie.first_aired" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/first-aired/hdr"></th>
        <td>{{ sidepanel.serie.first_aired | date:'mediumDate' }}</td>
      </tr>
      <tr ng-if="sidepanel.serie.status" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/status/hdr"></th>
        <td>{{sidepanel.translateStatus(sidepanel.serie.status)}}</td>
      </tr>
      <tr ng-if="sidepanel.serie.genres" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/genre/hdr"></th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="genre in sidepanel.serie.genres track by $index">{{sidepanel.translateGenre(genre)}}</li>
          </ul>
        </td>
      </tr>
      <tr ng-if="sidepanel.serie.certification" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/content-rating/hdr"></th>
        <td>{{sidepanel.serie.certification}}</td>
      </tr>
      <tr ng-if="sidepanel.serie.country" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/country/hdr"></th>
        <td>{{sidepanel.serie.country}}</td>
      </tr>
      <tr ng-if="sidepanel.serie.network" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/network/hdr"></th>
        <td>{{sidepanel.serie.network}}</td>
      </tr>
      <tr ng-if="sidepanel.serie.rating" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/rating/hdr"></th>
        <td>{{sidepanel.ratingPercentage(sidepanel.serie.rating)}}% ({{sidepanel.serie.votes}} <span translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/votes/lbl"></span>)</td>
      </tr>
      <tr ng-if="sidepanel.serie.runtime" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/run-time/hdr"></th>
        <td>{{sidepanel.serie.runtime}}  <span translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/minutes/lbl"></span></td>
      </tr>
      <tr ng-if="sidepanel.serie.actors" >
        <th translate-once="SIDEPANEL/TRAKT-SERIE-DETAILS/actors/hdr"></th>
        <td>
          <ul class="list-unstyled">
            <li ng-repeat="actors in sidepanel.serie.actors track by $index">{{actors}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>